//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px) {

  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: 0px;   // Bootstrap default is -20px, not sure why that is -JF
  }
  
  // HEADER
  
  .responsiveLabel {
    display:none;
  }
  
  // keep logo at the same scale and position as the 768-979 responsive setup
  #logoImage {
    margin-top: 7px;
    margin-left: 4px;
    max-width: 112px;
    float:left;
  }

  .headerLinks {
    float:left;
    width: initial;
    margin-right: 6px; // for some reason this doesn't always load up correctly
  }  
  
  .headerLinks a {
    padding-right: 4%;
  }
    
  #homeNav {
    margin-left:8px;
  }
  
  #CreatePoint {
    margin-left:0px; //no longer on the grid
  }
  
  #searchArea {
    float: left;
    width: 154px;
  }
  
  .headerUserName {
    position: relative;
    right: 24px;
  }

  .aboutMenu {
    left:8px;
  }
  
  #notifications {
    width: 28px;
    position:relative;
    right:28px;
  }

  #notificationIcon {
    width: 28px;
    margin-right: 0;
  }
  
  #notificationCount {
    left: 37%;
  }
  
  .notificationAvatar {
    max-width: 22px;
    //float: left;
  }
  
  .notificationText {
    //float: left;
  }
  
}

// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px) {

  #homeNav {
    display:none;
  }
  
  #makePointIcon {
    margin-left:8px;
  }
  
  #searchArea {
    width: 130px;
  }
  
  #notifications {
    width: 24px;
    position:relative;
    right:39px;
  }
  
  #notificationIcon {
    width: 24px;
  }
  
  #notificationCount {
    top: 25%;
    left: 29%;
    line-height: @lineHeightBig;
  }
  
  .headerUserName {
    position: relative;
    right: 34px;
  }
  
  .userMenuArea #avatar {
    width: 30px;
    height: 30px;
  }
  
  .notification-menu {
    width: 340px;
  }
  
  .notificationText {
    width: 290px;
  }

}


// SMALLER PHONES
// ---------------------

@media (max-width: 420px) {

  .hidden-xxs {
    display: none;
  }
  .visible-xxs {
    display: inherit;   
  }

  #makePointIcon {
    margin-left: 6px;
  }
  
  #searchArea {
    width:118px;
  }
  
  .notification-menu {
    right: -55px !important; //need the important tag to override the pull-right>.dropdown-menu
    width: 305px;
  }
  
  .notificationText {
    width:254px;
  }
    
}