@import "variables.less"; // Modify this for custom colors, font-sizes, etc

// Positioning Grid setup
@cardWidth: 360px;
@indent: 15px;
@cardPadding: 8px;
@cardPaddingTop: @cardPadding * .75;

@marginVerticalStandard: 16px;
@marginVerticalSmall: 12px;

@cardListWidth: @cardWidth + @indent;

@smallGreyLinkColor: #a9a9a9;
@smallGreyLinkSize: 12px;


.row-fluid [class*=span] {
	min-height: auto;
}



// BG Pattern
//
// B/W version
@bgColor: white;
@bgGridColor: #f7f7f7;
@bgGridWidth: 6px;
@bgGridStroke: 2px;
body {
	background-color: @bgColor;
	background-size: @bgGridWidth @bgGridWidth;
    background-image: linear-gradient(to right, @bgGridColor @bgGridStroke, transparent @bgGridStroke), 
	                  linear-gradient(to bottom, @bgGridColor @bgGridStroke, transparent @bgGridStroke);
}
// BLUE version
/*
@bgColor: #F3FCFF;
@bgGridColor: #E1F6FF;
@bgGridWidth: 4px;
@bgGridStroke: 2px;
#header {
	background-color: #cff1fc;
}
*/
//////////////////////////////////


.pointStream {
	margin-top: 2 * @marginVerticalStandard;
	margin-left: 0;
}

.pointCardGroup {
}

.point-card {
	//background-color: red;
	display: flex; 
	//-webkit-flex: 1; /* Safari 6.1+ */
    //-ms-flex: 1;
	width: @cardWidth;
	border-width: 1px;
    border-color: grey;
    border-style: solid;
	margin-bottom: @marginVerticalStandard;
	background-color: white;
	padding: @cardPadding;
	padding-top: @cardPaddingTop;
}

.relevanceDisplay {
	position: relative;
	margin-left: @cardPadding;
	margin-bottom: 3px;
}

.relVoteGroup {
	position: relative;
    top: 2px; // not sure why this is nec
	margin-bottom: 0px;
	margin-left: 12px;
	padding: 0px
}

.relVoteLink {
	margin-left: 8px;
}

.fullWidthContent {
	padding-right: 12px;
}

.cardTopRow {
    font-size: @smallGreyLinkSize;
    color: @smallGreyLinkColor;
	margin-bottom: @marginVerticalSmall;
}

.cardTopRowItem {
	margin-right: 10px;
}

.cardTopRowIconWithStat {
	margin-right: 1px;
}

.byline {
	width: inherit;
	float: none;
}

.byline:hover {
	color: @grayTextLighter;
}


.pointText {
	margin-bottom: @marginVerticalSmall + 2px;
}

.pointTitle {
	color: black;
	//font-size: @fontSizeMedium; // @fontSizeBitLarge;
    font-weight:500; // using the "Book" weight of Meta, from TypeKit
	line-height: @lineHeightBigger;
    letter-spacing: @letterSpacingSubtle;	
	//margin-bottom: 17px; 
    //padding-left: 1px;
    //padding-right:4px;
}

.editLink {
	padding-left: 4px;
	padding-right: 4px;
	font-size: @smallGreyLinkSize;
    color: @smallGreyLinkColor !important;
	//font-style: italic;
}

.vote-stats {
    background: white;
    border: 1px black solid;
	width: 120px;
    position: relative;
    left: -6px;
    top: 24px;
}

.vote-stats p{
	padding: 4px;
	margin-bottom:4px;
}

.pointCardImageContainer {
	//display: flex;   
	//-webkit-flex: 1; /* Safari 6.1+ */
    //-ms-flex: 1;  /* IE 10 */ 
	//background-color: blue;
	padding-top: @cardPadding - @cardPaddingTop;

}

.pointCardImage {
	height: 100%;
    width: 100%;
	object-fit: cover;
}

.pointcardBottomRowAction {
	margin-right: 12px;
}
.agree {
	margin-right: 6px;
}


.supportHeading, .counterHeading {
	margin-bottom: 12px;
}


.evidenceList {
	display: inline-block;
	float: left;
	width: @cardListWidth;
	margin-left: @indent;
}

.point-card.counter {
	border-color: #ff5c5c;
}

.addEvidenceButton {
	margin-bottom: @marginVerticalStandard;
}






.hover {
    position: relative;
	cursor:pointer;

    &:hover &__no-hover {
        //opacity: 0;
		text-decoration:underline;
    }

    &:hover &__hover {
        opacity: 1;
		transform: scale(1); // undos the scale(0) in &__hover below
    }

    &__hover {
        position: absolute;
        top: 0;
        opacity: 0;
		transform: scale(0); // this prevents hover being activated by mousing over the invisible menu, there might be a more official way to do this? -JF
    }

    &__no-hover {
        opacity: 1;
    }
}

.point-card .agree.current-vote {
    color: green;
}

.point-card .disagree.current-vote {
    color: red;
}


// RESPONSIVE -- TO DO: move this to a separate css file

@media (max-width: 767px) {

  .point-card {
	//background-color: red;
	display: inline-block;
  }
  
  .pointCardImage {
	margin-top: 4px;
  }

}