.hover {
    position: relative;

    &:hover &__no-hover {
        opacity: 0;
    }

    &:hover &__hover {
        opacity: 1;
    }

    &__hover {
        position: absolute;
        top: 0;
        opacity: 0;
    }

    &__no-hover {
        opacity: 1;
    }
}

.vote-stats {
    background: white;
    border: 1px black solid;
}
