@import "variables.less"; // Modify this for custom colors, font-sizes, etc


// Positioning Grid setup
@cardWidth: 420px;
@indent: 45px;
@cardListWidth: @cardWidth + ( 4 * @indent);

@cardBorderWidth: 1px;
@cardPadding: 14px;
@cardPaddingRight: 12px;
@cardPaddingTop: @cardPaddingRight * .75;

@marginVerticalStandard: 16px;
@marginVerticalInsideCards: 14px;


// Colors
@darkerGreyColor: #5d5d5d;
@smallGreyLinkColor: #a9a9a9;
@smallGreyLinkSize: 12px;
@blue: hsl(196, 100%, 42%);
@blueLight: hsl(196, 100%, 60%);
@redLight: hsl(0, 100%, 48%);


// Typography
@baseFontSizeUX2: 16px;

@fontSizeActionsUX2: @baseFontSizeUX2 * 0.875; // ~14px
@fontSizeStatsUX2: @baseFontSizeUX2 * 0.875; // ~14px
@fontSizeButtonsUX2: @baseFontSizeUX2 * 0.875; // ~14px
@fontSizePointTitle: @baseFontSizeUX2 * 1.063; // ~17px
@arrowFontSizeUX2: @baseFontSizeUX2 * 1.125; // ~18px


// Animation
@hoverTransitionDuration: .08s;

// For testing
.quickTestRect {
  width: 100px;
  height: 100px;
  color: yellow;
  background-color: teal;
}

.hidden {
  display: none;
}

.number {
  font-family: "usual", sans-serif !important;
}

//for testing animation
.animPink {
  background: pink !important;
}

#mainContainer {
  // FOR INFINITE WIDTH VERSION
  width: auto;
  // FOR FINITE WIDTH COMMENT THIS LINE OUT
  /////////////////
  margin-left: 10%;
}

.row-fluid [class*=span] {
  min-height: auto;
}

a:hover {
    color: @blue ;
}

a:focus, a:hover {
  text-decoration: unset;
}

//////////////////////////////////////////////
// DROPDOWNS

@dropdownBorderColor: rgba(0,0,0,.1);
.dropdown-menu {
  padding: 0;
  border-radius: 5px;
    //background-color: #e1ffff;
  border: 1px solid @dropdownBorderColor;
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
}

.infoNonToggle, .infoToggle, .subInfoToggle, li {
  margin: 0;
  overflow: hidden;
}

.dropdown-menu .divider {
    border: none;
    height: 2px;
    margin: 0;
  background-color: rgba(0,0,0,.09);
}

.dropdownMenuCategory {
  padding: 4px;
  border-bottom: solid;
  border-bottom-color: rgba(0,0,0,.09);
  padding-top: 12px;
  padding-left: 24px;
}


.dropdown-menu>li>a, .dropdown-menu>li>span {
    padding:10px;
  display: inline-block;
  width: 100%;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover,
.dropdown-submenu:focus>a, .dropdown-submenu:hover>a {
  //color: @blue;
  font-weight: 800;
  //background-color: white;
  background-image: none;
  //text-decoration: underline;
}

.dropdown-menu-with-caret {
    top: 27px;
    left: -12px;
    margin: 0;
}

.dropdown-caret {
    position: absolute;
    top: -10.2px;
    left: 9px;
    width: 18px;
    height: 12px;
    float: left;
    overflow: hidden;
  z-index:5000;
}
.dropdown-caret .caret-outer {
    border-bottom: 10px solid black;
    border-bottom-color: @dropdownBorderColor;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: auto;
    left: 0;
    top: 0;
    width: auto;
  display: inline-block;
    margin-left: -1px;
  position: absolute;
}
.dropdown-caret .caret-inner {
  top: 1.5px;
    left: 0.5px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #fff;
    border-bottom-color: #fff;
  display: inline-block;
    margin-left: -1px;
  position: absolute;
}


//////////////////////////////////////////////






.bringToFront {
  z-index: 1000;
}

// BG Pattern
//
// B/W version
@bgColor: hsla(0, 0%, 99%, 1);
@bgGridColor: hsla(0, 0%, 96%, 1);
@bgGridWidth: 4px;
@bgGridStroke: 2px;
body {
  background-color: @bgColor;
  background-size: @bgGridWidth @bgGridWidth;
    background-image: linear-gradient(to right, @bgGridColor @bgGridStroke, transparent @bgGridStroke),
                    linear-gradient(to bottom, @bgGridColor @bgGridStroke, transparent @bgGridStroke);
}
// BLUE version
/*
@bgColor: #F3FCFF;
@bgGridColor: #E1F6FF;
@bgGridWidth: 4px;
@bgGridStroke: 2px;
#header {
  background-color: #cff1fc;
}
*/
//////////////////////////////////


// BLOCKS OF EVIDENCE

.pointStream {
  margin-top: 2 * @marginVerticalStandard;
  margin-left: 0;
  margin-bottom: 60px;
  margin-left: 32px;
}

.infiniteWidth {
  // FOR INFINITE WIDTH:
  width: max-content;
  width: -moz-max-content;
  margin-left: 72px;
}

.listedClaimGroup {
  width: auto;
  //max-width: 600px; // ONE COLUMN VERSION
}


// EVIDENCE BLOCK REVEAL ANIMATION:
// See also: DEALING CARDS ANIMATION

@keyframes evidenceBlockReveal {
   0% { max-height: 20px; opacity: 0;  }
   40% { opacity: 0; transform: translateY(-20px); } //  transform: scaleY(.5)
   80% {  max-height: 500px; transform: translateY(0) } //  transform: scaleY(1
   100% { max-height: 5000px; opacity: 1; }
}

.evidenceBlock {
  display: inline-block;
  transform-origin: top left;
  animation-name: evidenceBlockReveal;
    animation-duration: .3s;
  animation-timing-function: ease;
  //animation-timing-function: ease-out;
  animation-iteration-count: 1;
  background-color: #0000ff50;

  //position: relative;
  //z-index:-1;
}

.evidenceBlockEmpty {
  //position: relative;
  //margin-top:-2 * @marginVerticalStandard;
}


.supportHeading, .counterHeading {
  //margin-top: 20px;
  margin-left: @indent + @cardBorderWidth + @cardPadding + 15; //the extra covers the width of the cardstack
  margin-bottom: @marginVerticalStandard;
  color: @darkerGreyColor;
  text-transform: uppercase;
    font-size: @baseFontSize * 0.813; // ~13px
}

.counterHeading {
  color: @red;
}

.headingPlus {
  position:relative;
  top: -1px;
}

.sortBy {
  text-transform: normal;
  float: right;
}


.evidenceBlockCounter, .evidenceBlockSupport, .evidenceBlockEmpty {
  display: inline-block;
  float: left;
  //transition: 1s;
  //width: @cardListWidth;
}

.evidenceBlockEmpty {
  margin-left: @indent + 9px; // not sure why the 9px is nec
}

.evidenceList {
  margin-left: @indent; // Handled by relevanceLinkArea
  margin-top: @marginVerticalStandard - 6px; // subtract some for the arrow
}




// CARD PLACEMENT AND RELEVANCE

.listedClaimGroup {
  //margin-top: 1px;
}
.listedClaim {
  //padding-left: 3px;
  padding-right: @cardPadding * 2;;
  //padding-top: @cardPaddingTop;
  outline-style: none;
}

.removeOneIndent {
  position:relative;
  left: -1 * @indent;
}

@relevanceRevealDuration: .33s;
@relGroupHiliteBG: #fffbd1;
@keyframes relGroupHiliteReveal {
   0% {background-color: #fffbd100;  }
   100% { background-color: @relGroupHiliteBG; }
}

.relGroupHilite {
  animation-name: relGroupHiliteReveal;
    animation-duration: @relevanceRevealDuration;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  margin-bottom: @marginVerticalStandard * 1.3;
  background-color: @relGroupHiliteBG;
  max-width: @cardWidth * 1.1; // hacky - preventing this yellow area from expanding horizontally when evidence below it expands

}

.relevanceCtrlArea {
  //background-color: pink;
  //width: @cardWidth + (2 * @cardPadding);
  padding-bottom: 4px;
  margin-top: 11px; // needs to be pretty big to account for the possibility of a cardstack above it
  animation-name: relevanceCtrlAreaReveal;
    animation-duration: @relevanceRevealDuration;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}


@keyframes relevanceCtrlAreaReveal {
   0% { max-height: 0; opacity: 0;  }
   25% { opacity: 0; }
   60% { max-height: 160px; } // Needs to be set manually to match the height of the block, afaik, -JF
   100% { opacity: 1; }
}

.relCtrlLabel {
  margin-bottom: @marginVerticalInsideCards;
  padding-top: 10px;
}

.relCtrlClose {
  float: right;
  font-size: 27px;
  position: relative;
  margin-top: 2px;
  margin-right: 10px;
  cursor: pointer;
  font-family: serif;
  font-size: 24px;
}

.relCtrlClose a {
  color: @smallGreyLinkColor;
}

.relCtrlVoteOptions {
  margin-bottom: 18px;
  font-size:  @baseFontSizeUX2 * 1.5; // ~28px;
    font-weight: bold;
  position: relative;
    left: -14px;
}

.relevanceLinkArea {
  display: inline-block;
  vertical-align: top;
  width: @indent;
  text-align: right;
  -o-transition:@hoverTransitionDuration;
  -ms-transition:@hoverTransitionDuration;
  -moz-transition:@hoverTransitionDuration;
  -webkit-transition:@hoverTransitionDuration;
  /* ...and now for the proper property */
  transition:@hoverTransitionDuration;
  transform-origin: bottom center;
}

.relLinkAndStackCards {
  width: max-content;
  width: -moz-max-content;
}

.relCtrlAndLinkAndStackCards:hover .relevanceLinkArea, .listedClaim:focus .relevanceLinkArea  {
    //transform: scale(1.085) ;
  //font-weight: bold;
  color: @blue ;
}

.relevanceLink {
  position: relative;
  top: 6px;
  margin-bottom: 3px;
  padding-right: 2px; // allow space for full card stack
  width: 100%;
  //font-weight: bold;
  //color: @darkerGreyColor;
}
.relevanceLink.counter {
  color: @red ;
}
.relevanceLink.support {
  color: black; // @darkerGreyColor ;
}
.relevanceLink:hover {
  color: @blue;
}

.relevanceDisplay {
  display: inline-block;
  width: 100%;
  position:relative;
  top: -6px;
  right: 1px;
    font-size: @baseFontSize * 0.75; // ~12px
}

.positionRelDisplay {
  text-align: center;
    display: block;
    position: relative;
    left: 8px;
}

.relCtrlGroup {
  margin-left: @indent + @cardPadding + 16px; // + extra to account for the width of the cardStack
  width: 90%;
}

.relVoteLink {
  color: @blue;
  margin-right: 0px;
    display: inline-block;
    //border: solid;
    //border-color: @relGroupHiliteBG; // prevents offset when border appears
    padding-top: 10px;
    padding-bottom: 3px;
    padding-right: 8px;
    padding-left: 10px;
    min-width: 44px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
  border-radius: 5px;
  //color: black;
  //color: pink;
}
.relVoteLink:hover {
  //text-decoration: underline;
  //border-style: solid;
    //border-width: @relLinkBoxWidth;
    //border-color: @blueLight;
  //background-color: @blueLight;
  color: white !important;
}

// scale down on click
.relVoteLink:active {
    transform: scale(0.975);
}

@relColor0: @blue; // hsla(0, 0%, 80%, 1); // black; // @blue; //
@relColor33:  @blue; //hsla(0, 0%, 60%, 1); // black; // @blue; //
@relColor66:  @blue; //hsla(0, 0%, 40%, 1); // black; // @blue; //
@relColor100:  @blue; //hsla(0, 0%, 20%, 1); // black; // @blue; //

.relVoteLink0:hover {
  background-color: @blueLight; // @relColor0;
}
.relVoteLink33:hover {
  background-color: @blueLight; //@relColor33;
}
.relVoteLink66:hover {
  background-color: @blueLight; //@relColor66;
}
.relVoteLink100:hover {
  background-color: @blueLight; //@relColor100;
}

.myRelevanceVote100 {
  color: white;// !important ;
  background-color: @relColor100;
}
.myRelevanceVote66 {
  color: white;// !important ;
  background-color: @relColor66;
}
.myRelevanceVote33 {
  color: white;// !important ;
  background-color: @relColor33;
}
.myRelevanceVote0 {
  color: white;// !important ;
  background-color: @relColor0;
}




/*
.myRelevanceVoteHigh {
  color: black !important ;
  border-style: solid;
    border-width: @relLinkBoxWidth;
    border-color: black;
  //border-color: black;
}
.myRelevanceVoteLow {
  color: @red ;
  border-style: solid;
    border-width: @relLinkBoxWidth;
    border-color: @red;
  //border-color: @red;
}
*/

.perctSignSmall {
    font-size: 60%;
    vertical-align: top;
    position: relative;
    top: -3px;
}
.perctSignSmallRelLink {
    font-size: 75%;
    vertical-align: top;
    position: relative;
    top: -1px;
    left: 1px;
}




a:hover .perctSignSmall {
  display: inline-block;
  text-decoration: none !important;

}

.numbersFixVertAlign {
  vertical-align: top;
  position: relative;
    top: -4px;
}


.relevanceExplanation {
  font-size: @fontSizeSmall;
  color: @grayTextLighter; //@grayTextMedium;
    line-height: @lineHeightBig;
  margin-bottom: 24px;
  //float: left;
  //margin-bottom: 7px;
  //width: 100%;
}

.relevanceStats {
  margin-bottom: 2px;
}


.stackCardGroup {
  position: relative;
  display: inline-block;
  margin-bottom: -8px;
  outline-style: none;
}
.stackCardGroup:focus {
  outline-style: none;
}

.stackCard {
    border-color: hsl(210, 0%, 75%);
  border-width: @cardBorderWidth;
    border-style: solid;
  background-color: white;
  width: @cardWidth;
  position: relative;
    left: 3px;
    top: -3px;
  box-sizing: border-box;
  transform-origin: top left;
}


// FOR TESTING CSSTRANSITIONGROUP
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
///////////////////////////////


// DEALING CARDS ANIMATION:
// See also EVIDENCE BLOCK REVEAL ANIMATION

@stackDealY: 320px;
@stackDealX: 0;
@stackDealDuration: .5s; //0.15s;
@stackDealTimingFunction: cubic-bezier(.25, 0, .9, .4);  // ease-out and accelerate
@stackDealNumberOfCards: 3;

@keyframes stackCardDealBottomKeys {
   0% { transform: translate(0, 0); }
   100% { transform: translate(@stackDealX, @stackDealY); }
}
.stackCardDealBottom-enter {
  animation-name: stackCardDealBottomKeys;
  animation-duration: @stackDealDuration;
  animation-timing-function: @stackDealTimingFunction;
  animation-iteration-count: 1;
}

@keyframes stackCardDealInvertXform {
   0% { transform: translate(0, 0); }
   100% { transform: translate( (-1 * @stackDealX / @stackDealNumberOfCards), (-1 * @stackDealY / @stackDealNumberOfCards)); }
}
.stackCardDealInvertXform-enter {
  animation-name: stackCardDealInvertXform;
  animation-duration: @stackDealDuration;
  animation-timing-function: @stackDealTimingFunction;
  animation-iteration-count: 1;
}

.stackCardDealInvertXform-enter-active {
  color: pink;
  background-color: purple;
}

.stackCardDealInvertXform-leave {
  animation-name: stackCardDealInvertXform;
  animation-duration: @stackDealDuration;
  animation-timing-function: @stackDealTimingFunction;
  animation-iteration-count: 1;
}

.stackCardDealFade {
  // make border disappear with alpha bc it won't reposition children
  // use !important to override red borders from .counter
  border-color: rgba(0,0,0,0) !important;
  background: none !important;
  -o-transition: @stackDealDuration;
  -ms-transition: @stackDealDuration;
  -moz-transition: @stackDealDuration;
  -webkit-transition: @stackDealDuration;
  transition: @stackDealDuration;
  transition-timing-function: @stackDealTimingFunction;
}

// END OF DEALING CARDS ANIMATION //

.stackCardHidden {
  border-color: rgba(0,0,0,0) !important; // make border disappear with alpha bc it won't reposition children
  background: none !important;
}

.point-card {
  //background-color: red;
  display: inline-flex;
  -webkit-inline-flex: 1;
  -ms-inline-flexbox: 1;

  //display: flex;
  //-webkit-flex: 1; /* Safari 6.1+ */
    //-ms-flex: 1;

  //position: sticky;
  //top: 70px;
  vertical-align: top;
  overflow-wrap: break-word;
  //margin-bottom: -2px; // overlap bottom border with top border of the next point down, for now
  padding-left: @cardPadding;
  padding-right: @cardPaddingRight;
  padding-top: @cardPaddingTop;
  padding-bottom: @cardPaddingTop;
  z-index: 2; // because the AddEvidence UI overlaps the bottomActionRow in some cases
}

.relExtraMarginBottom {
  margin-bottom: @marginVerticalStandard *.5;
}

.point-card {
  &.support {
    //top:9px;
  }
  &.oppose {
    border: 1px red solid;
  }
  &.root {
    border: 1px black solid;
  }
}


.point-card:focus {
  outline-style: none;
}

.stackCardGroup:hover .stackCard {
  background-color: hsla(0, 0%, 97%, 1);
}
/*
.point-card:hover {
  background-color: hsla(0, 0%, 96%, 1);
  outline-style: none;
}
*/
.stackCardGroup:focus .stackCard {
/*.listedClaim:focus .stackCard {*/
  //background-color:green !important; // for testing
  //background-color:white; // for testing
    background-color: hsla(0, 0%, 97%, 1); //white; // #f6fdff; //rgb(244, 253, 255);
  outline-style: none;
}

// red styling on CPs
.stackCard.counter {
  border-color: #f6a3a3 ;
  background-color: hsla(348, 100%, 96%, 1)
}
.stackCardGroup:focus .stackCard.counter {
/*.listedClaim:focus .stackCard.counter {*/
  //background-color: hsla(330,50%, 97%, 1);
  background-color: hsla(348, 100%, 94%, 1);
}
.stackCardGroup:hover .stackCard.counter {
/*.listedClaim:focus .stackCard.counter {*/
  background-color: hsla(348, 100%, 92%, 1);
}
/*
.point-card.counter:hover {
  background-color: hsla(330, 100%, 96%, 1) ;
}
*/


// FUNCTIONALITY INSIDE CARDS

.fullWidthContent {
  //padding-right: 12px;
}

.cardTopRow {
    font-size: @smallGreyLinkSize;
    color: @smallGreyLinkColor;
  margin-bottom: 6px;
}

.cardTopRowItem {
  margin-right: 10px;
}

.iconWithStat {
  margin-right: 2px;
}
li .iconWithStat {
  margin-right: 4px;
}


.byline {
  width: inherit;
  float: none;
}

.byline:hover {
  //color: @grayTextLighter;
  text-decoration: underline;
}

.moreMenu {
  color: @grayTextLighter;
  font-weight: 800;
    font-size: 13px;
    position: relative;
    top: 1px;
}
.moreMenu:hover {
  text-decoration:none;
}


.pointText {
  margin-bottom: @marginVerticalInsideCards;
  padding-right: 2%;
}

.pointTitle {
  color: black;
    font-weight:500; // using the "Book" weight of Meta, from TypeKit
  line-height: @lineHeightBigger;
    letter-spacing: @letterSpacingSubtle;
  font-size: @fontSizePointTitle;
  //margin-bottom: 17px;
    //padding-left: 1px;
    //padding-right:4px;
}

.pointTitle a {
  color: black;
}


.editPointTextForm {
  display: inline-block;
    width: calc(~"100% - 48px"); // full width minus space for cancel button
  width: -moz-calc(~"100% - 48px");
    width: -webkit-calc(~"100% - 48px");
  margin-top: 6px;
}

#editPointTextField {
  width: 81%;
  margin-right: 4px;
  height: 30px;
  padding: 4px;
}

.score {
  font-size: 100%
}

.ux2ScoreInLine {
  display: inline-block;
}

.scorePreAnimate {
  display: inline-block;
}

.negativeScore {
  color: @red;
}

.Score--bounce{
  animation:Score-keyframes--bounce .4s ease;
  transform-origin: left bottom;
}
@keyframes Score-keyframes--bounce{
  0% { transform:scale(1) }
  40% { transform:scale(1.1) }
  100% { transform:scale(1) }
}


.vote-stats {
    background: white;
    border: 1px grey solid;
  width: 150px;
    position: relative;
    left: 10px;
    top: -4px;
}

.vote-stats p{
  padding: 6px;
  margin-bottom:4px;
  font-size: @fontSizeStatsUX2;
}

.menuDivider {
    width: 100%;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.pointCardImageContainer {
  //display: flex;
  //-webkit-flex: 1; /* Safari 6.1+ */
    //-ms-flex: 1;  /* IE 10 */
  //background-color: blue;
  //padding-top: @cardPadding - @cardPaddingTop;
  //float: right;
}

.pointCardImage {
    width: 100%;
  height: 100%;
  max-height: 140px;
  object-fit: cover;
}

.sources {
  margin-bottom: 5px;
}

.source a {
  //padding-left: 4px;
  //padding-right: 4px;
  font-size: @smallGreyLinkSize;
    color: @smallGreyLinkColor; // !important;
  //font-style: italic;
}


.cardBottomAction {
  font-size: @fontSizeActionsUX2;
    color: black; // @grayTextLighter ;  /*@blue ;*/
    /*font-weight: bold;*/
  //margin-bottom:2px;
  margin-right: 0;
    //margin-right:4px;
    margin-top:4px;
    display:inline-block;
    z-index:1000;
    //font-weight: bold
}
.cardBottomAction:hover {
  text-decoration: underline;
}

.bottomActionDot {
  margin-right: 8px;
  margin-left: 8px;
}



// scale down on click
@cardBottomActionScaleUpOnHover: 1.055;
@cardBottomActionScaleDownOnClick: 0.96 * @cardBottomActionScaleUpOnHover;
.cardBottomAction:active {
    transform: scale(@cardBottomActionScaleDownOnClick) !important ;
}

/*.point-card:hover .cardBottomAction, .point-card:focus .cardBottomAction {
    color: @blue ;
}*/

.cardBottomActionRow {
  margin-top: 5px;
  -o-transition:@hoverTransitionDuration;
  -ms-transition:@hoverTransitionDuration;
  -moz-transition:@hoverTransitionDuration;
  -webkit-transition:@hoverTransitionDuration;
  /* ...and now for the proper property */
  transition:@hoverTransitionDuration;
  transform-origin: bottom left;
}
.stackCardGroup:focus .cardBottomActionRow, .stackCardGroup:focus .cardBottomAction  {
/*.listedClaim:focus .cardBottomActionRow, .listedClaim:focus .cardBottomAction  {*/
  font-weight: bold;
  color: @blue ;
}
/*.stackCardGroup:hover .cardBottomActionRow, .stackCardGroup:hover .cardBottomAction  {
    transform: scale(@cardBottomActionScaleUpOnHover) ;
  font-weight: bold;
  color: @blue ;
}*/
.point-card:hover .cardBottomActionRow, .point-card:hover .cardBottomAction  {
    transform: scale(@cardBottomActionScaleUpOnHover) ;
  font-weight: bold;
  color: @blue ;
}




.evidenceContainer {
    display: inline-block;
  // fixed width for roll-over method of switching from No Evidence to Add Evidence, but unnecessary with the scaling approach
    //width: 97px;
}

.agree {
  margin-right: 8px;
}

.disagree {
  //margin-right: 24px;
}

.relevanceVoteBottomAction {
  margin-right: 18px;
}

.addEvidenceButtonGrp {
  margin-bottom: @marginVerticalStandard *2.5;
  margin-top: @marginVerticalStandard * 3;
  margin-left: 14px;
  color: black;
  display: inline-block;
  //width: max-content;
  //width: -moz-max-content;
}

.evidenceBlockEmpty .addEvidenceButtonGrp {
  margin-top: 0;
}

.addEvidenceButtonGrpCounter {
  margin-bottom: @marginVerticalStandard * 2.5;
}
.evidenceBlockEmpty .addEvidenceButtonGrpCounter {
  //margin-left: 6px;
}

@buttonUX2_paddingTop: 5px;
@buttonUX2_paddingLeft: 11px;
@buttonUX2_paddingRight: 12px;
@buttonUX2_borderRadius: 2px;
@buttonUX2_fontWeight: 700;

@tabUX2_color: @blue; // hsl(0, 0%, 25%);
@tabUX2_colorHover: @blueLight; // black;


.tabUX2 {
  padding: @buttonUX2_paddingTop;
  padding-left: @buttonUX2_paddingLeft;
  padding-right: @buttonUX2_paddingRight;
  margin-bottom: 0;
  //font-family: ff-meta-web-pro-condensed,sans-serif;
  font-weight: @buttonUX2_fontWeight;
  font-size: @fontSizePointTitle;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: @tabUX2_color;
  background-color: none;
  border: none;
  -webkit-border-radius: @buttonUX2_borderRadius;
  -moz-border-radius: @buttonUX2_borderRadius;
  border-radius: @buttonUX2_borderRadius;
  display: inline-block;
  margin-right: 4px;
}

.tabUX2_selected {
  background-color: @tabUX2_color;
  color: white;
}

.tabUX2:hover {
  background-color: @tabUX2_colorHover;
  color: white;
}

.buttonUX2 {
  padding: @buttonUX2_paddingTop;
  padding-left: @buttonUX2_paddingLeft;
  padding-right: @buttonUX2_paddingRight;
  position: relative;
  top:-2px;
  margin-bottom: 0;
  //font-family: ff-meta-web-pro-condensed,sans-serif;
  font-weight: @buttonUX2_fontWeight;
  font-size: @fontSizeButtonsUX2;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: white;
  background-color: hsl(0, 0%, 25%);
  border: none;
  -webkit-border-radius: @buttonUX2_borderRadius;
  -moz-border-radius: @buttonUX2_borderRadius;
  border-radius: @buttonUX2_borderRadius;
}

.buttonUX2:focus {
    outline: 2px solid @blue;
}
.buttonUX2:hover {
    background-color: black;
}
@buttonUX2ScaleDownOnClick: 0.975;
.buttonUX2:active {
    transform: scale(@buttonUX2ScaleDownOnClick);
  outline-style: none;
}
.buttonUX2Blue {
  background-color: @blue;
}
.buttonUX2Blue:focus {
    outline-color: @blueLight;
}
.buttonUX2Blue:hover {
    background-color: @blueLight;
}
.buttonUX2Red {
  background-color: @red;
}
.buttonUX2Blue:focus {
    outline-color: @redLight;
}
.buttonUX2Red:hover {
    background-color: @redLight;
}
.cancelButton {
  background: none;
  border: none;
  font-size: @fontSizeActionsUX2;
  outline-style: none;
  display: inline-block;
  padding: 0;
  padding-left: 6px;

}
.cancelButton:hover {
  text-decoration:underline;
}
.cancelButton:focus {
  text-decoration:underline;
  outline-style: none;
}

.cancelButton:active {
    transform: scale(@buttonUX2ScaleDownOnClick);
}
.cancelButtonAddEvidence {
  padding-right: 0;
  float: right;
  margin-top: 6px;
  margin-right: 12px;
}


.addEvidenceButton {
    display: inline-block; //table; // seems necessary for scaling on hover to work, but also causes underline
    //top: 2px;
    //left: 4px;
    //position: relative;
    width: auto;
    margin-right: 4px;
}

.buttonUX2Red.addEvidenceButton {
  left:0;
}

@buttonUX2ScaleUpOnHover: 1.025;
.addEvidenceButtonGrp:hover .addEvidenceButton {
  text-decoration: none !important;
  //text-decoration-color: @blue;
  transform: scale(@buttonUX2ScaleUpOnHover);
    transform-origin: top left;
  transition: @hoverTransitionDuration;
  background-color: black;
}
.addEvidenceButtonGrp:hover .buttonUX2Red {
    background-color: @redLight;
}

.addEvidenceButton:active {
    transform: scale(@buttonUX2ScaleUpOnHover * @buttonUX2ScaleDownOnClick) !important;
}

.addEvidenceFormGroup {
  //margin-top: @marginVerticalStandard * 1.35;
  display: inline-block;
  //vertical-align: top;
  position: relative;
  //top: -10px;
  margin-left: @indent * .5;
}

.addEvidenceForm {
  margin-top: 0;
  display: inline-block;
}

.arrowAddEvidenceForm {
    font-size: @arrowFontSizeUX2;
    position: relative;
  left: 14px;
  top: -6px;
}

.addEvidenceFormLabel {
  color: @darkerGreyColor;
    font-size: @baseFontSize * 0.813; // ~13px
}

.addEvidenceControlsArea {
    vertical-align: bottom;
    display: inline-block;
    position: relative;
    top: 9px;
}
.addEvidenceControlsAreaNoEvidence {
}


.titleTextField {
  //height: 28px;
  width: @cardWidth - 20px; // I don't know why this subtraction is needed visually, but it seems to be -JF
  font-size: 15px;
  color: black;
  padding: 8px;
  padding-bottom: 32px;
  padding-top: 8px;
  display: block;
  margin-bottom: 0; //8px;
  position: relative;
  //top: -20px; // counteract 
}
.titleTextField::placeholder {
  color: grey;
  font-style: italic;
  font-size: 15px; // temp; consider moving back up to 17 to match PointTitle once we move to a multi-line textarea
}
.titleTextField::-ms-input-placeholder { /* IE 10-11*/
  color: grey;
  font-style: italic;
}
.titleTextField:-ms-input-placeholder { /* MS Edge */
  color: grey;
  font-style: italic;
}

.addEvidenceFormButton {
  margin-left: 4px;
  //margin-top: 8px;
  //height: 36px;
    //width: 24px;
  font-size: @baseFontSizeUX2 * 1.13125; // ~18px
  padding-bottom: 7px;
  float: right;
}

.addEvidenceFormSaving {
  margin-left: 27px;
  position: relative;
    top: 4px;
}

.claimTextButtonsArea {
  width: 100%;
}


.fullWidth {
  width: 100%;
}

.hover {
    position: relative;
  cursor:pointer;

    &:hover &__no-hover {
        //opacity: 0;
    text-decoration:underline;
    }

    &:hover &__hover {
        opacity: 1;
    transform: scale(1); // undos the scale(0) in &__hover below
    }

    &__hover {
        position: absolute;
        top: 0;
        opacity: 0;
    transform: scale(0); // this prevents hover being activated by mousing over the invisible menu, there might be a more official way to do this? -JF
    }

    &__no-hover {
        opacity: 1;
    }
}

.point-card .agree.current-vote {
  color: black; //@green;
  font-weight: bold;
}

.point-card .disagree.current-vote {
    color: @red;
  font-weight: bold;
}

// ARROWS

@arrowHeadWidth: 4px;
.arrowHeadUp {
  width: 0;
  height: 0;
  border-left: @arrowHeadWidth solid transparent;
  border-right: @arrowHeadWidth solid transparent;
  border-bottom: 8px solid black;
}
.arrowHeadUpRed {
  border-bottom-color: @red !important;
}

@arrowStemWidth: 2px;

.arrowStemEvidence {
  width: 12px;
  height: 106px;
  margin-left: (@arrowHeadWidth/2) + 0.8px; // not sure why the 0.8 is whats needed to look right
  border-style: none;
  border-left: @arrowStemWidth solid black;
  border-bottom: @arrowStemWidth solid black;
}
.arrowStemEvidenceShort {
  height: 20px;
}
.arrowEvidence {
  display: inline-block;
  margin-left: 21px;
  margin-right: 2px;
  vertical-align: top;
}
.arrowStemRed {
  border-bottom-color: @red !important;
  border-left-color: @red !important;
}
// this class cheats the add evidence arrow up, to overlap with the pointcard above it
// it is placed multiple times on a few individual controls, rather than just once on a parent, to prevent
// its vertical offset from getting in the way of clicking on the controls in the pointcard above
// perhaps there is a better way do accomplish that...
.verticalOffsetForLongEvidenceArrow {
  position: relative;
  top: -33px;
}
.verticalOffsetForLongEvidenceArrowForm {
  top: 81px;
  position: relative;
}

.arrowElbowEvidence {

}


.arrowPointToSupport {
  font-size: @arrowFontSizeUX2;
  position: relative;
  left: 52px;
    top: -13px;
}

.arrowCard {
  font-size: @arrowFontSizeUX2;
    position: relative;
    top: -5px;
  right: 8px;
    //color: @darkerGreyColor;
}

.arrowAddEvidenceButton {
/*  font-size: 10px;
  margin-bottom: 2px;
  margin-left:2px;
  display:inline-block;*/
  font-size: @arrowFontSizeUX2;
  margin-bottom: 2px;
  margin-left:4px;
  display: inline-block;
}

.addEvidenceButtonGrpCounter .arrowAddEvidenceButton {
  color: @red;
}

a:hover .arrowAddEvidenceButton {
  display: inline-block;
  text-decoration: none !important;
}


// DASHED LINES

.dashedLine {
    color: #acacac;
    width: 1px;
    border-left-style: dashed;
    border-left-width: 1px;
    position: absolute;
}

.dottedLine {
    //color: #acacac;
    width: 1px;
    border-left-style: dotted;
    border-left-width: 1px;
    position: absolute;
}
@dottedLineElbowIndent:  24px;
.dottedLineRelevanceLink {
    height: 27px;
    margin-left: @dottedLineElbowIndent;
    margin-top: -33px;
}
.dottedLineElbow {
  width: 8px;
  height: 10px;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-left-style: dotted;
  border-left-width: 1px;
  position: absolute;
  top: 17px;
  margin-left: @dottedLineElbowIndent;
}

.counter .dottedLine {
  color: @red;
}

.relCtrlAndLinkAndStackCards:hover .dottedLineRelevanceLink,
.relCtrlAndLinkAndStackCards:hover .dottedLineElbow,
.listedClaim:focus .dottedLineRelevanceLink  {
  color: @blue ;
  //height: 32px;
    //margin-top: -38px;
}

// not used yet
.dashedLineEvidenceBlock {
  height: 45%;
    margin-left: 18px;
    margin-top: -26px;
}

.transitionDashedLine {
  transform: scaleY(2) ;
  transform-origin: bottom;
  transition: @hoverTransitionDuration;
}

.addEvidenceUI {
  margin-bottom: 52px;
}

.addEvidenceButtonGrp:hover .dottedLineAddEvidenceButton {
    //border-width: 3px;
    //margin-left: 5px;
    margin-top: -68px;
  transition: @hoverTransitionDuration;
  height: 72px;
  //color: @blue;
}

.addEvidenceButtonGrp:hover .arrowAddEvidenceButton {
  //transform: scale(1.3) translateY(1px);
  //transform-origin: bottom;
  //transition: @hoverTransitionDuration;
  //color: @blue;
}

.dottedLineAddEvidenceButton {
    margin-left: 6px;
  display: inline;
  z-index: -5;
  height: 66px;
    margin-top: -60px;
}
.dottedLineAddSupport, .dottedLineAddCounter {
}
.dottedLineAddCounter {
  color: @red;
}
.dottedLineNoEvidence {
  height: 27px;
    margin-top: -26px;
}

.spinnerPointSubmitButtonPosition {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  margin-right: 4px;
}


.claimTitleField {
  margin-bottom: 12px;

}

.titleTextErrorArea {
  display: block;
  font-size: @fontSizeActionsUX2; // @fontSizePointTitle;
}

.titleTextErrorAreaContent {
  background-color: #ffff9e;
  padding: 10px;
}

// CHARACTER COUNTER

.charCounter {
    font-size: @fontSizeSmall;
    color: @grayTextLight;
    //margin-left: 310px;
    margin-right: 12px;
    text-align: right;
    display: block;
    // cheat position up into the text input area
    z-index: 100;
    position: relative;
    margin-top: -24px; //top: -24px;
}

.overMaxChars {
  color: @red;
}

// HOME PAGE ILLUSTRATIONS AND CAROUSEL

@homepageIllustrationHeight: 40px;

#explanationRowHomepage {
  //border-bottom-style: none;
  margin-bottom: 32px;
  padding-bottom: 21px;
}

.explanationTextCentered {
  font-size: @fontSizeActionsUX2;
  //font-weight: 700;
  display: inline-block;
  text-align: left;
  margin-top: 2px;
}

.explanationImageCentered {
  display: inline-block;
  vertical-align: top;
  height: @homepageIllustrationHeight;
  margin-right: 10px;
}


// override react-carousel styling


.carousel {
  max-width: 80vw; // match to cardstacks
}

.carousel.carousel-slider .control-arrow, control-arrow control-prev {
  transition: none !important;
  opacity: .6 !important;
}

.carousel .control-next.control-arrow:before {
  border-left-color: @blue !important;
}
.carousel .control-prev.control-arrow:before {
  border-right-color: @blue !important;
}

.carousel .slide {
  background: none !important;
  min-width: none !important;
  //max-width: 96px !important;
}

.carousel .slide img {
  height: @homepageIllustrationHeight !important;
  width: unset !important;
}

///////////////////////////////////////////

// HOME PAGE


.mainPageClaimCreationArea {
  margin-left: 14px;
  width: @cardWidth;
  margin-bottom: 48px; // not sure why this needs to be so big, something about the floats I think -JF
}

.mainPageClaimCreationLabel {
  margin-left: 12px;
  font-size: 24px;
  //margin-bottom: 0px;
}

/* DEPRECATED
.newPointInputRowFieldArea {
    // use the full width, minus the space needed for the publish button
    // the ~ and "" is needed to pass the calc command through the less compiler
    width: -moz-calc(~"100% - 165px");
    width: -webkit-calc(~"100% - 165px");
    width: calc(~"100% - 165px");
    margin-right:8px;
    //display:inline-block;
}
*/

.mainPageInput {
  margin-bottom: 8px;
}

.homePageNewPointCallButton {
    font-size: @fontSizePointTitle;
    //padding: 8px 13px;
    top: 0;
}

.mainPageContentArea {
  //margin-left: 15%;
}

.mainPageHeading {
  margin-bottom: 16px;
  font-size: @fontSizePointTitle;
}

.indentToClaimText {
  margin-left: 28px;
}

#mainPageMainArea {
  padding-left: 0;
  min-height: 960px; // prevents vertical scroll jumping in databases with few claims
}

.react-tabs__tab-list {
  margin-bottom: 16px;
}




// RESPONSIVE -- TO DO: move this to a separate css file

// zoom out a bit for smaller monitors
// using height because the purpose here is to be able to fit more evidence on screen
@media (max-device-height: 680px) {
  #mainContainer {
    zoom: .8;
  }
}

@media (max-device-width: 1024px) {
  #header {
    position: fixed;
    width: 100vw; // viewport-width units
  }

  #mainContainer {
    zoom: .8;
    overflow: scroll; // fixes an issue where the header scrolls horizontally on mobile
  }
}

@media (max-width: 979px) and (min-width: 768px) {

  .explanationBlock {
    margin-left: 0;
    margin-right: 32px;
  }
  .explanationTextCentered {
    width: unset;
  }
}

@media (max-width: 767px) {

 @cardWidthSmallScreens: 80vw;

  body {
    padding-left:10px;
  }

  #header {
  position: fixed;
  width: 100vw; // viewport-width units
  }

  #mainContainer {
    margin-left: 0;
  }

  .infiniteWidth {
    margin-left: 0;
  }


  .container {
    //left: 10px;
    //position: absolute;
  }

  .explanationBlock {
    margin: auto;
    float: none;
  }

  .mainPageClaimCreationArea {
    width: @cardWidthSmallScreens;
  }

  .pointStream {
  margin-top: 24px;
  margin-left: 0;
  }

  .listedClaimGroup {
  width: @cardWidthSmallScreens + (2 * @indent);
  }

  .relGroupHilite {
  width: 88vw;
  max-width: unset;
  }

  .point-card {
  //background-color: red;
  display: inline-block;
  width: @cardWidthSmallScreens; // viewport-width units
  }

  .stackCard {
    width: @cardWidthSmallScreens; // viewport-width units
  }

  .pointCardImage {
  margin-top: @marginVerticalStandard;
  }


}
