*.pyc
.project
.pydevproject
.settings/
archive/
*.sublime*
.rvmrc
constants.py
bin/bulkloader*
static/css/bootstrap.css
static/css/bootstrap-responsive.css
static/css/new.css
.vagrant/
node_modules

/gae.auth
.DS_Store
whysaurus-master.esproj
