*.pyc
.project
.pydevproject
.settings/
archive/
*.sublime*
.rvmrc
constants.py
bin/bulkloader*
static/css/bootstrap.css
static/css/bootstrap-responsive.css
static/css/new.css
static/css/uiv2.css
.vagrant/
node_modules

/gae.auth
webpack-stats.json
/static/dist
*~
