body {
  padding-top: 52px;
  padding-bottom: 50px;
}

a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: inherit;
	color:inherit;
}

#header{
	height:52px;
	color:black;
}

.grayBackground {
	background:#EFEFEF;
}

#searchArea{
	height:52px;
	width:100%;
	position:relative; /* For placing the magnifying glass */
}

#searchBox{
	width:90%;
	margin-top:10px;
	padding-right:40px;
	border: 2px solid #000000;
	-webkit-border-radius: 8px;
  	-moz-border-radius: 8px;
  	border-radius: 8px; /* AL CHANGED */
  	font-size: 16px;

}

#searchArea .searchIcon {
	position: absolute;
	top: 17px;
	right: 10px;
	height: 25px;
	width:25px;
	background-image: url("/static/img/icon_magnifyingGlass_grey_19px.png");
	background-repeat: no-repeat;
}

#searchArea .searchIcon:hover  {
    background-image: url("/static/img/icon_magnifyingGlass_black_19px.png");
}

#twitterImage {
	background-color: white;
	width:20px;
	height:16px;
}

#twitterImage:hover  {
    background-color:   #00ADEE;
}

#facebookImage {
	background-color: white;
	width:20px;
	height:16px;
}

#facebookImage:hover  {
    background-color: #00ADEE;
}

#mailImage {
	background-image: url("/static/img/footer_icon_email_16pxHi_v12.png");
	background-color: black;
    width:22px;
    height:16px;
}

#mailImage:hover {
    background-color:   #00ADEE;
}

#footer{
	height:50px;
	line-height:50px;
	background:#000000;
	color:white;
}

#footer .div {
	height:50px;
}

.footerLink {
	padding-right:18px;
	margin-top: 16px;
}

.footerImage {
	padding-right:18px;
}


#footer a {
	color:white;
}

#footer a:hover {
	color:#00ADEE;
	text-decoration:none;
}

#tagline {
	font-style: italic;
	font-size: 1.0625em;
}

#footerCopyright{
	font-size: 0.5625em;
	color:#58595B;
	line-height: 10px;
	margin-top: 16px;
}

#CreatePoint {
	display: block;
	position:relative;
 	width: 118px;
 	height: 27px;
	background:transparent url('/static/img/button_makeAPoint_grey_118.png') center top no-repeat;
	top:12px;
}

#CreatePoint:hover {
   background-image: url('/static/img/button_makeAPoint_black_118.png');
}
.topSpace {
	height:42px;
}
.userControls {
	font-style: italic;
	font-size: 0.9375em;
	color:black;
}

.userControls a {
	color:black;
}

.userControls #avatar {
	height:48px;
	margin-top:2px;
}

.vertalignmiddle {
	vertical-align:middle;
}

.pointCard {
	border-style:solid;
	border-width:1px;
	border-color:#B9BBBD;
  	word-wrap: break-word;
  	-webkit-box-shadow: -1px 1px 8px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    -1px 1px 8px rgba(50, 50, 50, 0.5);
	box-shadow:         -1px 1px 8px rgba(50, 50, 50, 0.5);
	margin-bottom: 10px;
	cursor:pointer;
}

.pointCard:hover {
	-webkit-box-shadow: -1px 1px 10px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -1px 1px 10px rgba(50, 50, 50, 0.75);
	box-shadow:         -1px 1px 10px rgba(50, 50, 50, 0.75);
}

.pointCard:hover .score, .pointSmall:hover .score {
	color:white;
}

.pointCard:hover a.navWhy, .pointSmall:hover a.navWhy {
   background-image: url('/static/img/arrow_why_45_black.png');
}

.pointSmall.green:hover {
	background-color:#0CCF00;
}

.pointSmall.yellow:hover {
	background-color:#EBC821;
}

.pointSmall.red:hover {
	background-color:#FF000B;
}

.pointCard H5 {
	padding: 10px 0;
	margin: 0 0 0 0;
}

.pointCard .text, .pointCard .title, .pointSmall .title  {
	padding-left: 5px;
}

.yellow .score {
	color:#EBC821;
}

.yellow:hover .title {
	background-color: #EBC821;
}

.red .score {
	color:#FF000B;
}

.red:hover .title {
	background-color: #FF000B;
}

.green .score {
	color:#0CCF00;
}

.green:hover .title {
	background-color: #0CCF00;
}

.greenScore {
	color:#0CCF00;
}
.redScore {
	color:#FF000B;
}
.yellowScore {
	color:#EBC821;
}

.pointSmall {
	border-style:solid;
	border-width:1px;
	border-color:#B9BBBD;
  	word-wrap: break-word;
  	cursor:pointer;
}

.boxedElement {
	border-style:solid;
	border-width:1px;
	border-color:#B9BBBD;
  	word-wrap: break-word;
}

.boxedElement H5 {
	padding-left: 5px;
}

.pointSummaryText {
	padding-left: 5px;
}

.columnHeading {
	font-weight:bold;
	font-style:italic;
	font-size:0.9375em;
	color:#B9BBBD;
}

#voteLabel {
	margin-top: 1em;
	margin-bottom: 1em;
}

.marginBottom {
	margin-bottom:16px;
}
.vertSpaced {
	margin-bottom: 10px;
}

.dropShadow {
	-webkit-box-shadow: -1px 1px 8px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    -1px 1px 8px rgba(50, 50, 50, 0.5);
	box-shadow:         -1px 1px 8px rgba(50, 50, 50, 0.5);
}

.dropShadow:hover {
	-webkit-box-shadow: -1px 1px 10px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -1px 1px 10px rgba(50, 50, 50, 0.75);
	box-shadow:         -1px 1px 10px rgba(50, 50, 50, 0.75);
}

.hugeScore{
	font-weight:bold;
	font-size:4.6250em;
	font-family:"nimbus-sans-condensed",sans-serif;
	line-height:100px;
}

.voteArea{
	line-height:36px;
	margin-left:18%;
	cursor:pointer;
	background:center top no-repeat;
}

.whiteScoreText {
	font-family:"nimbus-sans-condensed",sans-serif;
	font-weight:bold;
	font-size: 1.0625em;
}

.whiteScoreText  a {
	color:white;
}


.upArrow{
	background-image:url('/static/img/inverse_up_arrow.png');
	width: 47px;
}

.downArrow{
	background-image:url('/static/img/inverse_down_arrow.png');
	width: 47px;
}

.inactiveVote {
	background-color:#B9BBBD;
}

.redVote {
	background-color:#FF000B;
}

.greenVote {
	background-color:#0CCF00;
}

#nonzeroSupportingPoints {
	padding-bottom: 10px;
	margin-bottom: 5%;
}

#numberOfSupportingPoints {
	margin-top: 1em;
	margin-bottom: 1em;
}

#zeroSupportingPoints {
	margin-bottom: 5%;
	font-style: italic;
	color: #B9BBBD;
	width: 20em;
	margin-left: auto;
	margin-right: auto;
}

#addEvidencePromptText {
	font-size: 0.8em;
	margin-top: 1em;
}

#zeroSupportingPointsText {
	margin-top: 1em;
}

a.navWhy {
	width:46px;
	height:34px;
	left: 8px;
	position: relative;
	border-style:none;
	background:transparent url('/static/img/arrow_why_45_grey.png') center top no-repeat;
}

a.navWhy:hover {
   background-image: url('/static/img/arrow_why_45_black.png');
}

.unlinkbutton {
	width:46px;
	height:34px;
	border-style:none;
	background:transparent url('/static/img/icon_unlink_grey_34px.png') center top no-repeat;
}

.unlinkbutton:hover {
	background-image: url('/static/img/icon_unlink_red_34px.png');
}

.mainPointContent{
	font-size:0.9375em;
	color:#6D6E70;
}

h1.condensed {
	line-height: 100%;
}

.mainPointLastEdited {
	font-size:0.7em;
	font-style:italic;
	color: lightGray;
	float: left;
}

#pointSummary {
	padding-left: 1em;
	padding-right: 2em;
	position: relative;
}

.mainPointInfo{font-size:0.8em;font-style:italic;bottom:10px;left:10px;font-weight:bold}
.mainPointVersion:before{content:"Version: ";font-size:inherit;font-style:inherit;font-weight:normal}
.mainPointAuthor:before{content:"Last Edited By: ";font-size:inherit;font-style:inherit;font-weight:normal}
.mainPointDateEdited:before{content:"Date Edited: ";font-size:inherit;font-style:inherit;font-weight:normal}
.mainPointViewCount:before{content:"ViewCount: ";font-size:inherit;font-style:inherit;font-weight:normal}
/*.mainPointImageURL:before{content:"Image URL: ";font-size:inherit;font-style:inherit;font-weight:normal}*/
.mainPointImageAuthor:before{content:"Image Author: ";font-size:inherit;font-style:inherit;font-weight:normal}
.mainPointImageDescription:before{content:"Image Description: ";font-size:inherit;font-style:inherit;font-weight:normal}

#mainPointImageArea {
	float: right;
	margin-left: 0px;
}

.mainPointImageCaption {
	font-size: 0.8em;
	font-style: italic;
	text-align: center;
	color: lightGray;
}

img.pointDisplay{
	width: 100%;
}

img.listDisplay {
    float:right;
}

img.smallDisplay {
    max-height:40px;
    max-width:40px;
}

.mainPointButton {
	display: inline;
	color: #B9BBBD;
	font-style: italic;
	font-weight: bold;
	border: 0px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 95% 0%;
}

.mainPointButton:hover {
	text-decoration: none;
	color: #00ADEE;
	background-position: 95% 100%;
}

.tab:hover, .selectedTab {
	text-decoration: none;
	background-color: #00ADEE;
	color: white;
	background-position: 95% 100%;
}

.tab {
	padding-left: 1em;
	padding-right: 1em;
}

.rightMainPointButtons {
	float: right;
}

button#editPoint {
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-image: url('/static/img/pencil_icon.png');
	padding-right: 25px;
	height: 20px;
}

button#addImage {
	background-image: url('/static/img/paper_clip_icon.png');
	padding-right: 25px;
	height: 20px;
	margin-top: 2em;
	margin-left: 10%;
}

button#changeImage {
	float: right;
	margin-top: 20%;
	background-image: url('/static/img/paper_clip_icon.png');
	padding-right: 25px;
	height: 20px;
}

button#viewSupportingPoints {
	background-image: url('/static/img/flow_chart_icon.png');
	padding-right: 29px;
	height: 27px;
}

button#viewComments {
	background-image: url('/static/img/speech_bubble_icon.png');
	padding-right: 40px;
	height: 27px;
}

button#viewPointHistory {
	background-image: url('/static/img/counter_clockwise_icon.png');
	padding-right: 35px;
	height: 27px;
}

button#deletePoint {
	background-image: url('/static/img/trash_can_icon.png');
	padding-right: 25px;
	height: 20px;
}

button#addSupportingPointWhenZero {
	margin-top: 3em;
	margin-bottom: 3em;
	background-image: url('/static/img/plus_icon.png');
	background-position: center 0%;
	height: 20px;
	font-weight: normal;
	padding: 0px;
}

button#addSupportingPointWhenZero:hover {
	background-position: center 100%;
}

button#addSupportingPointWhenZero span.plus_icon_spacer {
	display: inline-block;
	width: 30px;
}

button#addSupportingPointWhenNonZero {
	background-image: url('/static/img/plus_icon.png');
	padding-right: 30px;
	height: 20px;
}

button#unlinkToggle {
	background-image: url('/static/img/broken_chain_link_icon.png');
	height: 20px;
	padding-right: 33px;
}

#nonzeroSupportingPoints a.navWhy {
	position: static;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++
   Login dialog stuff
   +++++++++++++++++++++++++++++++++++++++++++++++ */

#loginDialog {
    /* new custom width */
    width: 300px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -150px;
}

[id^=signInWith] {
	height:2em;
	vertical-align:middle;
	margin-bottom:5px;
	margin-top:5px;
	padding-left:10px;
	padding-top:5px;
	cursor:pointer;
}

[id^=signInWith] a {
	line-height: 2em;
}

[id^=signInWith]:hover {
	-webkit-box-shadow: -1px 1px 10px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -1px 1px 10px rgba(50, 50, 50, 0.75);
	box-shadow:         -1px 1px 10px rgba(50, 50, 50, 0.75);
}

/* +++++++++++++++++++++++++++++++++++++++++++++++
   Edit point dialog stuff
   +++++++++++++++++++++++++++++++++++++++++++++++ */

.pointDialog {
	top:2% !important;
	height:96% !important;
}

.pointDialog .modal-footer {
	position:absolute;
	bottom: 0px;
	width:100%;
	padding: 14px 0px 15px;
}

.pointDialog label {
	font-weight:bold;
	font-style: italic;
	font-size:0.8125em; /* 13 px */
}

.pointDialog .textline {
	text-align:left;
	margin-left:15px;
}

fieldset { padding:0; border:0; margin-top:25px;}
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
.ui-button-text {font-size:13px;}
.ui-icon-up { background-image: url(/static/img/up-button.png) !important; background-size: 100% Auto; }
.ui-icon-down { background-image: url(/static/img/down-button.png) !important; background-size: 100% Auto;}

.mceEditor > table {
    width:100% !important;
    height:auto !important;
}


.titleEdit {
  width:516px;
  padding: 2px;
}


.fieldEdit {
  float:left;
  padding: 2px;
  width:411px;
}

.dlgLabelName{
  float:left;
  width:100px;
  display:block;
  height: 100%;
  padding:0px;
  margin:0px;
  }
.dlgField{
  margin-top:5px;
  width:100%;
  }
#textEdit_tbl {width:100% !important;}
#textEdit_ifr {width:100% !important;}


/* +++++++++++++++++++++++++++++++++++++++++++++++
   END Edit point dialog stuff
   +++++++++++++++++++++++++++++++++++++++++++++++ */


/* FILEPICKA */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

.spin {
  -webkit-animation: rotate 2s linear infinite;
  -moz-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinate;
}
