h1,
h2,
h3,
h4,
h5,
h6,
body {
  color: #2e2e2e;
}
.fullPageText > h1,
.fullPageText > h2,
.fullPageText > h3,
.fullPageText > h4,
.fullPageText > h5,
.fullPageText > body {
  color: black;
}
.quickTestRect {
  width: 100px;
  height: 100px;
  color: yellow;
  background-color: teal;
}
#mainContainer {
  width: auto;
  margin-left: calc(2% + 156px);
}
.hideScrollbar {
  overflow: hidden;
}
.infinite-scroll-component {
  overflow: unset !important;
}
.pointListEndMessage {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 180px;
  display: block;
  font-size: 14px;
  color: grey;
}
.hidden {
  display: none;
}
.number {
  font-family: "usual", sans-serif !important;
}
.cardTopRow .number,
.vote-stats .number {
  font-size: 85%;
}
.animPink {
  background: pink !important;
}
.row-fluid [class*=span] {
  min-height: auto;
}
a:hover {
  color: #009dd6;
}
a:focus {
  outline-offset: 4px;
  outline: thin dotted #333;
  text-decoration: unset;
}
a .blackLink {
  color: black;
}
a .blackLink:hover {
  color: #009dd6;
  text-decoration: underline;
}
.bringToFront {
  z-index: 1000;
}
.fullWidth {
  width: 100%;
}
.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.inlineBlock {
  display: inline-block;
}
.inlineflexBox {
  display: inline-flex;
  vertical-align: top;
}
.hover {
  position: relative;
  cursor: pointer;
}
.hover:hover .hover__no-hover {
  text-decoration: underline;
}
.hover:hover .hover__hover {
  opacity: 1;
  transform: scale(1);
}
.hover__hover {
  position: absolute;
  top: 0;
  opacity: 0;
  transform: scale(0);
}
.hover__no-hover {
  opacity: 1;
}
.easierToClickOn {
  position: relative;
  padding: 6px;
}
.admin {
  background-color: #fff2b3;
  width: max-content;
}
.relGroupHilite .admin {
  background-color: #ffe14d;
}
.dropdown-menu .admin {
  width: 100%;
}
.vote-stats .admin {
  width: 100%;
}
.popup-content {
  background: rgba(0, 0, 0, 0) !important;
  border: none !important;
  width: 100% !important;
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.8) !important;
  z-index: 1060 !important;
}
#termsPopup {
  position: absolute;
  display: block;
  width: 556px;
  left: 50%;
  top: 10%;
  margin-left: -278px;
  margin-top: -278px;
}
.modal-header,
.modal-body,
.modal-footer {
  padding-top: 24px;
  padding-bottom: 18px;
  padding-left: 32px;
  padding-right: 32px;
}
.modal-body,
.modal-footer {
  padding-top: 18px;
}
.modal-footer {
  padding-bottom: 24px;
}
.modalHeadlineCopy {
  display: inline-block;
  width: max-content;
}
.modal-body.text-content {
  padding-left: 32px;
  padding-right: 72px;
  margin-top: 6px;
}
.modalBodySignInWith {
  padding-right: 32px;
}
.modal-body.text-content li {
  margin-bottom: 16px;
}
#frm_signupDialog input,
#frm_signupDialog textarea {
  width: 308px;
}
.signInFooterItems {
  display: block;
  width: max-content;
  float: right;
}
.headerBGColorDefault {
  background: #F0F0F0;
}
.headerItem {
  display: inline-block;
  color: black !important;
  font-size: 15.008px;
  font-weight: 700;
  line-height: 120%;
  margin-right: 0;
  margin-left: 20px;
  vertical-align: middle;
}
.headerItem > a {
  color: black ;
}
.headerItem > a:hover,
.headerItem > a:focus {
  color: #009dd6;
}
#aboutMenu .easierToClickOn {
  right: 6px;
}
.headerLinkIcon {
  font-size: 18px;
  top: 3px;
  margin-right: 0;
  color: black;
}
.headerLinkIcon:hover,
a:hover .headerLinkIcon,
.headerLinkIcon:focus,
a:focus .headerLinkIcon {
  color: #009dd6;
  outline: none;
  text-decoration: none !important;
}
.headerSocialMediaIconArea {
  margin-top: 13px;
  margin-left: 0;
}
.headerSocialMediaIcon {
  font-size: 15.3px;
  margin-left: 10px;
}
.dropdownSocialMediaIconArea .headerSocialMediaIcon {
  margin-right: 8px;
  margin-left: 0;
}
.dropdownSocialMediaIconArea .headerLinkIcon {
  font-size: 16.2px;
}
.dropdownSocialMediaIconArea {
  margin-bottom: 8px;
}
a.headerSocialMediaIcon:hover {
  text-decoration: none !important;
}
#headerIconAbout {
  font-size: 19.8px;
}
#headerIconFb {
  font-size: 14.04px;
  top: 3px;
}
#headerLogo {
  margin-left: 2%;
  margin-top: 4px;
}
#CreatePoint {
  position: relative;
  top: 1px;
  margin-left: 0;
}
#CreatePoint:hover,
.userMenuLink:hover {
  text-decoration: none;
}
#CreatePoint:hover .headerLinkLabel,
.userMenuLink:hover .headerLinkLabel {
  text-decoration: underline;
}
#makePointIcon {
  margin-right: 2px;
  top: 1px;
}
#searchArea {
  height: 48px;
  line-height: 48px;
  position: relative;
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
#searchArea .searchIcon {
  background-image: none;
  right: 8px;
  width: auto;
}
#aboutMenu {
  position: relative;
}
#aboutDropdown {
  left: -129px;
  margin-top: 14px;
}
#notifications {
  right: 0px;
  margin-top: 11px;
}
#notificationCount {
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 4px;
  padding-left: 3px;
}
#userMenuArea {
  padding-right: 6.66666667px;
  margin-top: 6px;
}
.userMenuLink {
  display: block;
  overflow: auto;
}
#userMenuArea .username {
  position: relative;
  top: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 60px;
  display: inline-block;
}
#userMenuSignedIn {
  position: absolute;
  left: -72px;
  right: unset;
  min-width: unset;
}
#signInFromHeader {
  position: relative;
  top: 10px;
}
#footer {
  padding-right: 6.66666667px;
}
.feedbackFooterLink {
  display: block;
  right: 16px;
  font-weight: 700;
  font-size: 15.008px;
  font-style: normal;
  color: black;
}
.fullPageText {
  margin-left: 32px;
}
.contactForm input,
.contactForm textarea {
  width: 400px;
}
.contactForm input.buttonUX2 {
  width: auto !important;
}
textarea {
  resize: none;
}
.dropdown-menu {
  min-width: unset;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.infoNonToggle,
.infoToggle,
.subInfoToggle,
li {
  margin: 0;
  overflow: hidden;
}
.dropdown-menu .divider {
  border: none;
  height: 1.5px;
}
.dropdownMenuCategory {
  padding-top: 2px;
  padding-left: 28px;
  padding-bottom: 6px;
}
.dropdown-menu > li > a,
.dropdown-menu > li > span {
  padding-top: 6px;
  padding-bottom: 6px;
  display: inline-block;
  width: 100%;
  font-weight: 500;
}
.shareMenu {
  max-width: 50px;
  display: none;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-submenu:focus > a,
.dropdown-submenu:hover > a {
  font-weight: 800;
  background-image: none;
}
.notificationMenuItem:hover,
.notificationMenuItem:focus {
  font-weight: normal !important;
}
.dropdown-menu-with-caret {
  top: 27px;
  left: -12px;
  margin: 0;
}
.dropdown-caret {
  position: absolute;
  top: -10.2px;
  left: 9px;
  width: 18px;
  height: 12px;
  float: left;
  overflow: hidden;
  z-index: 5000;
}
.dropdown-caret .caret-outer {
  border-bottom: 10px solid black;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: auto;
  left: 0;
  top: 0;
  width: auto;
  display: inline-block;
  margin-left: -1px;
  position: absolute;
}
.dropdown-caret .caret-inner {
  top: 1.75px;
  left: 0.5px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #fff;
  border-bottom-color: #fff;
  display: inline-block;
  margin-left: -1px;
  position: absolute;
}
.menuDivider {
  width: 100%;
  border-bottom-color: #cccccc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.notification-menu {
  top: unset;
  margin-left: -292px;
  margin-top: 12px;
}
body {
  background-color: #fcfcfc;
  background-size: 5px 5px;
  background-image: linear-gradient(to right, #f5f5f5 2px, transparent 2px), linear-gradient(to bottom, #f5f5f5 2px, transparent 2px);
}
/*
@bgColor: #F3FCFF;
@bgGridColor: #E1F6FF;
@bgGridWidth: 4px;
@bgGridStroke: 2px;
#header {
  background-color: #cff1fc;
}
*/
.policyHeader {
  margin-left: 44px;
}
.policyContent {
  position: relative;
  left: -24px;
}
.policyContent h4 {
  margin-bottom: 12px;
}
.policySection {
  display: block;
  width: 100%;
}
.policySectionNumber {
  display: inline-block;
  width: 30px;
  margin-right: 16px;
  vertical-align: top;
}
h4 .policySectionNumber {
  margin-right: 16px;
}
li .policySectionNumber {
  margin-right: 6px;
}
.policySectionCopy {
  display: inline-block;
  width: 90%;
}
.policyBulletList {
  margin-left: 54px;
}
.pointPageContainer {
  margin-top: 32px;
  margin-bottom: 60px;
  margin-left: 0px;
}
.infiniteWidth {
  width: max-content;
  width: -moz-max-content;
}
.listedClaimGroup {
  width: auto;
}
@keyframes evidenceBlockReveal {
  0% {
    max-height: 20px;
    opacity: 0;
  }
  40% {
    opacity: 0;
    transform: translateY(-20px);
  }
  80% {
    max-height: 500px;
    transform: translateY(0);
  }
  100% {
    max-height: 5000px;
    opacity: 1;
  }
}
.evidenceBlock {
  margin-left: 45px;
  display: inline-block;
  transform-origin: top left;
  animation-name: evidenceBlockReveal;
  animation-duration: 0.36s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  position: relative;
  top: -8px;
}
.evidenceBlockFirstColAlignment {
  left: -9px !important;
}
@keyframes latestQuickCreateReveal {
  0% {
    max-height: 20px;
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  85% {
    max-height: 350px;
  }
  100% {
    max-height: 350px;
    opacity: 1;
  }
}
.latestQuickCreate {
  transform-origin: top left;
  animation-name: latestQuickCreateReveal;
  animation-duration: 0.288s;
  animation-timing-function: ease;
}
.heading {
  color: #5d5d5d;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.supportHeading,
.counterHeading {
  margin-left: 76px;
  margin-bottom: 16px;
}
.counterHeading {
  color: #cc0008;
}
.headingPlus {
  position: relative;
  top: -1px;
}
.sortBy {
  text-transform: normal;
  float: right;
}
.evidenceBlockCounter,
.evidenceBlockSupport,
.evidenceBlockBoth,
.evidenceBlockEmpty {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.evidenceBlockCounter,
.evidenceBlockSupport,
.evidenceBlockBoth {
  margin-bottom: 24px;
}
.evidenceBlockCounter {
  margin-left: 6px;
}
.evidenceBlockEmpty {
  margin-left: 38px;
}
.removeOneIndent.evidenceBlockEmpty {
  margin-left: 36px;
}
.evidenceList {
  margin-top: 10px;
}
.stackMarginBottom0 {
  margin-bottom: 15px;
}
.stackMarginBottom1 {
  margin-bottom: 18px;
}
.stackMarginBottom2 {
  margin-bottom: 21px;
}
.stackMarginBottom3 {
  margin-bottom: 24px;
}
.listedClaim {
  padding-right: 30px;
  outline-style: none;
}
.removeOneIndent {
  position: relative;
  left: -45px;
}
.addOneIndent {
  position: relative;
  left: 45px;
}
@keyframes relGroupHiliteReveal {
  0% {
    background-color: #fffbd100;
  }
  100% {
    background-color: #fefadc;
  }
}
.relGroupHilite {
  animation-name: relGroupHiliteReveal;
  animation-duration: 0.33s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  margin-bottom: 20.8px;
  background-color: #fefadc;
  max-width: 462px;
}
.relevanceCtrlArea {
  padding-bottom: 4px;
  margin-top: 11px;
  animation-name: relevanceCtrlAreaReveal;
  animation-duration: 0.33s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
@keyframes relevanceCtrlAreaReveal {
  0% {
    max-height: 0;
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  60% {
    max-height: 240px;
  }
  100% {
    opacity: 1;
  }
}
.relCtrlLabel {
  margin-bottom: 14px;
}
.editAreaClose {
  float: right;
  font-size: 24px;
  position: relative;
  cursor: pointer;
  font-family: serif;
  font-weight: bold;
}
.editAreaClose a {
  color: #a9a9a9;
}
.editAreaClose a:hover {
  color: #009dd6;
  text-decoration: none;
}
.relevanceLinkArea {
  display: inline-block;
  vertical-align: top;
  width: 45px;
  text-align: right;
  -o-transition: 0.066s;
  -ms-transition: 0.066s;
  -moz-transition: 0.066s;
  -webkit-transition: 0.066s;
  /* ...and now for the proper property */
  transition: 0.066s;
  transform-origin: bottom center;
}
.relLinkAndStackCards {
  width: max-content;
  width: -moz-max-content;
}
.relCtrlAndLinkAndStackCards:hover .relevanceLinkArea,
.listedClaim:focus .relevanceLinkArea {
  color: #009dd6;
}
.relevanceLink {
  position: relative;
  top: 6px;
  margin-bottom: 3px;
  padding-right: 2px;
  width: 100%;
}
.relevanceLink.counter {
  color: #cc0008;
}
.relevanceLink.support {
  color: black;
}
.relevanceLink:hover {
  color: #009dd6;
}
.relevanceDisplay {
  display: inline-block;
  width: 100%;
  position: relative;
  top: -6px;
  right: 1px;
  font-size: 12px;
}
.positionRelDisplay {
  text-align: center;
  display: block;
  position: relative;
  left: 8px;
}
.relCtrlGroup {
  margin-left: 76px;
  padding-top: 9px;
  width: 88%;
}
.relCtrlVoteOptions {
  margin-bottom: 18px;
  position: relative;
  left: -14px;
}
.relVoteLink,
.relVoteLink button {
  font-size: 24px;
  font-weight: bold;
  background-color: green;
  background-color: inherit;
  border: none;
  color: #009dd6;
  margin-right: 6px;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-right: 8px;
  padding-left: 10px;
  min-width: 44px;
  height: 25px;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  outline: none;
}
.relVoteLink:hover {
  color: white !important;
}
.relVoteLink:active {
  transform: scale(0.975);
}
.relVoteLink0:hover {
  background-color: #33c9ff;
}
.relVoteLink33:hover {
  background-color: #33c9ff;
}
.relVoteLink66:hover {
  background-color: #33c9ff;
}
.relVoteLink100:hover {
  background-color: #33c9ff;
}
.relVoteLinkSaving {
  background-color: #009dd6 !important;
  background-image: url("/static/img/Reload-1s-200px_white_transp.svg");
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  background-blend-mode: screen;
}
.myRelevanceVote100 {
  color: white;
  background-color: #009dd6;
}
.myRelevanceVote66 {
  color: white;
  background-color: #009dd6;
}
.myRelevanceVote33 {
  color: white;
  background-color: #009dd6;
}
.myRelevanceVote0 {
  color: white;
  background-color: #009dd6;
}
/*
.myRelevanceVoteHigh {
  color: black !important ;
  border-style: solid;
    border-width: @relLinkBoxWidth;
    border-color: black;
  //border-color: black;
}
.myRelevanceVoteLow {
  color: @red ;
  border-style: solid;
    border-width: @relLinkBoxWidth;
    border-color: @red;
  //border-color: @red;
}
*/
.relevanceExplanation {
  font-size: 12px;
  color: #2e2e2e;
  line-height: 125%;
  margin-bottom: 24px;
}
.relevanceStats {
  margin-bottom: 2px;
}
.perctSignSmall {
  font-size: 60%;
  vertical-align: top;
  position: relative;
  top: -3px;
}
.perctSignSmallRelLink {
  font-size: 75%;
  vertical-align: top;
  position: relative;
  top: -1px;
  left: 1px;
}
a:hover .perctSignSmall {
  display: inline-block;
  text-decoration: none !important;
}
.numbersFixVertAlign {
  vertical-align: top;
  position: relative;
  top: -4px;
}
.noRelevantClaimsArea {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 55px;
  display: block;
}
.toggleLowRelClaims {
  display: block;
  margin-left: 76px;
  margin-top: 16px;
  margin-bottom: 50px;
}
a.toggleLowRelClaims {
  color: #009dd6;
}
a.toggleLowRelClaims:hover {
  text-decoration: underline;
}
.noRelevantClaimsMessage {
  display: block;
  margin-left: 76px;
  color: #2e2e2e;
  margin-bottom: -12px;
}
.example-enter {
  opacity: 0.01;
}
.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.example-leave {
  opacity: 1;
}
.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
@keyframes stackCardDealBottomKeys {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 320px);
  }
}
.stackCardDealBottom {
  animation-name: stackCardDealBottomKeys;
  animation-duration: 0.18s;
  animation-timing-function: cubic-bezier(0.25, 0, 0.9, 0.4);
  animation-iteration-count: 1;
}
@keyframes stackCardDealInvertXform {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -106.66666667px);
  }
}
.stackCardDealInvertXform {
  animation-name: stackCardDealInvertXform;
  animation-duration: 0.18s;
  animation-timing-function: cubic-bezier(0.25, 0, 0.9, 0.4);
  animation-iteration-count: 1;
}
.stackCardDealInvertXform {
  animation-name: stackCardDealInvertXform;
  animation-duration: 0.18s;
  animation-timing-function: cubic-bezier(0.25, 0, 0.9, 0.4);
  animation-iteration-count: 1;
}
.stackCardDealFade {
  border-color: rgba(0, 0, 0, 0) !important;
  background: none !important;
  -o-transition: 0.18s;
  -ms-transition: 0.18s;
  -moz-transition: 0.18s;
  -webkit-transition: 0.18s;
  transition: 0.18s;
  transition-timing-function: cubic-bezier(0.25, 0, 0.9, 0.4);
}
.stackCardGroup {
  position: relative;
  display: inline-block;
  margin-bottom: -8px;
  outline-style: none;
}
.stackCardGroup:focus {
  outline-style: none;
}
.stackCard {
  border-color: #bfbfbf;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  width: 420px;
  position: relative;
  left: 3px;
  top: -3px;
  box-sizing: border-box;
  transform-origin: top left;
}
.stackCardHidden {
  border-color: rgba(0, 0, 0, 0) !important;
  background: none !important;
}
.point-card {
  display: block;
  vertical-align: top;
  overflow-wrap: break-word;
}
.pointCardPaddingH {
  padding-left: 15px;
  padding-right: 12px;
}
.pointCardPaddingHExtra {
  padding-right: 24px;
}
.relExtraMarginBottom {
  margin-bottom: 8px;
}
.point-card.oppose {
  border: 1px red solid;
}
.point-card.root {
  border: 1px black solid;
}
.point-card:focus {
  outline-style: none;
}
.stackCardGroupActive:hover .stackCard {
  background-color: #f7f7f7;
}
/*
.point-card:hover {
  background-color: hsla(0, 0%, 96%, 1);
  outline-style: none;
}
*/
.stackCardGroupActive:focus .stackCard {
  /*.listedClaim:focus .stackCard {*/
  background-color: #f7f7f7;
  outline-style: none;
}
.stackCard.counter {
  border-color: #f6a3a3;
  background-color: #ffebef;
}
.stackCardGroupActive:focus .stackCard.counter {
  /*.listedClaim:focus .stackCard.counter {*/
  background-color: #ffe0e7;
}
.stackCardGroupActive:hover .stackCard.counter {
  /*.listedClaim:focus .stackCard.counter {*/
  background-color: #ffd6de;
}
/*
.point-card.counter:hover {
  background-color: hsla(330, 100%, 96%, 1) ;
}
*/
.cardTopRow {
  font-size: 12px;
  color: #a9a9a9;
  margin-bottom: 7px;
  padding-top: 9px;
}
.cardTopRowItem {
  margin-right: 10px;
}
.cardTopRowItem a {
  color: #a9a9a9;
}
.iconWithStat {
  margin-right: 2px;
}
li .iconWithStat {
  width: 12px;
  display: inline-block;
  margin-right: 6px;
}
.shareMenu .iconWithStat {
  font-size: 133%;
}
.bylineOtherUsers .iconWithStat {
  font-size: 90%;
}
.bylineOtherUsers {
  margin-left: 5px;
}
.commentLink {
  position: relative;
  top: 1px;
  margin-left: 1px;
}
.claimBadge {
  display: block;
  margin-bottom: 4px;
  color: #009dd6;
}
.claimBadgeIcon {
  margin-right: 3px;
  font-size: 90%;
}
.claimBadgeLabel {
  font-weight: bold;
}
.byline {
  width: inherit;
  display: inline-block;
  vertical-align: bottom;
  float: none;
  margin-bottom: 2px;
}
.bylineAuthor {
  display: inline-block;
  vertical-align: bottom;
  max-width: 144px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.bylineAuthor:hover {
  text-decoration: underline;
}
.bylineAnd {
  padding-right: 8px;
  padding-left: 5px;
}
.cardTopRowItem a:hover {
  color: #009dd6;
}
.cardTopRowItem .easierToClickOn {
  padding-top: 4px;
  padding-bottom: 4px;
}
.moreMenuLink {
  color: #a9a9a9;
  font-weight: 800;
  font-size: 13px;
  position: relative;
  top: 1px;
  right: 8px;
}
.moreMenuLink:hover {
  text-decoration: none;
}
.moreMenu {
  left: -14px;
}
.contributorsMenu {
  width: max-content;
}
.cardTopRowItem .dropdown-menu {
  width: max-content;
}
.claimTextDisplay {
  display: block;
  margin-bottom: 10px;
}
.pointTitle {
  color: black;
  font-weight: 500;
  line-height: 133%;
  letter-spacing: 0.01em;
  font-size: 17.008px;
}
.pointTitle a {
  color: black;
}
.score {
  font-size: 100%;
}
.ux2ScoreInLine {
  display: inline-block;
}
.scorePreAnimate {
  display: inline-block;
}
.negativeScore {
  color: #cc0008;
}
.Score--bounce {
  animation: Score-keyframes--bounce 0.4s ease;
  transform-origin: left bottom;
}
@keyframes Score-keyframes--bounce {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.vote-stats {
  background: white;
  border: 1px grey solid;
  width: 150px;
  position: relative;
  left: 10px;
  top: -4px;
}
.vote-stats p {
  padding: 8px;
  margin-bottom: 0;
  font-size: 14px;
}
.contentNoImage {
  display: inline-block;
  width: 100%;
}
.contentWithImage {
  display: table-cell;
  width: 78%;
}
.pointCardImageContainer {
  display: block;
  padding: 9px;
  padding-left: 0;
  width: 22%;
  height: 100%;
  position: absolute;
  right: 0;
}
.pointCardImage {
  width: 100%;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
}
.sources {
  margin-bottom: 4px;
}
.sourceLabel {
  max-width: 250px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: bottom;
}
a.source {
  font-size: 12px;
  color: #a9a9a9;
  display: block;
  margin-bottom: 4px;
  max-width: 100%;
  width: max-content;
}
.source:hover,
a.source:hover {
  color: #009dd6;
}
.iconSourcesSmall {
  margin-right: 6px;
  font-size: 13px;
  top: 1px;
  position: relative;
  margin-left: 4px;
}
.iconWithStat .fa-book-open {
  position: relative;
  left: -1px;
}
.editSourcesList {
  margin-bottom: 15px;
}
.editSourcesList .source {
  font-size: 17.008px;
  display: inline-block;
}
.removeSourceLink {
  color: #cc0008;
  font-size: 27px;
  right: 0;
}
.cardBottomAction {
  font-size: 14px;
  color: #a9a9a9;
  /*font-weight: bold;*/
  margin-right: 0;
  margin-top: 4px;
  display: inline-block;
  z-index: 1000;
}
.pointCardActive .cardBottomAction:hover {
  text-decoration: underline;
}
.bottomActionDot {
  margin-right: 8px;
  margin-left: 8px;
}
.cardBottomAction:active {
  transform: scale(0.99168) !important;
}
/*.point-card:hover .cardBottomAction, .point-card:focus .cardBottomAction {
    color: @blue ;
}*/
.cardBottomActionRow {
  margin-top: 14px;
  padding-bottom: 12px;
  -o-transition: 0.066s;
  -ms-transition: 0.066s;
  -moz-transition: 0.066s;
  -webkit-transition: 0.066s;
  /* ...and now for the proper property */
  transition: 0.066s;
  transform-origin: bottom left;
}
.stackCardGroupActive:focus .cardBottomActionRow,
.stackCardGroupActive:focus .cardBottomAction {
  /*.listedClaim:focus .cardBottomActionRow, .listedClaim:focus .cardBottomAction  {*/
  font-weight: bold;
  color: #009dd6;
}
/*.stackCardGroup:hover .cardBottomActionRow, .stackCardGroup:hover .cardBottomAction  {
    transform: scale(@cardBottomActionScaleUpOnHover) ;
  font-weight: bold;
  color: @blue ;
}*/
.pointCardActive:hover .cardBottomActionRow,
.pointCardActive:hover .cardBottomAction {
  transform: scale(1.033);
  font-weight: bold;
  color: #009dd6;
}
.evidenceContainer {
  display: inline-block;
}
.agree {
  margin-right: 8px;
}
.point-card .agree.current-vote {
  color: black;
  font-weight: bold;
}
.point-card .disagree.current-vote {
  color: #cc0008;
  font-weight: bold;
}
.evidenceBlockEmpty .addEvidenceButtonGrp {
  margin-top: 0;
}
.addEvidenceButtonGrpCounter {
  margin-bottom: 40px;
}
@keyframes editAreaReveal {
  0% {
    max-height: 0;
    opacity: 0;
    padding-top: 0;
  }
  75% {
    max-height: 550px;
    padding-top: 9px;
  }
  100% {
    opacity: 1;
  }
}
@keyframes commentsAreaReveal {
  0% {
    max-height: 0;
    opacity: 0;
    padding-top: 0;
  }
  75% {
    max-height: 1024px;
    padding-top: 9px;
  }
  100% {
    opacity: 1;
  }
}
.editClaimText,
.editImage,
.editSources,
.commentsArea {
  animation-duration: 0.33s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
.editClaimText,
.editImage,
.editSources {
  animation-name: editAreaReveal;
}
.commentsArea {
  animation-name: commentsAreaReveal;
  display: block;
  position: relative;
  width: 420px;
  box-sizing: border-box;
  top: -7px;
  left: 15px;
  margin-bottom: 32px;
}
.commentsList {
  width: 100%;
}
.comment .byline {
  margin-top: 5px;
}
.commentIndent {
  width: 88%;
  margin-left: 12%;
}
.commentText {
  font-size: 14px;
  color: #2e2e2e;
  margin-top: 7.5px;
  margin-bottom: 15px;
}
.commentsArea .divider {
  border: none;
  height: 0.75px;
  overflow: hidden;
  background-color: #bfbfbf;
  margin-top: 24.5px;
  margin-bottom: 18.62px;
}
.commentBottomRowActions {
  margin-bottom: 24px;
}
.newCommentButton {
  margin-top: 10px;
  margin-bottom: 10px !important;
  margin-right: 4px;
}
.newCommentPublishButton {
  margin-top: 0;
  margin-bottom: 0 !important;
}
.editAreaLink {
  font-size: 14px;
  margin-right: 14px;
}
.editAreaLink:hover {
  text-decoration: underline;
}
.claimEditArea {
  background-color: #d5fcfa;
  padding-top: 9px;
  padding-bottom: 18px;
  padding-left: 15px;
  padding-right: 15px;
}
.editClaimText,
.editImage,
.editSources {
  width: calc(99.9%);
}
.claimEditAreaHeading {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
.claimEditAreaSavingFeedback {
  margin-top: 8px;
  display: inline-block;
  margin-left: -6px;
  padding-bottom: 14px;
}
.claimEditAreaNote {
  display: inline-block;
  color: #2e2e2e;
  width: 100%;
  margin-bottom: 16px;
}
.hotTip {
  font-style: italic;
}
.relCtrlAndLinkAndStackCards {
  display: inline-block;
}
@keyframes shareIconAreaReveal {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.shareIconArea {
  display: inline-block;
  position: relative;
  left: -9px;
  top: -6px;
  font-size: 15px;
  vertical-align: top;
  animation-name: shareIconAreaReveal;
  animation-duration: 0.216s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
.listedClaimAndShare:hover .shareIconArea {
  display: inline-block;
}
a .claimShareIcon {
  display: block;
  padding: 6px;
  color: #a9a9a9;
}
.claimShareIcon:hover {
  color: #009dd6;
  cursor: pointer;
  transform: scale(1.33);
}
.claimShareIcon:active {
  transform: scale(1.15);
}
.headerLinks {
  font-size: 15.008px;
}
.headerUserName {
  font-family: "ff-meta-web-pro-condensed", sans-serif;
  font-size: 16px;
}
.buttonUX2,
.tabUX2,
.buttonSecondaryUX2blue {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 15.008px;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-style: solid !important;
  border-width: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.buttonUX2,
.buttonSecondaryUX2blue {
  padding-top: 4px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 5px;
}
.tabUX2 {
  padding-top: 6px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  color: #009dd6;
  border: none !important;
  background: none;
  display: inline-block;
  margin-right: 4px;
}
.tabUX2_selected {
  background-color: #009dd6;
  color: white;
}
.tabUX2:hover,
.tabUX2:focus {
  background-color: #33c9ff;
  border-color: #33c9ff;
  color: white;
  outline: none;
}
.buttonUX2 {
  position: relative;
  color: white;
  background-color: #363636;
  border-color: #363636;
  outline: none !important;
}
.buttonUX2:disabled {
  color: #f0f0f0;
  background-color: #999999;
  border-color: #999999;
}
.buttonUX2Red:disabled {
  background-color: #f6a3a3;
  border-color: #f6a3a3;
}
.buttonUX2:hover:enabled,
.buttonUX2:focus:enabled {
  background-color: black;
  border-color: black;
}
a.buttonUX2:hover:enabled,
a.buttonUX2:focus:enabled {
  color: white;
}
a.buttonUX2:active:enabled,
a.buttonUX2:focus:enabled {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
.buttonUX2:active:enabled,
.buttonSecondaryUX2blue:active:enabled {
  transform: scale(0.975);
  outline-style: none;
}
.buttonUX2Blue {
  background-color: #009dd6;
  border-color: #009dd6;
}
.buttonUX2Blue:hover:enabled,
.buttonSecondaryUX2blue:hover:enabled,
.buttonUX2Blue:focus:enabled {
  background-color: #33c9ff;
  border-color: #33c9ff;
  color: white;
}
/*
.buttonUX2Blue:focus {
  box-shadow: @blueLight;
  outline: none;
}*/
.buttonUX2Red {
  background-color: #cc0008;
  border-color: #cc0008;
}
.buttonUX2Red:hover:enabled,
.buttonUX2Red:focus:enabled {
  background-color: #f50000;
  border-color: #f50000;
}
/*
.buttonUX2Red:focus:enabled {
  box-shadow: @redLight;
  outline: none;
}*/
.buttonSecondaryUX2blue {
  position: relative;
  color: #009dd6;
  border-color: #009dd6;
  outline: none !important;
  background: none;
}
.cancelButton {
  background: none;
  border: none;
  font-size: 14px;
  outline-style: none;
  display: inline-block;
  padding: 0;
  padding-left: 6px;
}
.cancelButton:hover:enabled,
.cancelButton:focus:enabled {
  text-decoration: underline;
  outline-style: none;
}
.cancelButton:active {
  transform: scale(0.975);
}
.cancelButtonAddEvidence {
  padding-right: 0;
  float: right;
  margin-right: 12px;
  margin-top: 7px;
  margin-left: 2px;
  color: grey;
}
.cancelButtonNewComment {
  margin-left: 8px;
  position: relative;
  top: -2px;
  color: grey;
}
.addEvidenceButton {
  display: inline-block;
  width: auto;
  margin-right: 4px;
  padding-left: 15px;
  padding-right: 15px;
}
.buttonUX2Red.addEvidenceButton {
  left: 0;
}
.addEvidenceButtonGrp {
  margin-bottom: 40px;
  margin-top: 48px;
  margin-left: 14px;
  color: #2e2e2e;
  display: inline-block;
}
.addEvidenceButtonGrp:hover .addEvidenceButton {
  text-decoration: none !important;
  transform: scale(1.025);
  transform-origin: top left;
  transition: 0.066s;
  background-color: black;
}
.addEvidenceButtonGrp:hover .buttonUX2Red {
  background-color: #f50000;
}
.addEvidenceButton:active {
  transform: scale(0.999375) !important;
}
.createClaimFormButton {
  display: block;
  top: 0;
}
.imageEditForm {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
.imagePickerButton {
  margin-bottom: 27px;
  margin-top: 4px;
  transform: scale(1.45);
  position: relative;
  left: 27px;
}
.imagePickerButton:active:enabled {
  transform: scale(1.41375);
}
.imageBigDisplay {
  margin-bottom: 20px;
}
.editPointTextForm {
  display: inline-block;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 0;
  z-index: 1;
  position: relative;
}
@keyframes editPointTextFieldReveal {
  0% {
    max-height: 0;
    opacity: 0;
  }
  75% {
    max-height: 172px;
  }
  100% {
    opacity: 1;
  }
}
#editPointTextField {
  padding-top: 10px;
  animation-name: editPointTextFieldReveal;
  animation-duration: 0.33s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
.twoLines {
  height: 82px !important;
}
.threeLines {
  height: 110px !important;
}
.fourLines {
  height: 128px !important;
}
.fiveLines {
  height: 148px !important;
}
.sixLines {
  height: 164px !important;
}
.addEvidenceFormGroup {
  display: inline-block;
  position: relative;
  margin-left: 22.5px;
}
.addEvidenceForm {
  margin-top: 0;
  display: inline-block;
  position: relative;
  top: -8px;
}
.arrowAddEvidenceForm {
  font-size: 18px;
  position: relative;
  left: 14px;
  top: -6px;
}
.addEvidenceFormLabel {
  color: #5d5d5d;
  font-size: 13.008px;
}
.addEvidenceControlsArea {
  vertical-align: top;
  display: inline-block;
  position: relative;
  top: 56px;
}
.addEvidenceControlsAreaNoEvidence {
  top: 18px;
}
.inputFieldUX2 {
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 17.008px;
  line-height: 125%;
  color: #2e2e2e;
  padding: 15px;
  padding-top: 14px;
  padding-bottom: 16px;
  border-color: #bfbfbf;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}
.inputFieldUX2multi {
  margin-bottom: 10px;
}
.titleTextField {
  height: 64px;
  padding-bottom: 30px;
  padding-top: 10px;
  margin-bottom: 0;
}
.inputFieldUX2::placeholder {
  color: grey;
  font-style: italic;
  font-size: 16px;
  vertical-align: top;
  display: block;
  position: relative;
  top: 0;
}
.inputFieldUX2::-ms-input-placeholder {
  /* IE 10-11*/
  color: grey;
  font-style: italic;
}
.inputFieldUX2:-ms-input-placeholder {
  /* MS Edge */
  color: grey;
  font-style: italic;
}
.inputFieldUX2:active,
.inputFieldUX2:focus {
  box-shadow: none;
  border-color: #2e2e2e;
  border-width: 2px;
  outline: none;
}
.titleTextField:active,
.titleTextField:focus {
  height: 92px;
}
.inputFieldUX2multi:active,
.inputFieldUX2multi:focus {
  margin-bottom: 8px;
}
.addEvidenceForm .titleTextField {
  border-color: #2e2e2e;
  border-width: 2px;
}
.titleTextField.counter {
  border-color: #cc0008;
  border-width: 2px;
}
.titleTextField.counter:focus {
  border-color: #cc0008;
}
.progressStateFeedback {
  font-size: 14px;
  color: #2e2e2e;
  min-height: 56px;
  display: block;
  margin-bottom: 0;
}
.progressStateFeedback.counter {
  color: #cc0008;
}
.claimFeedbackArea {
  font-size: 17.008px;
  background-color: white;
  border-color: #2e2e2e;
  border-width: 2px;
  border-style: solid;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
  margin-top: -8px;
  margin-bottom: 16px;
}
.claimFeedbackArea.counter {
  border-color: #cc0008;
}
.existingClaimPicker {
  padding: 15px;
  padding-top: 19px;
}
.existingClaimPickerHeading {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
.existingClaimList {
  margin: 0;
}
.existingClaimList li {
  line-height: 125%;
  margin-bottom: 10px;
}
.existingClaimList li:hover {
  text-decoration: underline;
  cursor: pointer;
}
/*
.existingClaimList li:hover::after {
  content: "- add this"
}
*/
.titleTextErrorAreaContent {
  background-color: #ffff9e;
  display: block;
  font-size: 14px;
  width: 100%;
  padding: 15px;
  padding-top: 18px;
}
/*
.fsp-url-source__container {
  justify-content: start !important;
  padding-top: 16px !important;
}
*/
.arrowHeadUp {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid #2e2e2e;
}
.arrowHeadUp.counter {
  border-bottom-color: #cc0008 !important;
}
.arrowStemEvidence {
  width: 12px;
  height: 106px;
  margin-left: 2.8px;
  border-style: none;
  border-left: 2px solid #2e2e2e;
  border-bottom: 2px solid #2e2e2e;
}
.arrowStemEvidence.counter {
  border-bottom-color: #cc0008 !important;
  border-left-color: #cc0008 !important;
}
.arrowStemEvidenceShort {
  height: 20px;
}
.arrowEvidence {
  display: inline-block;
  margin-left: 21px;
  vertical-align: top;
}
.verticalOffsetForLongEvidenceArrow {
  position: relative;
  top: -45px;
  margin-bottom: -45px;
}
.verticalOffsetForLongEvidenceArrowForm {
  top: 81px;
  position: relative;
}
.arrowPointToSupport {
  font-size: 18px;
  position: relative;
  left: 52px;
  top: -13px;
}
.arrowCard {
  font-size: 18px;
  position: relative;
  top: -5px;
  right: 8px;
}
.arrowAddEvidenceButton {
  /*  font-size: 10px;
  margin-bottom: 2px;
  margin-left:2px;
  display:inline-block;*/
  font-size: 18px;
  margin-bottom: 2px;
  margin-left: 4px;
  display: inline-block;
}
.addEvidenceButtonGrpCounter .arrowAddEvidenceButton {
  color: #cc0008;
}
a:hover .arrowAddEvidenceButton {
  display: inline-block;
  text-decoration: none !important;
}
.dashedLine {
  color: #acacac;
  width: 1px;
  border-left-style: dashed;
  border-left-width: 1px;
  position: absolute;
}
.dottedLine {
  color: #2e2e2e;
  width: 1px;
  border-left-style: dotted;
  border-width: 1px;
  position: absolute;
}
.dottedLineExpansionIndicator {
  height: calc(100% + 8px);
  opacity: 0.25;
  margin-left: -21px;
  bottom: 27px;
}
.dottedLineRelevanceLink {
  height: 32px;
  margin-left: 24px;
  margin-top: -39px;
}
.dottedLineElbow {
  width: 8px;
  height: 10px;
  border-bottom-style: dotted;
  border-left-style: dotted;
  position: absolute;
  margin-left: 24px;
}
.evidenceBlockCounter .dottedLineElbow {
  color: #cc0008;
}
.evidenceBlockSupport .dottedLineElbow {
  color: #2e2e2e;
}
.dottedLinesSplitEvidenceHeader {
  position: relative;
  left: 15px;
  margin-bottom: -22px;
  height: 33px;
}
.dottedLinesSplitEvidenceSupport {
  height: 20px;
  border-left-style: dotted;
  border-bottom-style: dotted;
  border-width: 1px;
  margin-right: 14px;
  width: 0.5px;
  display: inline-block;
}
.dottedLinesSplitEvidenceCounter {
  width: 8px;
  height: 12px;
  border-bottom-style: dotted;
  border-left-style: dotted;
  border-width: 1px;
  color: #cc0008;
  display: inline-block;
  vertical-align: top;
}
.dottedLineCounterConnector {
  width: 12px;
  height: 9px;
  border-width: 1px;
  border-top-style: dotted;
  border-right-style: dotted;
  position: absolute;
  top: 1px;
  left: 12.5px;
  margin-left: 0;
  color: #cc0008;
}
.counter .dottedLine {
  color: #cc0008;
}
.relCtrlAndLinkAndStackCards:hover .dottedLineRelevanceLink,
.relCtrlAndLinkAndStackCards:hover .dottedLineElbow,
.listedClaim:focus .dottedLineRelevanceLink {
  color: #009dd6;
}
.dashedLineEvidenceBlock {
  height: 45%;
  margin-left: 18px;
  margin-top: -26px;
}
.transitionDashedLine {
  transform: scaleY(2);
  transform-origin: bottom;
  transition: 0.066s;
}
.addEvidenceUI {
  margin-bottom: 88px;
  width: fit-content;
}
.addEvidenceUI:hover .arrowStemEvidence:not(.arrowStemEvidenceShort) {
  transition: 0.04356s;
  height: 123px;
}
.addEvidenceUI:hover .verticalOffsetForLongEvidenceArrow {
  top: -62px;
  transition: 0.04356s;
}
.addEvidenceUI:hover {
  margin-bottom: 71px;
  transition: 0.04356s;
}
.evidenceBlockEmpty .addEvidenceUI:hover {
  margin-bottom: 88px;
}
.dottedLineAddEvidenceButton {
  margin-left: 6px;
  display: inline;
  z-index: -5;
  height: 66px;
  margin-top: -60px;
}
.dottedLineAddCounter {
  color: #cc0008;
}
.dottedLineNoEvidence {
  height: 27px;
  margin-top: -26px;
}
.spinner {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  margin-left: 4px;
  margin-right: 4px;
  width: 28px;
}
.spinnerPointList {
  margin-left: 24px;
}
.spinnerLabel {
  color: #2e2e2e;
  line-height: 133%;
  letter-spacing: 0.01em;
  font-size: 17.008px;
}
.claimTitleField {
  display: inline-block;
  width: 100%;
}
.charCounter {
  font-size: 12px;
  color: #8c8c8c;
  margin-right: 12px;
  position: relative;
  max-width: 24px;
  float: right;
  transform: translateY(-24px);
}
.overMaxChars {
  color: #cc0008;
}
#explanationRowHomepage {
  margin-bottom: 27px;
  padding-bottom: 21px;
  margin-top: 23px;
  margin-left: -3px;
}
.explanationBlock {
  margin-right: 36px;
  margin-left: 27px;
}
.explanationTextCentered {
  font-size: 14px;
  display: inline-block;
  text-align: left;
  margin-top: 2px;
}
.explanationImageCentered {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  margin-right: 10px;
}
.carousel {
  max-width: 80vw;
}
.carousel.carousel-slider .control-arrow,
control-arrow control-prev {
  transition: none !important;
  opacity: .6 !important;
}
.carousel .control-next.control-arrow:before {
  border-left-color: #009dd6 !important;
}
.carousel .control-prev.control-arrow:before {
  border-right-color: #009dd6 !important;
}
.carousel .slide {
  background: none !important;
  min-width: none !important;
}
.carousel .slide img {
  height: 40px !important;
  width: unset !important;
}
.mainPageClaimCreationArea {
  margin-left: 14px;
  margin-bottom: 21px;
}
.mainPageClaimCreationLabel {
  margin-left: 12px;
  font-size: 24px;
  margin-bottom: 14px;
}
.claimCreationFormFieldBlock {
  display: inline-block;
  width: 420px;
  margin-right: 6px;
}
.editPointTextForm .claimCreationFormFieldBlock {
  width: calc(100% - 72px);
}
.claimCreationFormButtonBlock {
  display: inline-block;
  vertical-align: top;
}
/* DEPRECATED
.newPointInputRowFieldArea {
    // use the full width, minus the space needed for the publish button
    // the ~ and "" is needed to pass the calc command through the less compiler
    width: -moz-calc(~"100% - 165px");
    width: -webkit-calc(~"100% - 165px");
    width: calc(~"100% - 165px");
    margin-right:8px;
    //display:inline-block;
}
*/
.mainPageInput {
  margin-bottom: 8px;
}
.mainPageHeading {
  margin-bottom: 16px;
  font-size: 17.008px;
}
.indentToClaimText {
  margin-left: 28px;
}
#mainPageMainArea {
  padding-left: 0;
  min-height: 960px;
  margin-top: 32px;
}
#searchResultsArea {
  margin-top: 32px;
}
#searchResultsHeader {
  margin-top: 16px;
  margin-left: 27px;
}
.react-tabs__tab-list {
  margin-left: 15px;
  margin-bottom: 21px;
}
body {
  zoom: .9;
  background-size: 5px 5px;
}
@media (max-device-height: 680px) {
  body {
    zoom: .9;
  }
}
.historyContent {
  margin-left: 16px;
}
.historyHeadline {
  margin-top: 12px;
  margin-bottom: 48px;
}
.historyVersion {
  width: 100%;
}
.historyClaimText {
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 18px;
}
.historySection {
  margin-bottom: 16px;
}
.historySubheading {
  margin-top: 24px;
  margin-bottom: 8px;
}
.historyItem {
  margin: 0;
  padding: 0;
}
.historyClaimVersionTag {
  font-size: 66%;
  color: #a9a9a9;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 8px;
}
.historyDivision {
  width: 50%;
  height: 3px;
  margin-top: 72px;
  margin-bottom: 32px;
  background-color: #2e2e2e;
}
.hidden-wideDisplays {
  display: none !important;
}
.hidden-mediumWidthDisplays {
  display: inherit !important;
}
@media (max-width: 979px) {
  .hidden-mediumWidthDisplays {
    display: none !important;
  }
  .hidden-wideDisplays {
    display: inherit !important;
  }
}
@media (min-width: 1200px) {
  .container,
  .navbar-fixed-top .container {
    width: auto;
  }
  #userMenuArea .username {
    width: unset;
    max-width: 150px;
  }
}
@media (max-device-width: 1024px) {
  #header {
    position: fixed;
  }
  #mainContainer {
    zoom: .8;
    overflow: scroll;
  }
}
@media (max-width: 979px) and (min-width: 767.01px) {
  .navbar .container {
    width: unset;
  }
  #mainContainer {
    margin-left: calc(2% + 54px);
  }
  #searchArea {
    width: -moz-calc(100% - 575px);
    width: -webkit-calc(100% - 575px);
    width: calc(100% - 575px);
  }
  #signInFromHeader {
    right: 18px;
  }
  #explanationRowHomepage {
    margin-left: -27px;
    width: auto;
  }
  .explanationTextCentered {
    width: unset;
  }
  .control-arrow .control-next {
    margin-right: 20%;
  }
}
@media (max-width: 767px) {
  body {
    padding-left: 10px;
  }
  #termsPopup {
    width: 85%;
    margin-left: -42.5%;
    top: -8px;
  }
  #header {
    position: fixed;
  }
  /*#CreatePoint, #aboutMenu, #searchArea  {
    margin-left: @headerMarginNarrow;
  }*/
  #userMenuArea {
    margin-left: 32px;
  }
  #signInFromHeader {
    right: 18px;
  }
  #userMenuSignedIn {
    left: -42px;
  }
  #searchArea {
    float: none;
    width: -moz-calc(100% - 305px);
    width: -webkit-calc(100% - 305px);
    width: calc(100% - 305px);
  }
  #notifications {
    margin-right: 10px;
    margin-left: 0;
  }
  .control-arrow .control-next {
    margin-right: 10%;
  }
  #mainContainer {
    margin-left: 0px;
  }
  #explanationRowHomepage {
    width: 90vw;
    position: relative;
    left: -12px;
  }
  .control-prev {
    margin-left: 20%;
  }
  .control-next {
    margin-right: 20%;
  }
  .explanationBlock {
    float: none;
    margin: auto;
  }
  .infiniteWidth {
    margin-left: 0;
  }
  #frm_signupDialog input,
  #frm_signupDialog textarea {
    width: calc(100% - 148px);
  }
  .claimCreationFormFieldBlock {
    width: 69vw;
  }
  .pointPageContainer {
    margin-top: 24px;
  }
  .listedClaimGroup {
    width: 159vw;
  }
  .relGroupHilite {
    width: 77vw;
    max-width: unset;
  }
  .point-card {
    display: inline-block;
  }
  .stackCard,
  .commentsArea {
    width: 69vw;
  }
}
@media (max-width: 675px) {
  .signInFooterItems {
    margin: 0 auto;
    float: none;
  }
}
@media (max-width: 640px) {
  .hidden-smallWidthDisplays {
    display: none !important;
  }
  #signupDialog {
    width: unset;
  }
  .buttonUX2:not(#submit_emailLoginDialog, #submit_signupDialog) {
    padding-left: 9px;
    padding-right: 9px;
  }
  .buttonUX2RespIcon {
    padding-right: 8px;
    padding-left: 8px;
  }
  .claimCreationFormFieldBlock {
    width: calc(84vw - 48px);
  }
  .addEvidenceForm .claimCreationFormFieldBlock {
    width: calc(84vw - 48px - 36px);
  }
  .stackCard,
  .commentsArea {
    width: 84vw;
  }
  .relGroupHilite {
    width: 92vw;
  }
  .pointCardImageContainer {
    width: 18%;
  }
  .contentWithImage {
    width: 82%;
  }
  .control-prev {
    margin-left: 10%;
  }
  .control-next {
    margin-right: 10%;
  }
  .policySectionCopy {
    width: 85%;
  }
}
@media (max-width: 480px) {
  .sourceLabel {
    max-width: 144px;
  }
  #frm_signupDialog input,
  #frm_signupDialog textarea {
    width: -webkit-fill-available;
  }
  .backToLoginArea {
    max-width: 174px;
    height: 27px;
    text-overflow: clip;
    overflow: hidden;
  }
  .relGroupHilite {
    width: 100vw;
  }
}
@media (max-width: 360px) {
  #mainContainer {
    margin-left: -6px;
  }
  .claimCreationFormFieldBlock {
    width: 84vw;
  }
  .relVoteLink,
  .relVoteLink button {
    font-size: 20px;
    padding-left: 8px;
    padding-right: 6px;
  }
}
