<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>

	<br>Looking at case: {{ case.myKey  }}<br>

	{% for point in points %}
		<form action="/deleteCase" method="post">
		{% if point.author %}
			<b>{{ point.author.nickname }}</b> wrote:
		{% else %}
			An anonymous person wrote:
		{% endif %}

		<blockquote>{{ point.content|escape }}</blockquote>
		
		<input type="hidden" name="KeyToDelete" value={{ point.myKey }}>
		<div><input type="submit" value="Delete Case"></div>
		<hr>
		</form>
	{% endfor %}

    <form action="/addPoint" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Create Case"></div>
      <!--<form>Case title: <input value="%s" name="case_title">
      <input type="submit" value="switch"></form>-->
    </form>

    <a href="{{ url }}">{{ url_linktext }}</a>

  </body>
</html>
