<!-- IE in quirks mode -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
body{
 margin:0;
 padding:40px 0 20px 0;
}
div {
 font-size: 12px;
}

/* THINGS IN THE HEADER */
div#header{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:52px;
	background:#EFEFEF;
	color:black;
	z-index: 5;
}

a#CreatePoint {
	display: block;
	position:relative;
 	width: 118px;
 	height: 27px;
	background:transparent url('/static/img/button_makeAPoint_grey_118.png') center top no-repeat;
	top:9px;
}

.hidden {
	visibility:hidden;
}

.noDisplay {
	display:none;
}

a#CreatePoint:hover {
   background-image: url('/static/img/button_makeAPoint_black_118.png');
}

a#Suggestions {
	position:fixed;
 	width: 82px;
 	height: 83px;
	right: 0px;
	bottom: 50px;
	background:transparent url('/static/img/icon_suggestions_grey_82px.png') center top no-repeat;
}

a#Suggestions:hover {
   background-image: url('/static/img/icon_suggestions_black_82px.png');
}

.searchArea {margin-left:175px; margin-right:319px; min-width:200px;}

.searchBox {
	position:relative;
    width:90%;
    margin-top: 20px;
}

.logoArea {width:159px; float:left; }
img#logoImage{
	vertical-align: middle;
	height:52px;
	width:159px;
	z-index:1;
}

.userArea {
	width:350px;
	float:right;
	text-align:right;
	margin-top:5px;
	font-style: italic; font-size:0.8em;
	margin-right:5px;
}

.userControls {
	position:relative;
	top:-29px;
	margin-left: 150px;

}
img#avatar{
  vertical-align: middle;
  height:45px;
  margin-right:0.5em;
  margin-bottom:0.5em;
}


div#footer{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:50px;
	background:#000000;
	color:white;
	z-index: 5;
}

.footerCopyright {float:right; color:#58595B;font-size:0.8em;}
.footerMenu {
	margin-left: 40px;
	font-size:1.6em;
	font-weight:bold;
	font-family: "nimbus-sans-condensed",sans-serif;
}
.footerMenu a {margin-left: 40px; }
.tagline { margin-left: 40px;font-style:italic;  }
.footerMenu a:link {color:white; text-decoration:none;}     /* unvisited link */
.footerMenu a:visited {color:white; text-decoration:none;}  /* visited link */
.footerMenu a:hover {color:#00ADEE; text-decoration:none;}  /* visited link */

@media screen{
	body>div#header{
		position:fixed;
	}
	body>div#footer{
		position:fixed;
	}
}

div#content{
	height:100%;
	overflow:auto;
	position:relative;
	top:60px;
	padding-bottom:50px;
}


img.listDisplay{
    display:block;
    float:right;
    position: absolute;
	top: 5px;
	right: 5px;
	max-width: 100px;
	max-height: 100px;
}

img.pointDisplay{
    display:block;
    float:right;
    position: absolute;
	top: 5px;
	right: 5px;
	max-width: 200px;
	max-height: 200px;
}

img.smallDisplay {
  float:left;
  max-width: 50px;
  max-height: 50px;
  padding-right: 10px;
}

img.testDisplay{
  float:right;
  clear:both;
  width: 50% ;
  margin: 30px -100px 10px 10px ;
}

.testDisplay.before{
  content: '' ;
  display:block;
  float: right;
  height: 200px;
}

div#WAScaseSummary{
	display:block;
	position:relative;
	top:25px;
	right:25px;
	width:190px;
	height:140px;
	margin:0;
	padding:30px;
	overflow:hidden;
	background: url(http://static.tumblr.com/njty47g/yu0leufgq/post_shadow.png)
}

.caseTitle{font-size:1.2em;font-style:italic;margin-bottom:0.5em;margin-top:0.2em;position:relative;}
.mainPointTitle{font-size:1.2em;font-style:italic;margin-bottom:0.5em;margin-top:0.2em;position:relative;}


.searchColumn {margin:0 310px; margin-top:20px;}

.recentlyViewedColumn {width:300px; float:left;margin-top:20px; }

.newPointColumn {
	width:200px;
	float:right;
	margin-top:20px;
}

.greenScore {
	color:#0CCF00;
}

.yellowScore {
	color:#EBC821;
}

.redScore {
	color:#FF000B;
}

/*
THIS WORKED IN THE TEST PAGE TO FLOAT IMAGE LEFT OF CONTENT
.pointSummaryText{
	overflow:hidden;
	height:auto;
	width:auto;
	margin-bottom:0.5em;
	margin-top:0.2em;
	font-family: georgia, garamond, serif;
}

.pointSummaryText p{
	auto;
	height:auto;
	width:auto;

}
*/

.pointSummaryText{
	margin-bottom:0.5em;
	margin-top:0.2em;
	font-family: georgia, garamond, serif;
	font-size:0.95em;
	color:#6D6E70;

}

.bigTitle{
	font-size:1.6em;
}

.mediumTitle{
	font-size:1.5em;
}

.columnTitle{
	font-family: georgia, garamond, serif;
	font-size:1.3em;
	font-style:italic;
	font-weight:bold;
	color:#6D6E70;
}
.pointSummaryTitle {
	font-weight:bold;
	font-family: "nimbus-sans-condensed",sans-serif;
}

a.navWhy {
	display: block;
	position:relative;
	width:46px;
	height:34px;
	border-style:none;
	left:240px;
	background:transparent url('/static/img/arrow_why_45_grey.png') center top no-repeat;
}

a.navWhy:hover {
   background-image: url('/static/img/arrow_why_45_black.png');
}



.mainPointContent{margin-bottom:0.5em; margin-top:0.2em}
.caseInfo{font-size:0.8em;font-style:italic;position:absolute;bottom:10px;right:10px;list-style: none;font-weight:bold}
.mainPointInfo{font-size:0.8em;font-style:italic;position:relative;bottom:10px;left:10px;list-style: none;font-weight:bold}
.caseVersion:before{content:"Version: ";font-size:inherit;font-style:inherit;font-weight:normal}
.mainPointVersion:before{content:"Version: ";font-size:inherit;font-style:inherit;font-weight:normal}
.caseAuthor:before{content:"Last Edited By: ";font-size:inherit;font-style:inherit;font-weight:normal}
.mainPointAuthor:before{content:"Last Edited By: ";font-size:inherit;font-style:inherit;font-weight:normal}
.caseDateEdited:before{content:"Date Edited: ";font-size:inherit;font-style:inherit;font-weight:normal}
.mainPointDateEdited:before{content:"Date Edited: ";font-size:inherit;font-style:inherit;font-weight:normal}
.mainPointViewCount:before{content:"ViewCount: ";font-size:inherit;font-style:inherit;font-weight:normal}
/*.mainPointImageURL:before{content:"Image URL: ";font-size:inherit;font-style:inherit;font-weight:normal}*/
.mainPointImageAuthor:before{content:"Image Author: ";font-size:inherit;font-style:inherit;font-weight:normal}
.mainPointImageDescription:before{content:"Image Description: ";font-size:inherit;font-style:inherit;font-weight:normal}
.centered{width:66%;margin-left: auto ; margin-right: auto ;}

.editCaseButton {margin-bottom: 3px;margin-left: 5px;}
.rightButton {margin-left: 125px; margin-top: -25px}
.boxedElement {
	position: relative;
	margin-bottom: 10px;
	padding:10px;
	background: #fff;
	border-style:solid;
	border-width:1px;
	border-color:#B9BBBD;
	z-index: 3;
  	word-wrap: break-word;
}

.dropShadow {
	-webkit-box-shadow: -2px 2px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -2px 2px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         -2px 2px 5px rgba(50, 50, 50, 0.75);
}

.caseSummarySaveToggle {float:left}
.caseSummaryEditToggle {float:left}


.pointSaveToggle {float:left}



.pointSummaryAuthor{font-size:0.8em;font-style:italic;position:absolute;bottom:10px;right:10px}*/
.pointTextEdit {width:100%;}
.pointTitleEdit {width:100%;}
.clear{ clear:both; height:0; width:100%;}

.pointTable { margin: 1em; border-collapse: collapse; font-size:0.8em;}
.pointTable td, .pointTable th { padding: .3em; border: 1px #ccc solid; }
.pointTable thead { background: #659FFF; }
.pointTable tbody { background: #F5FFFA; }

/* Dialog window stuff */

label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px;}
h1 { font-size: 1.2em; margin: .6em 0; }
/*div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
*/
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
.ui-button-text {font-size:13px;}
.ui-icon-up { background-image: url(/static/img/up-button.png) !important; background-size: 100% Auto; }
.ui-icon-down { background-image: url(/static/img/down-button.png) !important; background-size: 100% Auto;}

/* Edit point dialog stuff */

.mceEditor.textEdit { width:100% }
.titleEdit {
  width:100%;
  height: 1.2em;
  resize:none;}
.fieldEdit {
  display: inline;
  overflow: hidden;
  float:right;
  height: 16px;
  padding: 2px;
  resize:none;
  height:100%;
  width:84%;
  }

.dlgLabelName{
  float:left;
  width:100px;
  display:block;
  background:#EFEFEF;
  height: 100%;
  padding:0px;
  margin:0px;
  }
.dlgField{
  border: 1px solid;
  border-color:#BDC1C4;
  background:#EFEFEF;
  margin-top:5px;
  width:100%;
  overflow:hidden;
  }
#textEdit_tbl {width:100% !important;}
#textEdit_ifr {width:100% !important;}

/************************************************************************************
THREE COLUMN LAYOUT STARTS HERE
*************************************************************************************/
#leftColumn {
	width: 290px;
	float: left;
	padding: 5px 15px;
}

#middleColumn {
	width: 290px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

#rightColumn {
	width: 290px;
	padding: 5px 15px;
	float: left;
}
#columnSupporter {
	clear: both;
	padding: 0 15px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {

	#leftColumn {
		width: 41%;
		padding: 1% 4%;
	}
	#middleColumn {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}

	#rightColumn {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}

	#columnSupporter {
		padding: 1% 4%;
	}
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#leftColumn {
		width: auto;
		float: none;
	}

	#middleColumn {
		width: auto;
		float: none;
		margin-left: 0px;
	}

	#rightColumn {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	h1 {
		font-size: 24px;
	}
	#rightColumn {
		display: none;
	}

}

.pointUnlink img{
  max-width: none;
	height: 32px;
	width: 32px;
}

.pointEditToggle img{
  max-width: none;
	height: 32px;
	width: 32px;
}

