{% extends "base.html" %}

{% block mainPageContent %}
<div id="content">
  <div class="boxedElement">
    <h1>Mission</h1>
    <p>Whysaurus seeks to collect, refine and display the world's bext explanations for why people believe any ideas</p>
  </div>
  
  <div class="boxedElement">
    <h1>Team</h1>
    <p>Whysaurus was conceived and created by Aaron Lifshin and Joshua Frankel.</p>
    
    <h2>Aaron Lifshin</h2>
    <h3>CTO</h3>
    <p>Aaron is the creator of bonline.com and has won all kinds of awards for his sleek code and bouyant curly hair. 
    He is a cool guy and so on and so forth. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Donec augue lacus, pulvinar vitae molestie vitae, suscipit eget est. 
    Mauris quam enim, consequat eu mollis in, tincidunt id nibh.</p>
    
    <h2>Joshua Frankel</h2>
    <h3>Creative Director</h3>
    <p>Joshua is an artist, animator and filmmaker with a brain arranged in a tree-like structure. 
    He grew up in Hell's Kitchen, listening to hip-hop and trying not let anyone take his lunch money.
    His films have screened in countries like France and have been called "Gorgeous" by someone who writes for The New Yorker. 
    He creates public art with his wife Eve Biddle in New York City and beyond. 
    His website is here.</p>
  </div> 
</div>
  
 {% endblock %}
 