{% extends "base.html" %}

{% block mainPageContent %}

<div id="content">
    <h1>Team</h1>
    <p>Whysaurus was conceived and created by Aaron Lifshin and Joshua Frankel.</p>
       
    <h2>Joshua Frankel</h2>
    <h3>Creative Director</h3>
    Joshua is an artist, filmmaker and designer with a brain arranged in a tree-like structure. He was a member of the groundbreaking digital team on President Obama’s 2008 campaign and has over ten years of experience working in film, theater and advertising. He was recently a fellow at the Sundance New Frontier Lab. His work has been presented recently at institutions including BAM, the London Institute of Contemporary Art, the Museum of Public Art in Sweden, the Annecy International Festival of Animation and the recent UN World Urban Forum. Joshua has also created over twelve thousand square feet of public murals in collaboration with his wife, Eve Biddle. His website is <a href="http://www.joshuafrankel.net" target="_blank">here</a>.</p>

    <h2>Aaron Lifshin</h2>
    <h3>CTO</h3>
    <p><a href="http://lnkd.in/zVNVwY" target="_blank">Aaron</a> is a software industry professional with 15 years of experience in both software development and the creation and management of technical teams.  In addition to consulting work in large enterprises, Aaron has been part of the management team in two successful companies: RSW Software (now Empirix) and XLN telecom.  Aaron has worked as an IT Management consultant for an online startup in London during its founding, as well as for a private equity firm during technical due diligence. </p>
</div>
  
 {% endblock %}
 