{% extends "base.html" %}

{% block mainPageContent %}
<div id="content">
    <h1>Mission</h1>
    <p>Whysaurus seeks to connect people who are passionate about reason, 
	to create tools for illustrating the relationships between ideas, 
	to share the world's best explanations and to help us all to organize our thoughts.</p>

    <h1>Team</h1>
    <p>Whysaurus was conceived and created by Aaron Lifshin and Joshua Frankel.</p>
       
    <h2>Joshua Frankel</h2>
    <h3>Creative Director</h3>
    <p>Joshua is an artist, animator and filmmaker with a brain arranged in a tree-like structure. 
    He grew up in Hell's Kitchen neighborhood of New York City, listening to hip-hop and trying not let anyone take his lunch money.
    His films have screened in countries like France and have been called "Gorgeous" by someone who writes for <em>The New Yorker</em>. 
    Joshua also creates large public artworks with his wife Eve Biddle. 
    His website is <a href="http://www.joshuafrankel.net" target="_blank">here</a>.</p>
    
    <h2>Aaron Lifshin</h2>
    <h3>CTO</h3>
    <p>Aaron is a dancing philosopher, programmer and social activist.
    Trained in logic and rigor in the elementary grades of the Soviet school system, Aaron 
    immigrated to the US in the late 80's.  Since then, he has eschewed dogma and strives 
    to see value in all points of view.  
    Aaron has worked with online technologies in both hands on and management roles since 1999 in
    Boston and London, UK, and is now settled in San Francisco. </p>
</div>
  
 {% endblock %}
 