<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
    <link type="text/css" href="/static/css/cupertino/jquery-ui-1.8.18.custom.css" rel="stylesheet" />	
    <script type="text/javascript" src="/static/js/tinymce/tiny_mce.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" ></script>	
	<script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/ncu0grl.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="/static/js/base.js"></script>
    
	</head>
	<body>
  {% block mainPageContent %} {% endblock %}
	<div id="header"> 
		<div class="logoArea"><a href="/"><img id="logoImage" src="/static/img/whysaurus_logo.png"/></a>
		</div>

		<div class="userArea">
        <a id="CreatePoint" {% if not user %} class="hidden"{% endif %} alt="Make a Point" src="/static/img/button_makeAPoint_grey_118.png"></a>	
		{% if user %}  
          {% include 'pointDialog.html' %}
          <div class="userControls">
          <a href="{{ user.link }}"><img id="avatar" src="{{ user.avatar_url }}"/>{{ user.name|escape }}</a>
          <a href="/logout" class="btn">Logout</a>         
		{% else %}
        <div class="userControls">
  		Login with
		  <a href="/auth/facebook" class="btn"> Facebook </a><br>
		  <a href="/auth/google" class="btn"> Google </a><br>
          OR <a href="/auth/twitter" class="btn"> Twitter </a>
		{% endif %}
        </div>
        <div class="clear"></div>
		</div>
		<div class="searchArea">
		<input class="searchBox" type="search" placeholder="Search" results="0" />
		</div>
		
  	<div class="clear"></div>
	</div>

	<div id="footer"> 
		<img id="whiteDinoImage" src="/static/img/icon_triceratops_white_47px.png"/>
		<span class="footerMenu ">
		<a href="/about">ABOUT</a>
		<a href="/help">HELP</a>
		<a href="/contact">CONTACT</a>
		</span>
		<span class="tagline ">Collecting the best explanations of why</span>
    	<span class="footerCopyright ">(c) Whysaurus 2012 <br> All Rights Reserved</span>
        <a id="Suggestions" alt="Suggestions" src="/static/img/icon_suggestions_grey_82px.png" href="/contact"></a>
		<div class="clear"></div>
	</div>
	</body>
</html>
