<div class="modal hide fade" data-keyboard="false" id="changeEditorsPick" 
    role="dialog" aria-hidden="true">
    <div class="modal-header">
        <h3>
            Change Editor Pick settings for:
        </h3>
        <h4>
        {{point.title}}
        </h4>
    </div>   
    <div class="row-fluid" name="alertArea"></div>    
    <div class="row-fluid">  
      <label class="control-label span11 offset1" for="editorsPick">Editor Pick?</label>
      <div class="controls">
          <input id="editorsPick"  type="checkbox" class="fieldEdit span11 offset1" 
          name="editorsPick" {%if pointRoot.editorsPick %}checked{% endif %}/>
      </div>   
    </div>    
           <div class="row-fluid">  
                <label class="control-label span11 offset1" for="editorsPickSort">Editor Pick Sort</label>
                <div class="controls">
                    <input id="editorsPickSort"  type="text" class="fieldEdit span3 offset1" 
                    name="editorsPickSort" placeholder="Enter an integer value" 
                    {%if pointRoot.editorsPick %}value="{{pointRoot.editorsPickSort}}"{% endif %}
                    />
                </div>   
    </div>
    <div class="row-fluid">
         <div class="control-group span4 offset8">   
            <a id="submitChangeEditorsPick" class="btn btn-primary">Save</a>                                 
            <a class="btn btn-cancel" data-dismiss="modal">Cancel</a>
        </div>    
    </div>          
</div>
