{% extends "base.html" %}

{% block mainPageContent %}
<div id="content">
  <div class="boxedElement contactForm">
     <form action="/contactSend" method="post" onsubmit="return validateForm(this);">
      
      <!-- Simple text field -->
      <label for="name">Name </label> 
      <input type="text" name="name"/>
      <br/>
      
      <!-- Email -->
      <label for="email">Email </label> 
      <input type="email" name="email"/>
      <br/>
      <label for="email2">Confirm Email </label> 
      <input type="email" name="email2"/>
      <div class="error"><b>ERROR:</b> Emails don't match!</div>
      <br/>

      <label for="subject">Subject </label> 
      <input type="text" name="subject"/>
      <br/>

      <!-- Textarea -->
      <label for="message">Message Text </label> 
      <textarea  name="message" cols="50" rows="10">Type your message here</textarea>
      <br/>
         
      <input type="submit" name="submit" value="Send"/>
     </form>
  </div>
 </div>
  <script>
  function showError(message) {
      $( ".error" ).html('<b>ERROR:</b> ' + message)
      $( ".error" ).addClass('ui-state-error ui-corner-all');
      $( ".error" ).show();
  }
  function validateForm(form) {
    $( ".error" ).hide();   
    if (form.email.value == '' ) {
      showError('Email not supplied.');
      return false;
    } else if (form.email.value != form.email2.value) {
      showError('Emails do not match.');
      return false;
    } else {
      return true;
    } 
  }
  
  $(function(){
    $( ".error" ).hide();
  });
  
  </script>
{% endblock %}