{% extends "base.html" %}

{% block mainPageContent %}

<div id="content">
    <h1>HELP</h1>
    <h2>Table of Contents</h2>
    
    <ol>
    <li><a id="basicsLink" href="#basics">The Basics</a></li>
    <li><a id="nutsAndBoltsLink" href="#nutsAndBolts">Nuts and Bolts</a></li>
    <li><a id="bestLink" href="#best">Best Practices</a></li>
    </ol>

<h2><a id="basics">The Basics</a></h2>

<h3>What is Whysaurus?</h3>
<strong>It's made of points</strong>
<p>Whysaurus offers tools to explain ideas by dividing them into bite-size points. 
Each point can be rated individually, discussed in its own comment thread and 
supported or countered by other points.</p>

<strong>Points are reusable</strong>
<p>  When you come up with a good explanation, others can reuse 
it to support or counter any Whysaurus point.  
When adding a supporting or counter point, you can search the system to see what's 
already out there.</p>

<strong>Creation is collaborative</strong>
<p>Point creation is collaborative.  Users create and refine points together, to arrive 
at the best explanation over time. Any user can edit any point, and all work is saved in 
the history, so that it is never lost and can be recovered.</p>

<strong>A repository of explanations</strong>
<p>Over time, we hope that Whysaurus will become a reference repository of explanations and 
convincing arguments for positions.  Together, we can create the go-to place for people 
</p>

<h3>What can I use Whysaurus for?</h3>
<strong>Collaborate</strong>
<p>When working with a team, the Whysaurus format allows for collaboration: edit as a team, 
vote on what works and what doesn't, and reuse already completed work by linking it into your tree.</p>

<strong>Make Decisions</strong>
<p>Whysaurus can be used to decide a difficult question by building one explanation 
for the pros and another for the cons.  When you present your recommendations to a 
decisionmaker, they can navigate the tree and see the reasoning behind your explanation.</p>

<strong>Explain complex concepts</strong>
<p>Whether you are looking to consider great philosophical questions or the latest political conundrum, a 
Whysaurus point can help simplify, clarify and get to the heart of the matter.  
Start explaining a complex issue today with Whysaurus.</p>

<strong>Publish your opinion</strong>
<p>The internet is moving away from the essay or article format.  
Why not illustrate  your thesis as a tree of Whysaurus points?  
There is no tl;dr, your readers can focus on the point in your argument that 
is most of interest, and can help improve it.</p>

<strong>Make a convincing argument</strong>
<p>Sometimes you just need to argue on the internet.  You may want to convince your
friends or a recalcitrant family member of an idea you believe in.  
With Whysaurus, your explanation remains online to be reused, and can 
be refined and added to by others.</p>

<h3>How can I make Whysaurus better?</h3>
<ul>
<li>Voice your opinion on points by clicking agree or disagree</li>
<li>Award ribbons to points that you believe are well-made</li>
<li>Make your own points</li>
<li>Edit points made by others if you see ways to make them better</li>
<li>Recommend Whysaurus to your friends</li>
<li><a href="contact" target="_blank">Send us a suggestion</a> for improving the site</li>
</ul>

<h3>What makes a point strong?</h3>
<ul>
<li>A strong point is specific, concise and connected to a set of strong 
supporting points that are necessary and sufficient to convince 
the reader that the main point is true.</li>
<li>A strong point is supported by linked sources.</li>
<li>A strong point is a standalone statement</li>
</ul>

<h3>What makes a point weak?</h3>
A point can be weak for a variety of reasons. It might be:
<ul>
<li>Vague or consisting of a statement that does not stand on its own</li>
<li>Based on insufficient or irrelevant supporting points</li>
<li>Not supported by sources</li>
</ul>

<h3>Opinions and Subjective Points</h3>
Whysaurus can be used to illustrate opinions and subjective ideas. The key is to make sure that you create a sufficient body of supporting points to prove your idea.

<h3>How is Whysaurus different than Wikipedia?</h3>
Wikipedia collects facts; Whysaurus illustrates the relationships between ideas. Whysaurus is also particularly useful for examining ideas that are topics of debate - grey areas where it's unclear what is true and what isn't. By breaking complex ideas down into a series of bite-size points, Whysaurus helps us navigate the murky waters of uncertainty.

<h3>What's up with with dinosaurs?</h3>
Dinosaurs are awesome. 



<h2><a id="nutsAndBolts">Nuts and Bolts</a></h2>

<h3>How is a point's score calculated?</h3>
<p>A point's score equals the number of its agrees minus the number of its disagrees. 
In the future the scores of supporting points may have an affect on this algorithm as well.</p>

<p>If you make a point, you are automatically considered to have agreed with it.</p>

<h3>How is the color of the score determined?</h3>
The color is based solely on the value of the score; it allows the value of a group of points to be surmised at a glance. 
The color system is based on the traffic light: green is strong and red is weak. 
The current thresholds are:The current thresholds are:<br>
<br>
3 and higher = <span class="greenScore">green</span><br>
-2 to 2 = <span class="yellowScore">yellow</span><br>
-3 and lower = <span class="redScore">red</span><br>
<br>
Whysaurus is a work-in-progress, so expect these thresholds to change as we improve the site. 
This means that the score colors of points may change occasionally as we experiment.

<h3>Can a point be part of multiple explanations?</h3>
Yes! For example, a point about wind might feature in one explanation about kites, one about weather and another about sailboats. 

<h3>Why are there limits on the length of the titles of points?</h3>
Shorter point titles are easier to understand. Also, it's easier to identify strengths (and weaknesses) in an explanation that is 
divided into many bite-sized points. Short titles can also be shared on twitter without getting truncated. 
If your title doesn't fit inside the limit, consider dividing the idea into several smaller points, or just put 
some of the text you had in mind into the body of the point. 

<h3>Why do you have two rating systems - agree/disagree and the blue ribbons?</h3>
Whether or not one agrees with a point and whether or not a point is well-made are two different questions. 
A user who can disagree with a point while also awarding it a blue-ribbon embodies the spirit we hope to foster on Whysaurus. 

<h2><a id="best">Best Practices</a></h2>
This goal of this section is to collect guidelines for how Whysaurus can be used most effectively. 
It is a work-in-progress. If you have a suggestion for how to improve this page we'd love to hear it! 
Leave us a note <a href="contact" target="_blank">here</a>.

<h3>Try to keep each point as simple as you can</h3>
A great way to explain a complex idea is to divide it into a series of easily digestible bits. If your point is complex, see if you can divide it into a group of simpler points supporting each other.

<h3>Try to write points so that they can be used in multiple explanations</h3>
One of the fun things about Whysaurus is how it allows us to see how some fundamental thoughts are part of many different big ideas. 
If your point is written so that it can "stand alone" - that is it doesn't require the context 
of other points in order to be understood - then other users will be more likely to link to it in their own explanations. 

<h3>Note your sources (and illustrate them!)</h3>
Readers are more likely to agree with your point if it has good sources. Sources can be books, papers, studies or other websites.

<h3>Commenting: Be Specific</h3>
<p>Try to make your comments as specific as possible. Whether you agree or disagree, always tells us WHY.</p>
For example, rather than writing<br>
<em>This point goes overboard</em><br>
instead try:<br>
<em>This point is overreaching. It might true in some cases, but there is not enough evidence in the supporting points 
to prove that the statement is true all of the time.</em>

<h3>Commenting: Always comment on content, not people</h3>
Critical comments should always critique a Whysaurus point but never a Whysaurus user. Comments that break this rule will be removed.

<h3>Tone</h3>
Whysaurus is a civil community. Please act respectfully and do your best to make the points you encounter stronger.

<h3>What else should be on this page?</h3>
Please send us a suggestion <a href="contact" target="_blank">here</a>.
<br>
<br>
</div>
<script>

function goToAnchor(targetAnchor) {
  var offset = $("#" + targetAnchor).offset();
  var scrollto = offset.top - 52; // fixed_top_bar_height = 52px
  $('html, body').animate({scrollTop:scrollto}, 0);
};

$(document).ready(function() {

  $("#basicsLink").click(function() {
    goToAnchor("basics");
    return false;
  });
  
  $("#nutsAndBoltsLink").click(function() {
    goToAnchor("nutsAndBolts");  
    return false;
  });
  
  $("#bestLink").click(function() {
    goToAnchor("best");
    return false;
  });  
});
              


</script>

{% endblock %}


