{% extends "base.html" %}

{% block mainPageContent %}

<div id="content">
  <div class="boxedElement">
    <h1>HELP</h1>
    <h2>Table of Contents</h2>
    
    <ol>
    <li><a id="basicsLink" href="#basics">The Basics</a></li>
    <li><a id="nutsAndBoltsLink" href="#nutsAndBolts">Nuts and Bolts</a></li>
    <li><a id="bestLink" href="#best">Best Practices</a></li>
    </ol>

<h2><a id="basics">The Basics</a></h2>

<h3>What is Whysaurus?</h3>
<p>Whysaurus offers tools to explain ideas by dividing them into bite-size <em>points</em>. Each point can be rated individually through voting, discussed in its own comment thread and <em>supported</em> by other points.</p> 

<p>Together a connected series of points form an <em>explanation</em>. Because each point has its own rating indicating its strength, a viewer can quickly get a sense of whether an explanation holds water. If the explanation is problematic, Whysaurus makes it easy to identify where the faults lie.</p>

<h3>What can I use Whysaurus for?</h3>
<ul>
<li>Convince your friends or the public of an idea you believe in</li>
<li>Explain something complicated</li>
<li>Debunk (or weave) conspiracy theories</li>
<li>Consider great philosophical questions (Is there a god? Does free will exist?)</li>
<li>Build a geometric or scientific proof</li>
<li>Decide a difficult question by building one explanation for the pros and another for the cons</li>
<li>Illustrate the thesis of an essay</li>
</ul>


<h3>How can I make Whysaurus better?</h3>
<ul>
<li>Vote on points you agree with and on those you don't</li>
<li>Comment on points that you think should be improved</li>
<li>Make your own points</li>
<li>Recommend Whysaurus to your friends</li>
<li>Send us a <a href="contact" target="_blank">suggestion</a></li>
</ul>

<h3>What makes a point strong?</h3>
A strong point is specific, concise and connected to a set of strong supporting points that are necessary and sufficient to convince the reader that the main point is true.

<h3>What makes a point weak?</h3>
A point can be weak for a variety of reasons. It might be:
<ul>
<li>Vague</li>
<li>Based on insufficient supporting points</li>
<li>Based on irrelevant supporting points</li>
</ul>

<h3>How can I tell whether a point is strong or weak?</h3>
You must decide for yourself!
To give you a sense of what everyone else thinks, each point has a score indicating the community's opinion. If you disagree with the masses, see if you can improve the point, or create a <em>counter-point</em> and link to it in the comments..

<h3>Why does Whysaurus allow the masses to determine which points are strong and which are weak?</h3>
We believe that if points are expressed clearly and rationally, the public is best equipped to determine which are strong and which are weak. If a point has validity but folks don't believe it, the point probably isn't being expressed optimally yet.

<h3>What can I do about a point that is being scored wrongly?</h3>
<ul>
<li>Vote it up or down</li>
<li>Share the point with your friends so they can do the same</li>
<li>Leave a comment on the point explaining clearly, politely and briefly what the problem is</li>
<li>Make your own point or set of points, expressing the idea how you think it ought to be expressed</li>
</ul>

<h3>Opinions and Subjective Points</h3>
Whysaurus can be used to illustrate opinions and subjective ideas. The key is to make sure that you create a sufficient body of supporting points to prove your idea.

<h3>How is Whysaurus different than Wikipedia?</h3>
Wikipedia collects facts; Whysaurus illustrates the relationships between ideas. Whysaurus is also particularly useful for examining ideas that are topics of debate - grey areas where it's unclear what is true and what isn't. By breaking complex ideas down into a series of bite-size points, Whysaurus helps us navigate the murky waters of uncertainty.

<h3>What's up with with dinosaurs?</h3>
Dinosaurs are awesome. 



<h2><a id="nutsAndBolts">Nuts and Bolts</a></h2>

<h3>How is a point's score calculated?</h3>
A point's score equals the number of its up-votes minus the number of its down-votes. In the future the scores of supporting points may have an affect on this algorithm as well.

<h3>How is the color of the score determined?</h3>
The color is based solely on the value of the score; it allows the value of a group of points to be surmised at a glance. The color system is based on the traffic light: green is strong, red is weak and yellow is controversial.
The current thresholds are:<br>
<br>
3 and higher = <span class="greenScore">green</span><br>
-2 to 2 = <span class="yellowScore">yellow</span><br>
-3 and lower = <span class="redScore">red</span><br>
<br>
Whysaurus is a work-in-progress, so expect these thresholds to change as we improve the site. This means that the score colors of points may change occasionally as we experiment.

<h3>Why are there limits on the length of the titles of points?</h3>
Shorter point titles are easier to understand. Also, it's easier to identify strengths (and weaknesses) in an explanation that is divided into many bite-sized points. Short titles can also be shared on twitter without getting truncated. If your title doesn't fit inside the limit, consider dividing the idea into several smaller points, or just put some of the text you had in mind into the body of the point. 

<h3>How come some points can be deleted but others can't?</h3>
You are able to delete a point if it satisfies two conditions:<br>
1. You created it;<br>
2. It has not yet been edited by any user besides yourself.

<h2><a id="best">Best Practices</a></h2>

<h3>What is this section?</h3>
This goal of this section is to collect guidelines for how Whysaurus can be used most effectively. It is a work-in-progress. If you have a suggestion for how to improve this page we'd love to hear it! Leave us a note <a href="contact" target="_blank">here</a>.

<h3>Keep each point simple</h3>
Simple points are the easiest to understand. A great way to explain a complex idea is to divide it into a series of easily digestible bits. If your point is complex, see if you can divide it into a group of simpler points supporting each other.

<h3>Note your sources (and illustrate them!)</h3>
If you point relies on source materials such as books, papers, studies, etc, be sure to include a link to that material in the body text of your point. At the same time, the more of the details in the source materials that you can build points for in Whysaurus, the stronger your explanation will become.

<h3>Commenting: Be Specific</h3>
Try to make your comments as specific as possible. Whether you agree or disagree, always tells us WHY.<br> 
For example, rather than writing<br>
<em>This point is the dumbest thing I've ever read! What are you talking about?</em><br>
instead try:<br>
<em>This point is overreaching. It might true in some cases, but there is not enough evidence in the supporting points to prove that the statement is true all of the time.</em>

<h3>Commenting: Always comment on content, not people</h3>
Comments should always critique a Whysaurus point but never a Whysaurus user. Comments that break this rule will be removed.

<h3>Tone</h3>
Whysaurus is a civil community. Please act respectfully and do your best to make the points you encounter stronger.

<h3>What else should be on this page?</h3>
Please send us a suggestion <a href="contact" target="_blank">here</a>.

  </div>
</div>
<script>

function goToAnchor(targetAnchor) {
  var offset = $("#" + targetAnchor).offset();
  var scrollto = offset.top - 52; // fixed_top_bar_height = 52px
  $('html, body').animate({scrollTop:scrollto}, 0);
};

$(document).ready(function() {

  $("#basicsLink").click(function() {
    goToAnchor("basics");
    return false;
  });
  
  $("#nutsAndBoltsLink").click(function() {
    goToAnchor("nutsAndBolts");  
    return false;
  });
  
  $("#bestLink").click(function() {
    goToAnchor("best");
    return false;
  });  
});
              


</script>

{% endblock %}


