{% extends "base.html" %}

{% block mainPageContent %}

<div id="content">
  <div class="boxedElement">
    <h1>HELP</h1>
    <h2>Table of Contents</h2>
    
    <ol>
    <li><a href="#basics">The Basics</a></li>
    <li><a href="#nutsAndBolts">Nuts and Bolts</a></li>
    <li><a href="#best">Best Practices</a></li>
    </ol>

<h2><a name="basics">The Basics</a></h2>

<h3>What is Whysaurus?</h3>
<p>Whysaurus is a tool to explain ideas by dividing them into bite-size points. Each point can be rated individually through voting and commenting, and each point can be supported by other points.</p> 

<p>Together a connected series of points form an explanation. Because each point has its own rating indicating its strength, a viewer can quickly get a sense of whether an explanation holds water. If the explanation is problematic, Whysaurus makes it easy to identify where the faults lie.</p>

<h3>What can I use Whysaurus for?</h3>
<p>Convince your friends or the public of an idea you believe in<br>
Explain something complicated<br>
Debunk (or weave) conspiracy theories<br>
Consider great philosophical questions (Is there a god? Does free will exist?)<br>
Build a geometric or scientific proof<br>
Decide a difficult question by building one explanation for the pros and another for the cons<br>
Illustrate the thesis of an essay<br>
</p>

<h3>How can I make Whysaurus better?</h3>
Vote on points you agree with and on those you don't.<br>
Comment on points that you think should be improved.<br>
Create your own points.<br>
Recommend it to your friends.<br>
Send us a suggestion.<br>

<h3>What makes a point strong?</h3>
A strong point is specific, concise and based on a strong set of supporting points that are necessary and sufficient to convince the reader that the main point is true.

<h3>What makes a point weak?</h3>
A point can be weak for a variety of reasons. It might be:
<ul>
<li>Vague</li>
<li>Based on insufficient supporting points</li>
<li>Based on irrelevant supporting points</li>
</ul>

<h3>How can I tell whether a point is strong or weak?</h3>
You must decide for yourself!
To give you a sense of what everyone else thinks, each point has a score indicating the community's opinion. If you disagree with the masses see if you can improve the point, or create a counter-point and link to it in the comments.

<h3>Why does Whysaurus allow the masses to determine which points are strong and which are weak?</h3>
We believe that if points are expressed clearly and rationally, the public is best equipped to determine which are strong and which are weak. If a point has validity but folks don't believe it, the point probably isn't yet being expressed optimally.

<h3>If you see a point that you believe is scored wrongly, here are some things you can do:</h3>
<ul>
<li>Vote it up or down.</li>
<li>Share the point with your friends so they can do the same.</li>
<li>Leave a comment on the point explaining clearly, politely and briefly what the problem is.</li>
<li>Make your own point or set of points, expressing the idea how you think it ought to be expressed.</li>
</ul>

<h3>Opinions and Subjective Points</h3>
Whysaurus can be used to illustrate opinions and subjective ideas. The key is to make sure that you create a sufficient body of points to support your proposition.

<h3>How is Whysaurus different than Wikipedia?</h3>
Wikipedia collects facts and history. Whysaurus collects ideas that are topics of debate - grey areas where it's unclear what is true and what isn't. By breaking complex ideas down into a series of bite-size points, Whysaurus helps us navigate the murky waters of uncertainty.

<h3>What's up with with dinosaurs?</h3>
Dinosaurs are awesome. 



<h2><a name="nutsAndBolts">Nuts and Bolts</a></h2>

<h3>How is a point's score calculated?</h3>
A point's score = the number of its up-votes - the number of its downvotes.
In the future the scores of supporting points may have an affect on this algorithm as well.

<h3>How is the color of the score determined?</h3>
The color is based solely on the value of the score; 
it allows the value of a group of points to be surmised at a glance. 
The color system is based on the traffic light: green is strong, red is weak, and yellow is controversial. 
The current thresholds are:<br>
3 and higher = green<br>
-2 to 2 = yellow<br>
-3 and lower = red<br>
Whysaurus is a work-in-progress, so expect these thresholds to change as we improve the site. 
This means that the score colors of points may change occasionally as we experiment.

<h3>Why are there limits on the length of the title text of points?</h3>
Shorter point titles are easier for others to understand. Also, it is easier to identify strengths (and weaknesses) in an explanation that is divided into many bite-sized points. Short titles can also be shared on twitter. If your title doesn't fit, consider dividing the idea into several smaller points, or just put some of your ideas in the body of the point. 

<h3>How come some points can be deleted but others can't?</h3>
You are able to delete a point if it satisfies two conditions:
1. You created it
2. No other user besides you has edited it yet

<h2><a name="best">Best Practices</a></h2>

<h3>What is this section?</h3>
This goal of this page is to collect guidelines for how Whysaurus can be used most effectively. It is very much a work-in-progress. If you have suggestion for how to improve this page we'd love to hear it! Leave us a note here.

<h3>Keep each point simple</h3>
Simple points are the easiest to understand. A great way to explain a complex idea to someone is to divide it into a series easily digestible bits. If your point is complex, see if you can divide it up into multiple points supporting each other.

<h3>Note your sources (and illustrate them!)</h3>
If you point relies on source materials such as books, papers, studies, etc, be sure to include a link to that material in the body text of your point. At the same time, the more of the details in the source material that you can build Whysaurus points for, the stronger your explanation will become.

<h3>Commenting: Be Specific</h3>
Try to make your comments as specific as possible. Whether you agree or disagree, always tells us WHY. For example, rather than writing
This point is the dumbest thing I've ever read! What are you talking about?
instead try:
This point is overreaching. It might true in some cases, but there is not enough evidence in the supporting points to prove that the statement is true all of the time.

<h3>Commenting: Always comment on content, not people</h3>
Comments should always critique a Whysaurus point but never a Whysaurus user. Comments that break this rule will be removed.

<h3>Tone</h3>
Whysaurus is a civil community. Please act respectfully and do your best to make the points you encounter stronger.

What else should be on this page?
Please send us a suggestion here.

  </div>
</div>
{% endblock %}


