{% extends "base.html" %}

{% block mainPageContent %}
  <div class="row topSpace"></div>
  <div class="row">
	<div class="span6 offset1">
		<div class="columnHeading">
                <button class="tab selectedTab" id="editorsPicks">
                    EDITORS PICKS
                </button>
                <button class="tab" id="mostAgrees">
                    MOST AGREES
                </button>
                <button class="tab" id="mostCaps">
                    MOST CAPS
                </button>
                <button class="tab" id="mostViews">
                    MOST VIEWS
                </button>
        </div>
        <div id="editorsPicksArea" class="tabbedArea">
          {% for point in editorsPicks %}
             {% include 'pointBox.html' %}            
          {% endfor %}               
        </div>
        <div id="mostAgreesArea" class="tabbedArea">
          {% for point in topPoints %}
             {% include 'pointBox.html' %}            
          {% endfor %}               
        </div>
        <div id="mostCapsArea" class="tabbedArea">      
        </div>
        <div id="mostViewsArea" class="tabbedArea">             
        </div>
    </div>

    {% if user %}
    <div id="recentlyViewed" class="span3 offset1">
        <div class="columnHeading" style="line-height:25px">
        YOUR RECENTLY VIEWED
        </div>
        {% for point in recentlyViewed %}
            {% include 'smallPointBox.html' %}
        {% endfor %}
     </div>   
    {% endif %} 
   </div>

{% endblock %}
