{% extends "base.html" %}

{% block mainPageContent %}
  <div class="row topSpace"></div>
  <div class="row">	  		
	<div id="leftColumn" class="span4">
		<div class="columnHeading">Editor's Picks</div>
		{% for point in editorsPicks %} 
		  <div class="boxedElement vertSpaced dropShadow" id="point_{{point.url}}">	
					<div class="pointSummaryTitle bigTitle"><H5>
						<span
							{% if point.voteTotal >= thresholds.green %}
								class="greenScore"
							{% else %}	
								{% if point.voteTotal <= thresholds.red %}
									class="redScore"
								{% else %}
									class="yellowScore"
								{% endif %}	
							{% endif %}					
						>{{ point.voteTotal }}</span>				
					 <a href="/point/{{ point.url }}">{{ point.title|escape }}</a></H5>
                    </div>
					<div class="pointSummaryText">{{ point.summaryText }}</div>
					<a class="navWhy" id="editPoint_{{point.url}}" alt="Why {{ point.title|escape }}" href="/point/{{point.url}}" src="/static/img/arrow_why_A_grey.png"></a>
			</div>
		{% endfor %}
    </div>
    
    <div id="middleColumn" class="span4">
    	<div class="columnHeading">Highest Rated</div>
		{% for point in topPoints %} 
		  <div class="boxedElement vertSpaced dropShadow" id="point_{{point.url}}">	
					<div class="pointSummaryTitle bigTitle"><H5>
						<span
							{% if point.voteTotal >= thresholds.green %}
								class="greenScore"
							{% else %}	
								{% if point.voteTotal <= thresholds.red %}
									class="redScore"
								{% else %}
									class="yellowScore"
								{% endif %}	
							{% endif %}					
						>{{ point.voteTotal }}</span> 
					<a href="/point/{{ point.url }}">{{ point.title|escape }}</a></div>
					<div class="pointSummaryText">		
						{{ point.summaryText }}
					</div>
					{% if point.imageURL and point.imageURL.strip %}
						<img class="listDisplay" src={{ point.imageURL }} /></H5>
						{% endif %}
                   <a class="navWhy" id="editPoint_{{point.url}}" alt="Why {{ point.title|escape }}" href="/point/{{point.url}}" src="/static/img/arrow_why_A_grey.png"></a> 
			</div>
		{% endfor %}
    </div>
    <div id="rightColumn" class="span4">
    	<div class="columnHeading preamble">New</div>
		{% for point in newPoints %} 
		  <div class="boxedElement row-fluid" id="point_{{point.url}}">	
				<div class="span10"><H5>
				<span
					{% if point.voteTotal >= thresholds.green %}
						class="greenScore"
					{% else %}	
						{% if point.voteTotal <= thresholds.red %}
							class="redScore"
						{% else %}
							class="yellowScore"
						{% endif %}	
					{% endif %}					
				>{{ point.voteTotal }}</span>
				<a href="/point/{{ point.url }}">{{ point.title|escape }}</a></H5>
				</div>
				<div class="span2">
                  <a class="navWhy pull-right" id="editPoint_{{point.url}}" alt="Why {{ point.title|escape }}" href="/point/{{point.url}}" src="/static/img/arrow_why_A_grey.png"></a>
			    </div>
             </div>
		{% endfor %}
		
      	<div class="columnHeading preamble">Recently Viewed</div>

		{% if not user %}
			Sign in and check out some points
		{% else %}
			{% if not recentlyViewed %}
				Check out some points
			{% endif %}
		{% endif %}
		{% for point in recentlyViewed %} 
		  <div class="boxedElement row-fluid" id="point_{{point.url}}">	
			<div class="span10"><H5>
				<span
						{% if point.voteTotal >= thresholds.green %}
							class="greenScore"
						{% else %}	
							{% if point.voteTotal <= thresholds.red %}
								class="redScore"
							{% else %}
								class="yellowScore"
							{% endif %}	
						{% endif %}					
					>{{ point.voteTotal }}</span> 
				<a href="/point/{{ point.url }}">{{ point.title|escape }}</a></H5>
				</div>
                <div class="span2">
                  <a class="navWhy pull-right" id="editPoint_{{point.url}}" alt="Why {{ point.title|escape }}" href="/point/{{point.url}}" src="/static/img/arrow_why_A_grey.png"></a>
                </div>
			</div>
		{% endfor %}
    </div>
	</div>
	
	
{% endblock %}
