<div name="showRelevance" class="pointAreaActions showRelevance"><a>Relevance: {{point.relevancePercent}} </a></div>
<div name="areaRelevanceRadio" class="relevanceVote hide" data-childurlsafe='{{point.rootURLsafe}}' data-linktype='{{linkType}}'>
    <div class="relevanceTitle">How Relevant is this Point?</div>
    <div class="relevanceValGroup">
        <input type="radio" name="relevanceRadio" value=0
        {% if point.myVoteValue == 0 %}checked {% endif %} />                    
        <label >0%</label>                    
    </div>
    <div class="relevanceValGroup">
        <input type="radio" name="relevanceRadio" value=33
        {% if point.myVoteValue == 33 %}checked {% endif %} />
        <label >33%</label>                    
    </div>
    <div class="relevanceValGroup">
        <input type="radio" name="relevanceRadio" value=66
        {% if point.myVoteValue == 66 %}checked {% endif %} />
        <label >66%</label>                    
    </div>
    <div class="relevanceValGroup">
        <input type="radio" name="relevanceRadio" value=100 
            {% if point.myVoteValue == 100 %}checked {% endif %} />
        <label >100%</label>                    
    </div>
    <div name="relevanceTextLine" class="relevanceTextLine">
        {{point.relevanceVoteCount}} Users Voting.  Curent Average: {{point.relevancePercent}}
    </div>
</div>
{% include 'pointBox.html' %} 