<li>
    <div class="notificationMenuItem row-fluid Submenu_text_main" data-refpoint="/point/{{notification.referencePoint.url}}">
        <div class="span1">
            {% if notification.notificationReason == "agreed with" or notification.notificationReason == "awarded a ribbon to" %}
                <img class="notificationAvatar" src="/static/img/icon_triceratops_black_47px.png"/>            
            {% else %}            
                {% if notification.sourceUserFull.avatar_url %}
                    <img class="notificationAvatar" src="{{notification.sourceUserFull.avatar_url}}"/>
                {% else %}            
                    <img class="notificationAvatar" src="/static/img/icon_triceratops_black_47px.png"/>                                
                {% endif %}                
            {% endif %}
            
        </div>
        <div class="span11 notificationText">
          <div>
          {% if notification.notificationReason == "agreed with" or notification.notificationReason == "awarded a ribbon to" %}
            Someone {{notification.notificationReason}} 
            <em>{{notification.referencePoint.title}}</em>, a point you {{notification.followReason}}.
          {% else %}
            {{notification.sourceUserFull.name}} {{notification.notificationReason}} 
            <em>{{notification.referencePoint.title}}</em>, a point you {{notification.followReason}}.
          {% endif %}
          </div>
          <div class="Submenu_SmallText">
          {{notification.timeText}}
          </div>
        </div>                                   
    </div>
</li>