{% extends "base.html" %}

{% block mainPageContent %}
  <script type="text/javascript" src="/static/js/point.js"></script>
  <div id="content">
			<div class="caseSummary boxedElement">
				{% if user %}
					<div class="caseSummaryEditToggle editable">
					<button id="editPoint">EDIT POINT DETAILS</button>	
					</div>		
				  <div class="caseHistory editable">
					<button id="viewHistory">VIEW POINT HISTORY</button>	
					</div>		  
					<div class="clear"></div>
				{% endif %}
				
				<div style="float: left">[
				 	<span
						{% if point.voteTotal >= thresholds.green %}
							class="greenScore"
						{% else %}	
							{% if point.voteTotal <= thresholds.red %}
								class="redScore"
							{% else %}
								class="yellowScore"
							{% endif %}	
						{% endif %}					
					>{{ point.voteTotal }}</span>
				]</div><div class="mainPointTitle editable">{{ point.title|escape }}</div>
				<div class="mainPointContent editable">{{ point.content|safe }}</div>
						{% if point.imageURL and point.imageURL.strip %}
						<img class="pointDisplay" src="{{ point.imageURL }}" />
						{% endif %}
				<div class="mainPointInfo">
					<div class="mainPointVersion">{{point.version}}</div>
					<div class="mainPointAuthor">{{ point.authorName }}</div> 
					<div class="mainPointDateEdited">{{point.dateEdited}}</div>	
					<div class="mainPointViewCount">{{pointRoot.viewCount}}</div>	
					<div class="mainPointImageURL">{{point.imageURL}}</div>	
					<div class="mainPointImageAuthor">{{point.imageAuthor}}</div>	
					<div class="mainPointImageDescription">{{point.imageDescription}}</div>	
				</div>				
			{% if user %}
			  <button id="upVote" background-image="/static/img/up-button.png">{{point.upVotes}}</button>
			  <button id="downVote">{{point.downVotes}}</button>
				{% if user.admin %}
  				<button id="deletePoint" onClick="javascript:deletePoint('{{point.url}}');">DELETE THIS POINT</button>	  
				{% endif %}
			{% endif %}
      </div>

       

	         {% if supportingPoints %}
               <div class="boxedElement centered" id="nonzeroSupportingPoints"> Supporting Points
                    {% if user %}
                      <form action="/selectSupportingPoint" method="POST" style="display: inline">
                      <input type="hidden" name="parentPointURL" value="{{point.url}}" />
                      <button name="linkSupportingPoint" type="submit" name="BOO">Add</button>       
                      </form>
                      {% if supportingPoints %}
                        <button id="unlinkToggle" type="submit">Unlink</button>
                      {% endif %}
                    {% endif %}
					{% for supportingPoint in supportingPoints %}
					<div class="boxedElement centered" id="point_{{supportingPoint.url}}">	
    					{% if supportingPoint.imageURL and supportingPoint.imageURL.strip %}
						<img class="smallDisplay" src={{ supportingPoint.imageURL }} />
						{% endif %}
						<div class="pointSummaryTitle">
							<span
								{% if supportingPoint.voteTotal >= thresholds.green %}
									class="greenScore"
								{% else %}	
									{% if supportingPoint.voteTotal <= thresholds.red %}
										class="redScore"
									{% else %}
										class="yellowScore"
									{% endif %}	
								{% endif %}					
								>{{ supportingPoint.voteTotal }}
							</span> 
						- <a href="/point/{{ supportingPoint.url }}">{{ supportingPoint.title|escape }}</a></div>
    					<div class="pointSummaryText">{{ supportingPoint.content|safe }}</div>

    					<div class="mainPointInfo">
  						  <div class="mainPointAuthor">{{ supportingPoint.authorName }}</div> 
  						</div> 
    					<a href="/point/{{supportingPoint.url}}" class="button whybutton">WHY</a>
    					<a href='javascript:;' onclick='javascript:supportingPointUnlink("{{ supportingPoint.url }}")' class="button unlinkbutton" >UNLINK</a>
    			      </div>
					{% endfor %}
                </div>
                {% endif %}
                           
                <div class="boxedElement centered {%if supportingPoints%}noDisplay{% endif %}" id="zeroSupportingPoints"> Zero Supporting Points<br>
                   {% if user %}
                      <form action="/selectSupportingPoint" method="POST" style="display: inline">
                      <input type="hidden" name="parentPointURL" value="{{point.url}}" />
                      <button name="linkSupportingPoint" type="submit">Add</button> one  
                      </form>
                   {% endif %}
                  <div class="centered">If this point is true, add evidence to support it!</div>
                </div>		

			<div id="disqus_thread"></div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			    var disqus_shortname = 'whysaurus-beta'; // required: replace example with your forum shortname
				var disqus_developer = {{devInt}};
				var disqus_identifier = '{{point.url}}';
				var disqus_title = '{{point.title}}';
					
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>

			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
			
			</div>
      <script>
      var myVote = '{{voteValue}}';
      var pointURL = '{{point.url}}';
      </script>
{% endblock %}