<div class="row">
    <a id="viewSupportingPoints" class="span8">  < Back to Supporting and Counter points </a>	
	<div class="span8">{{ numPoints }} versions exist for {{ latestPoint.title|escape }}</div>
</div>
{% for fullPoint in pointData %}
	<div class="row {{ loop.cycle( 'blueBack' , 'pinkBack') }}">
	    {% with point = fullPoint.point %}		
            <div class="span8">
                <div class="historyLastEdited offset1">
                    Version {{point.version}}. Created {{point.dateEditedText}} by <a href='/user/{{point.authorURL}}'>{{ point.authorName }}</a>
                </div>
            </div>
        
	        <div class="span5">
	                <div class="mainPointTitle"><h1 class="condensed">{{ point.title|escape }}</h1></div>
	                <div class="mainPointContent">{{ point.content|safe }}</div>
	                <!-- Hacky way to get imageurl into the edit dialog. :/ -->
	                <div class="mainPointImageURL span3" style="display: none">{{point.imageURL}}</div>
	                {% include 'sources.html' %}		
	        </div>

            <div class="span3">
	            {% if point.imageURL and point.imageURL.strip %}
	              <img class="pointDisplay" src="{{ point.fullPointImage }}" />
	              <div class="mainPointImageCaption">{{point.imageDescription}}</div>
	              <div class="mainPointImageAuthor">{{point.imageAuthor}}</div>
	            {% else %}
	              <!--<img class="pointDisplay" src="/static/img/placeholder.gif" />
	              <div class="mainPointImageCaption">{{point.imageDescription}}</div>
	              <div class="mainPointImageAuthor">{{point.imageAuthor}}</div>-->
	            {% endif %}
            </div>
	    {% endwith %}	    
	    {% if fullPoint.sources %}
        
			<div class=" {{ loop.cycle( 'blueBack' , 'pinkBack') }}">
				<div class="span8">Sources:</div>           
				{% for source in fullPoint.sources %}
					<div class="span8 offset1">      
					  <a data-sourceKey={{source.key.urlsafe()}}  href="{{source.url}}" target="_blank">{{source.name}}</a> 
					</div>    
				{% endfor %}
			</div>
		{% endif %}
	    <div class=" {{ loop.cycle( 'blueBack' , 'pinkBack') }}">
	        <div class="span4">
	            {% if fullPoint.supportingPoints %}
	              {{ fullPoint.supportingPoints|length }} Supporting Points
	              {% for point in fullPoint.supportingPoints %}
	                  {% include 'pointBox.html' %}            
	              {% endfor %} 
	            {% endif %}                      
	        </div>
	        <div class="span4">
	            {% if fullPoint.counterPoints %}            
	              {{ fullPoint.counterPoints|length }} Counter Points
	              {% for point in fullPoint.counterPoints %}
	                  {% include 'pointBox.html' %}            
	              {% endfor %} 
	            {% endif %}                                        
	        </div>
	    </div>		
	</div>
{% endfor %}
