{% extends "base.html" %}

{% block mainPageContent %}

  <div id="content">
			<div class="caseSummary boxedElement">
				{% if user %}
					<div class="caseSummaryEditToggle editable">
					<button id="editPoint">EDIT POINT DETAILS</button>	
					</div>		
				  <div class="caseHistory editable">
					<button id="viewHistory">VIEW POINT HISTORY</button>	
					</div>		  
					<div class="clear"></div>
				{% endif %}
				
				<div style="float: left">[
				 	<span
						{% if point.voteTotal >= thresholds.green %}
							class="greenScore"
						{% else %}	
							{% if point.voteTotal <= thresholds.red %}
								class="redScore"
							{% else %}
								class="yellowScore"
							{% endif %}	
						{% endif %}					
					>{{ point.voteTotal }}</span>
				]</div><div class="mainPointTitle editable">{{ point.title|escape }}</div>
				<div class="mainPointContent editable">{{ point.content|safe }}</div>
						{% if point.imageURL and point.imageURL.strip %}
						<img class="pointDisplay" src="{{ point.imageURL }}" />
						{% endif %}
				<div class="mainPointInfo">
					<div class="mainPointVersion">{{point.version}}</div>
					<div class="mainPointAuthor">{{ point.authorName }}</div> 
					<div class="mainPointDateEdited">{{point.dateEdited}}</div>	
					<div class="mainPointViewCount">{{pointRoot.viewCount}}</div>	
					<div class="mainPointImageURL">{{point.imageURL}}</div>	
					<div class="mainPointImageAuthor">{{point.imageAuthor}}</div>	
					<div class="mainPointImageDescription">{{point.imageDescription}}</div>	
				</div>				
				{% include 'pointDialog.html' %}
      </div>
      {% if user %}
			  <form action="/selectSupportingPoint" method="POST" style="display: inline">
			  <input type="hidden" name="parentPointURL" value="{{point.url}}" />
			  <button id="linkSupportingPoint" type="submit">Add Supporting Point</button>
			  </form>
			  <button id="upVote" background-image="/static/img/up-button.png">{{point.upVotes}}</button>
			  <button id="downVote">{{point.downVotes}}</button>
				{% if user.admin %}
  				<button id="deletePoint" onClick="javascript:deletePoint('{{point.url}}');">DELETE THIS POINT</button>	  
				{% endif %}
			{% endif %}
      <div class="centered preamble"> Supporting Points</div>
					{% for supportingPoint in supportingPoints %}
					<div class="boxedElement centered" id="point_{{supportingPoint.url}}">	
    					{% if supportingPoint.imageURL and supportingPoint.imageURL.strip %}
						<img class="smallDisplay" src={{ supportingPoint.imageURL }} />
						{% endif %}
						<div class="caseSummaryTitle">
							<span
								{% if supportingPoint.voteTotal >= thresholds.green %}
									class="greenScore"
								{% else %}	
									{% if supportingPoint.voteTotal <= thresholds.red %}
										class="redScore"
									{% else %}
										class="yellowScore"
									{% endif %}	
								{% endif %}					
								>{{ supportingPoint.voteTotal }}
							</span> 
						- <a href="/point/{{ supportingPoint.url }}">{{ supportingPoint.title|escape }}</a></div>
    					<div class="caseSummaryText">{{ supportingPoint.content|safe }}</div>

    					<div class="mainPointInfo">
  						<div class="mainPointAuthor">{{ supportingPoint.authorName }}</div> 
  						</div> 
    					<a href="/point/{{supportingPoint.url}}" class="button">WHY</a>
    					<a href='javascript:;' onclick='javascript:supportingPointUnlink("{{ supportingPoint.url }}")' class="button">UNLINK</a>
    			</div>
					{% endfor %}
					

			
			<div id="disqus_thread"></div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			    var disqus_shortname = 'whysaurus-beta'; // required: replace example with your forum shortname
					var disqus_developer = {{devInt}};
					var disqus_identifier = '{{point.url}}';
					var disqus_title = '{{point.title}}';
					
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>

			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
			
			<hr>
			 <a href="/">Back to point listing</a>
			<hr>
			</div>
			<script>
				var myVote = '{{voteValue}}';
				
				function callPointEdit(){
					var ed = tinyMCE.get('textEdit');
								
					$.ajaxSetup({
					   url: "/editPoint",
					   global: false,
					   type: "POST",
						 data: {
							'urlToEdit': "{{point.url}}",
							'content': ed.getContent(),
							'title': $('textarea.titleEdit').val(),			
							'imageURL':$('input[name=imageURL]').val(),
              'imageAuthor':$('input[name=imageAuthor]').val(),
              'imageDescription': $('input[name=imageDescription]').val()			
							},
							success: function(data){ 
								var ed = tinyMCE.get('textEdit');
							  obj = JSON.parse(data);
								$('.mainPointContent').html(ed.getContent()); 
								$('.mainPointTitle').html($('textarea.titleEdit').val()); 
								$('.mainPointVersion').html(obj.version);
								$('.mainPointAuthor').html(obj.author);
								$('.mainPointDateEdited').html(obj.dateEdited);
								if ($('.pointDisplay')) {
									$('.pointDisplay').remove();
								}
								if (obj.imageURL) {
									newImageContent = '<img class="pointDisplay" src="' + obj.imageURL + '"\/>';
									$('.mainPointContent').after(newImageContent);
								}
								$('.mainPointImageURL').html(obj.imageURL);	
								$('.mainPointImageAuthor').html(obj.imageAuthor);	
								$('.mainPointImageDescription').html(obj.imageDescription);	
								}
					 });
					$.ajax();
						
				}

        	function supportingPointUnlink(supportingPointURL) {
  					$.ajaxSetup({
  					   url: "/unlinkPoint",
  					   global: false,
  					   type: "POST",
  						 data: {
  							'mainPointURL': '{{point.url}}',
  							'supportingPointURL': supportingPointURL
  							},
  							success: function(data){ 
  							  obj = JSON.parse(data);
                  if (obj.result == true) {
                    // REMOVE THE DIV WITH THE POINT FROM THE DOM
    							  $('#point_' + obj.pointURL).remove(); 							  
                  } else {
                    alert(obj.result);
                  }
  							 }
  					 });
  					$.ajax();
  				}

			
				function openEditPointDialog() {
					var ed = tinyMCE.get('textEdit');
					$('textarea.titleEdit').val($('div.mainPointTitle').text());
					ed.setContent($('.mainPointContent').html() );
					$('input[name=imageURL]').val($('div.mainPointImageURL').text());
				  $('input[name=imageAuthor]').val($('div.mainPointImageAuthor').text());
			    $('input[name=imageDescription]').val($('div.mainPointImageDescription').text());
					var dialogButtons = {};
					dialogButtons["Save Point"] = function() {
					  // search and see if there are multiple image tags been added
					  var checkContentError = checkPointContent(ed.getContent());
					  if (checkContentError != "") {
					    alert(checkContentError);
					  } else {
  					  callPointEdit();
  					  $( this ).dialog( "close" );
					  }
				  };
					dialogButtons["Cancel"] = function() {	$( this ).dialog( "close" );};
					$( "#dialogForm" ).dialog({title:"Edit Point", buttons: dialogButtons}	);
					$( "#dialogForm" ).dialog( "open" );
					
				}				
	       		
				function updateVoteButtonLabels(newVote){
				  var downvoteLabel = $( "#downVote" ).button("option", "label");
				  var upvoteLabel = $( "#upVote" ).button("option", "label");
				            
				  if (myVote == 0 && newVote == 1) {// UPVOTE
				    var newVal = parseInt(upvoteLabel) + 1;
            $( "#upVote" ).button("option", "label", newVal.toString());    
          } else if (myVote == 0 && newVote == -1) { // DOWNVOTE   
            var newVal = parseInt(downvoteLabel) + 1;
            $( "#downVote" ).button("option", "label", newVal.toString());    
          } else if (myVote == 1  &&  newVote == 0) { // CANCEL UPVOTE
            var newVal = parseInt(upvoteLabel) - 1;
            $( "#upVote" ).button("option", "label", newVal.toString());    
          } else if (myVote == -1  &&  newVote == 0) { // CANCEL DOWNVOTE  
            var newVal = parseInt(downvoteLabel) - 1;
            $( "#downVote" ).button("option", "label", newVal.toString());    
          } else if (myVote == -1  &&  newVote == 1) { // DOWN TO UP
            var newVal = parseInt(downvoteLabel) - 1;
            $( "#downVote" ).button("option", "label", newVal.toString());
            var newVal = parseInt(upvoteLabel) + 1;
            $( "#upVote" ).button("option", "label", newVal.toString());            
          } else if (myVote == 1  &&  newVote == -1) {// UP TO DOWN
            var newVal = parseInt(downvoteLabel) + 1;
            $( "#downVote" ).button("option", "label", newVal.toString());
            var newVal = parseInt(upvoteLabel) - 1;
            $( "#upVote" ).button("option", "label", newVal.toString());
          }
          myVote = newVote;
				}
								
				function upVote() {
				  $.ajaxSetup({
					   url: "/vote",
					   global: false,
					   type: "POST",
						 data: {
							'vote': myVote == 1 ? 0 : 1,
							'pointURL': '{{point.url}}'
							},
              success: function(data){ 
                obj = JSON.parse(data);
                if (obj.result == true) {
                  updateVoteButtonLabels(obj.newVote);
                } else {
                  alert('An error happened and your vote may not have counted. Try a page refresh?');
                }
              }
						});
						$.ajax();
				}
				
				function downVote() {
				  $.ajaxSetup({
					   url: "/vote",
					   global: false,
					   type: "POST",
						 data: {
							'vote': myVote == -1 ? 0 : -1,
							'pointURL': '{{point.url}}'
							},
              success: function(data){ 
                obj = JSON.parse(data);
                if (obj.result == true) {
                  updateVoteButtonLabels(obj.newVote);
                } else {
                  alert('An error happened and your vote may not have counted. Try a page refresh?');
                }
              }
						});
						$.ajax();
				}
				
				function deletePoint(urlToDelete) {
    			$.ajaxSetup({
    			   url: "/deletePoint",
    			   global: false,
    			   type: "POST",
    				 data: {
    					'urlToDelete': urlToDelete
    					},
    					success: function(data){ 
                  obj = JSON.parse(data);
                  if (obj.result == true) {
      						  alert('Deleted point ' + obj.deletedURL);	
      						  window.location = "/";	  
                  } else {
                    alert(obj.error);
                  }
    						},
              error: function (xhr, ajaxOptions, thrownError) {
                alert('ERROR:' + xhr.status);
                alert(thrownError);
              }
    				});
    				$.ajax();
    		}


            
			$( "#linkSupportingPoint" )
				.button()
							
			$( "#addSupportingPoint" )
				.button()
				.click(function() {
					openAddPointDialog();
				});

			$( "#upVote" )
				.button()
				.click(function() {
					upVote();
				});
			$('#upVote').button({ icons: {primary: 'ui-icon-up', secondary: null}});

			$( "#downVote" )
				.button()
				.click(function() {
					downVote();
				});			
			$('#downVote').button({ icons: {primary: 'ui-icon-down', secondary: null}});
			
			$( "#viewHistory" )
				.button()
				.click(function() {
					window.location.href="/pointHistory?pointUrl={{point.url}}";
				});
					
			$( ".button" ).button();
			$( "#editPoint" )
				.button()
				.click(function() {
					openEditPointDialog();
				});
				
				{}
				{% if user.admin %}
					$( "#deletePoint" ).button();
				{% endif %}
			</script>
{% endblock %}