<div class="modal hide fade pointDialog" data-keyboard="false" id="pointDialog"
    role="dialog" aria-hidden="true">
  <div class="modal-header">
    <h3>
      Default Dialog Title
    </h3>
  </div>
  <div class="row-fluid" id="alertArea"></div>
  <form id='frm_pointDialog' class="form-horizontal">
    <div class="modal-body">
      <label>
        <div class="pull-left ">Point Title</div>
        <div id="title_pointDialog_charNum" class="pull-right clearfix">
            140 characters left
        </div>
      </label>
      <div class="dlgField">
        <input id="title_pointDialog" type="text" 
        class="titleEdit" placeholder="Add the title here...">
      </div>
      <div id="editorDiv" class="dlgField">        
        <textarea id="editor_pointDialog" 
            class="mceEditor textEdit"           
            placeholder="Add the description here...">
        </textarea>
      </div>      
    </div>
    
    <div class="modal-footer">
     <label id="sourcesLabel" class="control-group textline">Sources      </label> 
     <div class="row-fluid" id="sourcesArea">
      </div>       
      <div class="control-group">
        <button id="sourcesAdd"  class="btn btn-small pull-right">Add Source</button> 
      </div>      
      <div class="control-group">
        <label class="control-label" for="sourceURL_pointDialog">URL</label>        
        <div class="controls">
          <input id="sourceURL_pointDialog" type="text" class=" fieldEdit" 
          name="sourceURL" placeholder="Add the URL of the source">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="sourceTitle_pointDialog">Title</label>
        <div class="controls">
          <input id="sourceTitle_pointDialog" type="text" class=" fieldEdit" 
          name="sourceTitle" placeholder="Add the title of the source">
        </div>   
      </div>
      <label class="control-group textline">Image</label>
      <div class="control-group">
        <label class="control-label" for="link_pointDialog">link</label>
        <div class="controls">
          <input id="link_pointDialog" type="hidden" name="imageURL">
          <button class="btn btn-large btn-primary filepicker">Choose Image</button>
          <img class="filepicker-placeholder" src="/static/img/placeholder_50x50.gif">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="author_pointDialog">author</label>
        <div class="controls">
          <input id="author_pointDialog" type="text" class=" fieldEdit" name="imageAuthor" placeholder="Give credit to the creator of the image">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="description_pointDialog">description</label>
        <div class="controls">
          <input id="description_pointDialog" type="text" class=" fieldEdit" 
          name="imageDescription" placeholder="Add a descriptive caption to appear below the image">
        </div>
      </div><a href="#" id="submit_pointDialog" 
                class="btn btn-primary">Save changes</a>            
            <a href="#" class="btn btn-cancel" data-dismiss="modal">Cancel</a>
    </div>
  </form>
</div>
