<div class="row-fluid">
	<br>{{ numPoints }} versions exist for <a href="/point/{{ latestPoint.url }}">{{ latestPoint.title|escape }}</a><br>
</div>
    {% for fullPoint in pointData %}
        {% with fullPoint.point as point %}
            <div class="row-fluid {% cycle 'blueBack' 'pinkBack' %}">
                <div class="span8">
                    <div class="span1"></div>
                    <div class="historyLastEdited">
                        Version {{point.version}}. Created {{point.PSTdateEdited}} by <a href='/user/{{point.authorURL}}'>{{ point.authorName }}</a>
                    </div>
                </div>
            </div>
            
            <div class="row-fluid {% cycle 'blueBack' 'pinkBack' %}">    	        
		        <div class="span7">
		                <div class="mainPointTitle editable"><h1 class="condensed">{{ point.title|escape }}</h1></div>
		                <div class="mainPointContent editable">{{ point.content|safe }}</div>
		                <!-- Hacky way to get imageurl into the edit dialog. :/ -->
		                <div class="mainPointImageURL" style="display: none">{{point.imageURL}}</div>
		                {% include 'sources.html' %}		
		        </div>

                <div class="span3">
		            {% if point.imageURL and point.imageURL.strip %}
		              <img class="pointDisplay" src="{{ point.fullPointImage }}" />
		              <div class="mainPointImageCaption">{{point.imageDescription}}</div>
		              <div class="mainPointImageAuthor">{{point.imageAuthor}}</div>
		            {% else %}
		              <!--<img class="pointDisplay" src="/static/img/placeholder.gif" />
		              <div class="mainPointImageCaption">{{point.imageDescription}}</div>
		              <div class="mainPointImageAuthor">{{point.imageAuthor}}</div>-->
		            {% endif %}
                </div>
            </div>
        {% endwith %}	    
        {% if fullPoint.sources %}
          <div class="row-fluid {% cycle 'blueBack' 'pinkBack' %}">
             <div class="span11 offset1">Sources:</div>           
             {% for source in fullPoint.sources %}
                <div class="span11 offset1">      
                  <a data-sourceKey={{source.key.urlsafe}}  href="{{source.url}}" target="_blank">{{source.name}}</a> 
                </div>    
             {% endfor %}
          </div>
         {% endif %}
        <div class="row-fluid {% cycle 'blueBack' 'pinkBack' %}">
            <div class="span6">
                {% if fullPoint.supportingPoints %}
                  Supporting Points
                  {% for point in fullPoint.supportingPoints %}
                      {% include 'pointBox.html' %}            
                  {% endfor %} 
                {% endif %}                      
            </div>
            <div class="span6">
                {% if fullPoint.counterPoints %}            
                  Counter Points
                  {% for point in fullPoint.counterPoints %}
                      {% include 'pointBox.html' %}            
                  {% endfor %} 
                {% endif %}                                        
            </div>
        </div>		
	{% endfor %}
