<div class="row">
	<br>{{ numPoints }} versions exist for <a href="/point/{{ latestPoint.url }}">{{ latestPoint.title|escape }}</a><br>
</div>
<div class="row">
	{% for fullPoint in pointData %}
	  <div class="boxedElement">
				<div class="pointSummaryTitle">{{ fullPoint.point.title|escape }}</div>
				<div class="pointSummaryText">{{ fullPoint.point.content|safe }}</div>
				<table class="pointTable">
                {% if fullPoint.supportingPoints %}
    				<thead>
    					<tr><th>Supporting Point Title</th><th>Supporting Point Text</th><th>Author</th></tr>
    				</thead>
    				<tbody>
    				{% for point in fullPoint.supportingPoints %}
    					<tr><td>{{point.title|escape}}</td><td>{{point.content|safe}}</td><td>{{point.authorName}}</td></tr>
    				{% endfor %}
    				</tbody>
    				</table>
                {% endif %}

                {% if fullPoint.counterPoints %}
   
                  <table class="pointTable">
                  <thead>
                      <tr><th>Counter Point Title</th><th>Counter Point Text</th><th>Author</th></tr>
                  </thead>
                  <tbody>
                  {% for point in fullPoint.counterPoints %}
                      <tr><td>{{point.title|escape}}</td><td>{{point.content|safe}}</td><td>{{point.authorName}}</td></tr>
                  {% endfor %}
                  </tbody>
                  </table>
                {% endif %}
                
  
                {% if fullPoint.sources %}                  
                  <table class="pointTable">
                  <thead>
                      <tr><th>Source Title</th><th>Source URL</th></tr>
                  </thead>
                  <tbody>
                  {% for source in fullPoint.sources %}
                      <tr><td>{{source.name}}</td><td><a hred="{{source.url}}">{{source.url}}</a></td></tr>
                  {% endfor %}
                  </tbody>
                  </table>
                {% endif %}
                
                
				<div class="mainPointInfo">
					<div class="mainPointVersion">{{fullPoint.point.version}}</div>
					<div class="mainPointAuthor">{{ fullPoint.point.authorName }}</div>
					<div class="mainPointDateEdited">{{fullPoint.point.dateEdited}} </div>
					<div class="mainPointImageURL">{{fullPoint.point.imageURL}}</div>
 					<div class="mainPointImageAuthor">{{fullPoint.point.imageAuthor}}</div>
 					<div class="mainPointImageDescription">{{fullPoint.point.imageDescription}}</div>
				</div>
		</div>
	{% endfor %}
</div>