<div id="dialogForm" title="Edit Point">	
	<form id='frmEditFields'>
	  <fieldset id='editFields'>
			Main</br>
		  <textarea class=" titleEdit" name="titleEdit" ></textarea>
	    <textarea class="mceEditor textEdit" name="textEdit"></textarea><br>
			Image<br>
			<div class="dlgField"><label class="dlgLabelName">link</label>
			  <input type="text" class=" fieldEdit" name="imageURL" ></input>
		  </div>
			<div class="dlgField"><label class="dlgLabelName">author</label>
			  <input type="text" class=" fieldEdit" name="imageAuthor" ></input>
		  </div>
			<div class="dlgField"><label class="dlgLabelName">description</label>
			  <input type="text" class=" fieldEdit" name="imageDescription" ></input>
		  </div>
		</fieldset>
	</form>
</div>
<script>
			$(document).ready(function(){
					$("#dialogForm").dialog({
						autoOpen: false,
    				height: getWindowHeight() * .9,
    				width: $(window).width()*.7,
						modal: true
				});
					
			});

      window.onload = function() {positionEditDialog(500); }
      window.onresize = function() {positionEditDialog(500); }
</script>

