<div class="pointCard">
   <div class="row-fluid">
       <div class="span10">
          <div class="pointTitle">
            <a href="/point/{{ point.url }}">{{ point.title|escape }}</a>
          </div>
      </div>             
      <div class="span2">
        {% if point.imageURL and point.imageURL.strip %}      
            <img class="listDisplay" src="{{ point.summaryBigImage }}" />
        {% endif %}            
      </div>
    </div>    
      <div class="row-fluid">
          <span class="stat"><img src="/static/img/agreesIconBig.png"/>&nbsp{{ point.voteTotal }}</span>
          <span class="stat"><img src="/static/img/awardsIconBig.png"/>{{ point.ribbonTotal }}</span>
          <span class="stat"><img src="/static/img/sourcesIconBig.png"/>&nbsp{{ point.sources|length }}</span>
      </div>
      <div class="row-fluid no-space">
          <span class="linkStat 
                    {% if point.onlyCounter %} counterColor 
                    {% else %} supportColor 
                    {% endif %}
                pull-left" 
                style="width:{% widthratio point.linksRatio 100 100 %}%">
            {{ point.supportingPointsRoots|length }} SUPPORTING
          </span>
          <span class="linkStat                     
                    {% if point.onlySupport  %} supportColor 
                    {% else %} counterColor 
                    {% endif %}
                    text-right pull-right" 
                style="width:{% widthratio point.reverseLinksRatio 100 100 %}%">
            {{ point.counterPointsRoots|length }} COUNTER 
          </span>
      </div>                       
</div>
