<div class="modal hide fade pointDialog" id="supportingPointSearch" title="Search for supporting points for {{pointTitle}}" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <h3>
            Search for supporting points for {{pointTitle}}
        </h3>
    </div>   
    <div class="row-fluid">    
        <div class="searchColumn span11">
          <div class="row-fluid" id="searchBoxDiv">
              <div class="span11 offset1">
                  <input id="selectSupportingPointSearch" class="searchBox" type="search" placeholder="Search for an existing point..." results="0" />
              </div>
          </div>
        </div>        
        <div class="control-group span11">        
            <a href="#" class="btn btn-cancel pull-right" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</div>
