{% extends "base.html" %}

{% block mainPageContent %}
  <script type="text/javascript" src="/static/js/selectSupportingPoint.js"></script>

  {% if user %}
      {% with "createSupportingPoint" as formName %}
      {% with "Create Supporting Point" as dlgTitle  %} 
          {% include 'pointDialog.html' %}
      {% endwith %}
      {% endwith %}
  {% endif %}
    
  <div id="content">
  <div class="row topSpace"></div>
  <div class="row">       
  	<div class="recentlyViewedColumn span4">
		<h4 class="pushDown20px">Select a point you've seen before...</h4>
		{% for point in points %} 
           <div class="{% if point.voteTotal >= thresholds.green %}
                        green
                      {% else %}
                      {% if point.voteTotal <= thresholds.red %} red {% else %} yellow {% endif %}
                      {% endif %} selectSupportingPointSmall row-fluid"  id="selectPoint_div_{{point.url}}" 
                      alt="Use {{ point.title|escape }}" data-pointurl="{{point.url}}">
                <div class="span10 title">
                <H5 >
                <span class="score">{{ point.voteTotal }}</span>
                  <a href="#" > {{ point.title|escape }}</a></H5>
                </div>
                <div class="span2">
                  <a class="pull-right" href="#"
                  id="selectPoint_arrow_{{point.url}}"
                  alt="Use {{ point.title|escape }}" ></a>
                </div>
           </div>
		{% endfor %}
	</div>
    <div class="searchColumn span4">
        <h4>Or...</h4>
        <input id="selectSupportingPointSearch" class="searchBox" type="search" placeholder="Search for an existing point..." results="0" />
    </div>
	<div class="newPointColumn span4">
  	   <h4>Or</h4>
  	   <div>
           <a id="createSupportingPointLink" alt="Create Supporting Point" src="static/img/arrow_makeANewPoint_grey_231px.png"></a>
       </div>	
	</div>	
  </div>
		
<script>
    var parentPointURL = '{{parentPoint.url}}';  
    var thresholdGreen = {{ thresholds.green }};
    var thresholdRed = {{ thresholds.red }};
</script>  
{% endblock %}