{% extends "base.html" %}

{% block mainPageContent %}
    {% block headBlock %} {% endblock %}             

    <div class="row topSpace"></div> 
    <div class="row topSpace"></div>
    <div class="row">
        <div id="leftColumn" class="span8">
            {% block leftColumnContent %} {% endblock %}             
        </div>
        <div id="rightColumn" class="span4">
            {% block rightColumnContent %} {% endblock %}                
        </div>
    </div>
        
{% endblock %}
