{% extends "base.html" %}

{% block mainPageContent %}
  {% if user %}
    <script type="text/javascript" src="/static/js/resetpassword.js"></script>

       <div class="">Reset your password. Or <a href="/"> return home</a></div>
       <div class="">Please make your password at least 8 characters long, with both a letter and a number</a></div>       
       <form id="changePassword" action="/password" onsubmit="return validatePasswordChange()" method="post">
          <div class="">
            <input type="password" id="password1" name="password1" />
            <input type="password" id="password2"  name="password2" />
            <input type="hidden" name="t" value="{{token}}" />
            <input type="hidden" name="user_id" value="{{user_id}}" />            
          </div>
          
          <div class="">
            <input type="submit" value="Change password" />
          </div>
       </form>
  {% endif %}

{% endblock %}

