<a href="/point/{{ point.url }}" style="text-decoration:none">
   <div class="row-fluid">
      <div class='span12 pointSmall' data-pointurl='{{point.url}}'>
        <div class="row-fluid smallTitle">
          {{ point.title|escape }}
        </div>
        <div class="row-fluid">
		  {% if point.voteTotal != 0 %}
          	<span class="smallStat"><img src="/static/img/agreesIconSmall.png"/>&nbsp{{ point.voteTotal }}</span>
		  {% endif %}            
		  <!-- {% if point.ribbonTotal != 0 %}			
          	<span class="smallStat"><img src="/static/img/awardsIconSmall.png"/>{{ point.ribbonTotal }}</span>
		  {% endif %}  -->          
		  {% if point.sources|length != 0 %}							
          	<span class="smallStat"><img src="/static/img/sourcesIconSmall.png"/>&nbsp{{ point.sources|length }}</span>
		  {% endif %}  
        </div>
      </div>
   </div>
 </a>
 