{% extends "base.html" %}

{% block mainPageContent %}

<div id="content" class="fullPageText span8 offset2">
<div class="fixOffset2">
    <h2 class="addBottomMargin">Team</h2>
    <p>Whysaurus was conceived and created by Aaron Lifshin and Joshua Frankel.</p>

    <h4 class="smallBottomMargin">Aaron Lifshin</h4>
    <h4 class="firstHeading smallBottomMargin"><em>CEO</em></h4>
    <p><a href="http://lnkd.in/zVNVwY" target="_blank">Aaron</a> is a software industry professional with 15 years of experience in both software development and the creation and management of technical teams.  In addition to consulting work in large enterprises, Aaron has been part of the management team in two successful companies: RSW Software (now Empirix) and XLN telecom.  Aaron has worked as an IT Management consultant for an online startup in London during its founding, and has also provided technical due diligence for a private equity client during acquisition. He is a graduate from Dartmouth College.</p>
       
    <h4 class="smallBottomMargin">Joshua Frankel</h4>
    <h4 class="firstHeading"><em>Chief Creative Officer</em></h4>
    Joshua is an artist, filmmaker and designer with a brain arranged in a tree-like structure. He was a member of the groundbreaking digital team on President Obama’s 2008 campaign and was recently a fellow at the Sundance New Frontier Story Lab; he has over twelve years of experience working in film, theater and advertising. His work has been presented recently at institutions including BAM, Lincoln Center Film Society, the London Institute of Contemporary Art, the Museum of Public Art in Sweden, the Annecy International Festival of Animation and the recent UN World Urban Forum. Joshua has also created over twelve thousand square feet of public murals in collaboration with his wife, Eve Biddle and is a Superforecaster with Good Judgment, an IARPA ACE Project. He is a graduate of Williams College. His website is <a href="http://www.joshuafrankel.net" target="_blank">here</a>.</p>
       
    <h4 class="smallBottomMargin">Mark Flynn</h4>
    <h4 class="firstHeading"><em>Chief Strategy Officer</em></h4>
    Mark has worked in marketing and strategy for nearly 10 years as a business consultant at Accenture and Schireson Associates, and has led strategic engagements for Microsoft, Viacom, Avis and many others. He is passionate about argument and education, having developed lesson plans as a Peace Corps Volunteer in Kazakhstan that encouraged his students to confront controversial subjects such as “Why do Americans believe Borat is real?” He holds an MBA from the University of Michigan and an BA from Macalester College.</p>   
    </div>
</div>
  
 {% endblock %}
 