{% extends "base.html" %}

{% block mainPageContent %}
<div class="span2">
  <div class="affix" data-spy="affix" data-offset-top="60" data-offset-bottom="200" role="complementary">
      <ul id="educationInfoNav">
          <li>
            <a href="/walkthrough">&middot; Walkthrough</a>
          </li>       
          <li>
            <a href="/education">&middot; Education Page</a>
          </li>                 
      </ul>
  </div>
</div>

<div id="content" class="span9 apushistory">

<div class="fixOffset2">
    <h2 id="ccOverview" class="idLinkOffset">Whysaurus and AP United States History</h2>
   

   <h4>How can Whysaurus be used in an AP U.S. History Classroom?</h4>

   <p>Whysaurus can be an efficient and effective way to teach several of the historical thinking skills that are outlined in the AP US History Curriculum Framework, specifically: Historical Argumentation, Interpretation, and Synthesis. Students can use Whysaurus individually or collaboratively.</p>

   <h2>Historical Thinking Skills</h2>

   <p>The new curriculum framework for APUSH emphasizes historical thinking skills (see <a href="http://media.collegeboard.com/digitalServices/pdf/ap/ap-us-history-course-and-exam-description.pdf">The College Board “AP United States History Course and Exam Description” (September 2014)</a>) On the AP US History exam, every question will require students to “apply one of the historical thinking skills to one of the thematic learning objectives.”</p>

   <p>The following are three historical thinking skills that can be effectively taught, reinforced, and assessed using Whysaurus.</p>

   <h4>Skill 6: Historical Argumentation</h4>

   <em><p>Historical thinking involves the ability to define and frame a question about 
   the past and to address that question through the construction of an argument. 
   A plausible and persuasive argument requires a clear, comprehensive, and 
   analytical thesis, supported by relevant historical evidence — not simply 
   evidence that supports a preferred or preconceived position. In addition, 
   argumentation involves the capacity to describe, analyze, and evaluate the 
   arguments of others in light of available evidence.</p>

   <p>Proficient students should be able to
     <ul>
     <li>Analyze commonly accepted historical arguments and explain how an argument has been constructed from historical evidence.</li>
     <li>Construct convincing interpretations through analysis of disparate, relevant historical evidence.</li>
     <li>Evaluate and synthesize conflicting historical evidence to construct persuasive historical arguments.</li>
     </ul>
   </p>

   <p>-The College Board “AP United States History Course and Exam Description” (September 2014) p. 16</p></em>

   <p>Students can use Whysaurus to practice Historical Argumentation in many different ways. They can deconstruct and diagram commonly accepted historical arguments in Whysaurus or use Whysaurus to construct their own interpretations through the use of historical evidence.</p>

   <p>For example, students might use Whysaurus to explore an argument such as “By 1848, slavery could not be easily abolished in the South” and to examine how specific pieces of historical evidence might be used to support or undermine this claim. An illustrated walkthrough of how students could use Whysaurus to complete such an assignment can be found <a href="/walkthrough">here</a>.</p>

   <p>Additional sample assignments that can be used to practice Historical Argumentation can be found under the “AP US History” heading <a href="/education#edAssignments">here</a>.</p>

   <h4>Skill 8: Interpretation</h4>

   <em><p>Historical thinking involves the ability to describe, analyze, evaluate, and 
   construct diverse interpretations of the past, and being aware of how particular 
   circumstances and contexts in which individual historians work and write also 
   shape their interpretation of past events. Historical interpretation requires 
   analyzing evidence, reasoning, determining the context, and evaluating points 
   of view found in both primary and secondary sources. 

   <p>Proficient students should be able to …
     <ul>
       <li>Analyze diverse historical interpretations. </li>
       <li>Evaluate how historians’ perspectives influence their interpretations and how models of historical interpretation change over time.</li>
     </ul>
   </p>

   <p>-The College Board “AP United States History Course and Exam Description” (September 2014) pp. 17-18</p></em>

   <p>Students can use Whysaurus to analyze, evaluate, compare and contrast historical interpretations from any time period.</p>

   <p>For example, students might first read a primary source that reveals the perspective of a slave owner towards the institution of slavery and a primary source that reveals the perspective of a slave towards the institution of slavery. Students could then use Whysaurus to diagram these differing interpretations and use these diagrams to compare and contrast the two.</p>
     
   <h4>Skill 9: Synthesis</h4>

  <p><em>Historical thinking involves the ability to develop meaningful and persuasive 
   new understandings of the past by applying all of the other historical thinking 
   skills, by drawing appropriately on ideas and methods from different fields 
   of inquiry or disciplines, and by creatively fusing disparate, relevant, and 
   sometimes contradictory evidence from primary sources and secondary works. 
   Additionally, synthesis may involve applying insights about the past to other 
   historical contexts or circumstances, including the present.</p>

   <p>Proficient students should be able to …
     <ul>
       <li>Combine disparate, sometimes contradictory evidence from primary sources and secondary works in order to create a persuasive understanding of the past.</li>
       <li>Apply insights about the past to other historical contexts or circumstances, including the present.</li>
     </ul>
   </p>
   <p>-The College Board “AP United States History Course and Exam Description” (September 2014) p. 18</em></p>

   <p>As demonstrated in the discussion of both Historical Argumentation and Interpretation, students can use Whysaurus to combine disparate historical sources in order to develop persuasive historical arguments or to analyze evidence and reasoning in order to describe and evaluate different historical interpretations.</p>

   <p>For example, in the Historical Argumentation example above, students are combining evidence from different sources in order to support (or undermine) the argument regarding the ease of abolishing slavery in 1848.</p>

   <p>Whysaurus is also an interesting platform to take insights about the past and apply them to the present. Because every Whysaurus point is re-usable, students can create a historical argument and then use it as evidence in an argument about current events. </p>

   <p>For example, an argument on the significance of the rivalry at the Constitutional Convention between states with economies centered on agriculture (eg Virginia) and states with economies driven by cities (eg Massachusetts) could support a larger argument that this rivalry has persisted throughout US History, which in turn could support an argument about current electoral politics.</p>


   <h4>More Information</h4>

   <p>For more information on Whysaurus (key features, grading, privacy, helpful hints, and compatibility), please see our Whysaurus in Education page <a href="/education">here</a>.</p>

   <h3>Contact</h3>
   <h4>Whom do I contact and how do I get started?</h4>

   <p>If you have questions or thoughts about using Whysaurus in the AP US History classroom, we’d love to hear from you. If you’re not already in touch with us, please don’t hesitate to e-mail <a href="mailto:education@whysaurus.com">education@whysaurus.com</a> to send questions and feedback or to get help getting started.</p>
   
</div>

{% endblock %}
 