{% extends "base.html" %}

{% block mainPageContent %}
<div class="span2">
  <div class="affix" data-spy="affix" data-offset-top="60" data-offset-bottom="200" role="complementary">
      <ul id="educationInfoNav">

          <li class>
              <a href="education">&middot; Back to Main Education Page</a>
          </li>       
      </ul>
  </div>
</div>

<div id="content" class="fullPageText span9">

<div class="fixOffset2">
    <h2 id="ccOverview" class="idLinkOffset">AP US History</h2>
   
</div>

{% endblock %}
 