<div class="row-fluid" >
	<div class="assignmentArea">
	    <div class="assignmentHeading" >
	        Assignment
	    </div>
		<div class="assignmentInfoArea">
		    <div id = "assignmentTitle" >
		        {{currentAssignment.title}}
		    </div>
		    <div id = "assignmentSummary" >
		        {{currentAssignment.summary}}        
		    </div>        
		    <div id = "assignmentDirections" >
		        {{currentAssignment.directions}}        
    		</div>
		</div>
    
	    {% if documents %}
	        <div class="assignmentHeading" >
	            Documents
	        </div>
	        {% for document in documents %}
	            <div class = "assignmentDoc" >
	                <div class="assignmentDocTitle" >
	                    DOCUMENT {{forloop.counter}}: {{document.title}}        
	                </div>
	                <div class="assignmentDocContent" >
	                    {{document.content}}        
	                </div>
	            </div>
	        {% endfor %}
	    {% endif %}
	</div>
</div>