{% extends "base.html" %}

{% block mainPageContent %}
<div class="span2">
<div class="affix" data-spy="affix" data-offset-top="60" data-offset-bottom="200" role="complementary">
    <ul id="educationInfoNav">
        <li class>
            <a href="#edOverview">&middot; Overview</a>
        </li>
        <li class>
            <a href="#edContact">&middot; Contact</a>
        </li>
        <li class>
            <a href="#edWhyWhysaurus">&middot; Why Whysaurus</a>
        </li>
        <li class>
            <a href="#edAssignments">&middot; Assignments</a>
            <!--<ul class="list-group">
                <li class="list-group-item"><a href="#">Critical Reading</a></li>
                <li class="list-group-item"><a href="#">Argumentative Writing</a></li>
                <li class="list-group-item"><a href="#">Sample Assignments</a></li>
            </ul>-->
        </li>
        <li class>
            <a href="#edKeyFeatures">&middot; Key Features</a>
        </li>        
        <li class>
            <a href="#edGrading">&middot; Grading</a>
        </li>        
        <li class>
            <a href="#edPrivacy">&middot; Privacy</a>
        </li>       
        <li class>
            <a href="#edHelpfulHints">&middot; Helpful Hints</a>
        </li>  
         <li class>
            <a href="#edCompatibility">&middot; Compatibility</a>
        </li> 
        <br>        
        <li><a target="_blank" href="/apushistory">&middot; AP US History</a></li>
        <li><a target="_blank" href="/commonCore">&middot; Common Core</a></li>
        <br>        
        <li><a target="_blank" href="/walkthrough">&middot; Walkthrough</a></li>         
    </ul>
</div>
</div>

<div id="content" class="fullPageText span9">

<div class="fixOffset2">

    <h2 id="edOverview" class="idLinkOffset">Whysaurus in Education</h2>
    <br>
    <h4>What is Whysaurus?</h4>
    <p>Whysaurus is an intuitive platform for building evidence-based arguments.<br>
    It is also collaborative and open-source.</p>
    
    <h4>How can Whysaurus be used in a classroom?</h4>
    <p>Whysaurus can be used to teach <strong>critical reading</strong>, <strong>argumentative writing</strong>, and essential <strong>argument skills</strong> at the college or high school level. Assignments can be collaborative or designed for individuals.<br>
    <br>
    Whysaurus can be used to implement the <strong>Common Core</strong> standards for reading, writing and digital literacy; it is particularly useful for unwrapping complex texts. You can find more details about that <a target="_blank" href="commonCore">here</a>. It can also be useful for debate, Model UN and mock-trial programs.<br>
    <br>    
    Student activity can take place in <a href="#edPrivacy">Private Classroom Areas</a> or in our Public Area.<br>
    <br>
    You can see example arguments on <a target="_blank" href="http://whysaurus.com">our homepage</a>.</p>

    <h4 >Who else has used Whysaurus?</h4>
    <p>Whysaurus has been used in programs ranging from writing classes at <a target="_blank" href="http://writing.berkeley.edu/">UC Berkeley</a> to <a target="_blank" href="https://www.goodjudgmentproject.com/">The Good Judgment Project</a>, an <a target="_blank" href="http://www.iarpa.gov/index.php/research-programs/ace">IARPA Ace Project</a>.</p>

    
    <h2 id="edContact" class="idLinkOffset">Contact</h2>
    
    <h4 >Who do I contact and how do I get started?</h4>
    <p>If you have more questions, or if you’re ready to get started, email <a href="mailto://education@whysaurus.com">education@whysaurus.com</a></p>
    
    <h2 id="edWhyWhysaurus" class="idLinkOffset">Why Whysaurus</h2>
    
    <h4 >Why teach argument in the classroom?</h4>
    <p>The abilities to form evidence-based arguments and assess the relevance of evidence, veracity of claims and soundness of reasoning is crucial for college, workforce training and life in general. At the high school level, <a target="_blank" href="commonCore#ccSpecialPlaceOfArgument">the Common Core carves out a special place for argument in the standards</a>.</p>
 
    <h4 >Why use Whysaurus to teach argument?</h4>
    <p>For many argumentation assignments, Whysaurus saves time and reduces distractions - for both teachers and students. By focusing only on core claims and how they relate to each other, the bones of each argument (and any flaws they might contain) are laid bare for immediate examination. <!--No time is spent composing or reading flowery presentation.--><br> 
    <br>
    The act of creating an argument on Whysaurus forces students to distill their thoughts. Often, users find that they understand their topic less than they thought they did, which in turn leads them to research and reason more deeply.  <br>  
    <br>
    The online interface facilitates collaboration, allows users to incorporate evidence from across the web into their arguments, and gives students a chance to improve their digital literacy skills.<br>  
    <br>  
    Because Whysaurus requires that users form their own thoughts, there is little opportunity for plagiarism.</p>

    
    <h2 id="edAssignments" class="idLinkOffset">Sample Assignments</h2>
    <br>
    <p>Here are a few samples that can serve as starting points in the design of your own assignments:</p>
    <br>
    <ul class="infoNonToggle"><p><a class="superInfoToggle"><strong>AP US History</strong></a></p>
    <li class="superInfo hide">
        <p>Whysaurus is an efficient and effective way to diagnose which aspects of Historical Argumentation each student needs help with. It is also an effective and efficient way to teach those skills.</p>
<p>Whysaurus assignments quickly indicate whether each student can...<br />
&middot; Create a clear, comprehensive and analytical thesis; <br />
&middot; Support that thesis with relevant historical evidence;<br />
&middot; Extract useful information from sources;<br />
&middot; Identify and describe arguments made by others;<br />
&middot; Evaluate arguments made by others;<br />
&middot; Understand historical evidence in its context and recognize its limitations.</p>

        <p>This list of skills is paraphrased from <a target="_blank" href="http://advancesinap.collegeboard.org/english-history-and-social-science/historical-thinking-skills">The College Board’s description of Historical Thinking Skill #3</a>. More on how Whysaurus connects to Historical Thinking Skills is described <a target="_blank" href="/apushistory">here</a>. </p>
        
<p>Below are a few sample assignments, each designed to develop one or more of the skills listed above.</p>
            <ul class="infoToggle noLeftMargin"><p><a>1. Analyze a historical argument through critical reading</a></p>
                <li class="hide">
                    <p>
Proficiency Goals:<br />
&middot; Identify and describe arguments made by others;<br />
&middot; Evaluate arguments made by others;<br />
&middot; Understand historical evidence in its context and recognize its limitations.<br />
<br />
Students begin by working in groups or as individuals. Assign each group (or individual) their own reading - a founding document, essay, chapter, article or even a video of a political speech - then assign these two phases:<br>
<br>
1) First, [in groups or as individuals], lay out the author’s argument using the argument diagramming tools at whysaurus.com:<br>
<br> 
<span class="assignmentBullets">
&middot; Identify the author’s main argument and build it as a <em>claim</em>.<br>
&middot; Identify his or her sub-claims and add them as <em>supporting claims</em>.<br> 
&middot; If the author identifies any potential counter-arguments, add them as <em>counter claims</em>.</span><br> 
<br>
This phase will be due [date].<br>
<br>
<br>
In the second phase, each student can work as an individual...<br>
<br>
2) Then, individually, go back and use Whysaurus’s annotation tools to critique each component of the author’s argument:<br>
<br>
<span class="assignmentBullets">
&middot; <em>Agree</em> or <em>disagree</em> with each claim and subclaim.<br>
&middot; Rate the <em>relevance</em> of each supporting and counter claim.<br>
&middot; Think of 2 claims that the author did not raise, which would either support or counter her or his argument, and add them as <em>supporting</em> or <em>counter claims</em>.<br>
&middot; Attach a <em>comment</em> to the <em>top claim</em> addressing whether you believe the author’s argument is persuasive and why.</span><br> 
<br>
This phase will be due [date].<br>
                    </p>
                    <br>
                </li>
            </ul>
            <ul class="infoToggle noLeftMargin"><p><a>2. Construct a persuasive historical argument</a></p>
                <li class="hide">
                    <p>
 Proficiency Goals:<br />
&middot; Create a clear, comprehensive and analytical thesis;<br />
&middot; Support that thesis with relevant historical evidence;<br />
&middot; Extract useful information from sources;<br />
&middot; Evaluate arguments made by others;<br />
&middot; Understand historical evidence in its context and recognize its limitations.<br />
<br />
Given historical evidence - documents, essays, articles, etc.<br>
<br>
1) Select a historical argument to make from one of the provided options, eg:<br>
<br> 
<span class="assignmentBullets">
&middot; “All of the causes of the Civil War arose because of slavery.”<br>
&middot; “The geographical differences between the Northern and Southern States were key factors in the development of their cultural differences.”<br>
&middot; An argument of your choosing.</span><br> 
<br>
Then, [in groups or as individuals], build your main argument as a <em>claim</em> in Whysaurus:<br>
<br>
<span class="assignmentBullets">
&middot; Identify evidence in the provided documents: add each specific item of evidence as a <em>supporting claim</em>.<br>
&middot; Attach <em>sources</em> linking to the document, [optionally, include a full bibliographic entry in the source's text field].<br> 
&middot; Identify potential counter-arguments and add them as <em>counter claims</em>.</span><br> 
<br>
This phase will be due [date].<br>
<br>
<br>
2) Use Whysaurus’s annotation tools to critique the argument made by [your assigned classmate]:<br>
<br>
<span class="assignmentBullets">
&middot; <em>Agree</em> or <em>disagree</em> with each claim and subclaim.<br>
&middot; Rate the <em>relevance</em> of each supporting and counter claim.<br> 
&middot; Think of 2 claims that the author did not raise, which would either support or counter her or his argument, and add them as <em>supporting</em> or <em>counter claims.</em><br>
&middot; Attach a <em>comment</em> to the <em>top claim</em> addressing whether you believe the author’s argument is persuasive</span>.<br> 
<br>
This phase will be due [date].<br> 
<br>
<br>
A step-by-step illustration of how the Whysaurus interface is used to complete the tasks in this sample assignment is <a target="_blank" href="../walkthrough">here</a>.<br>                                       
                    </p>
                    <br>
                </li>
            </ul>
            <ul class="infoToggle noLeftMargin"><p><a>3. Prepare for a classroom discussion</a></p>
                <li class="hide">
                    <p>
Proficiency Goals:<br />
&middot; Support a thesis with relevant historical evidence;<br />
&middot; Evaluate arguments made by others;<br />
&middot; Understand historical evidence in its context and recognize its limitations.<br />
<br />                    
For the Teacher:<br>
1) Create a single <em>claim</em> in Whysaurus, representing the argument that will be discussed in an upcoming class.<br> 
<br>
2) Provide the url to the students in advance of the class and ask them to:<br>
<br> 
<span class="assignmentBullets">&middot; Contribute one or more <em>supporting claims</em> or <em>counter claims</em> prior to the class.<br> 
&middot; Respond in Whysaurus to their classmates’ claims using <em>relevance</em>, <em>agree/disagree</em> and potentially by adding additional <em>supporting</em> and <em>counter claims</em>. <br>
</span><br>
3) In class, use this argument in Whysaurus as a jumping off claim and continue the conversation from there.<br> 
<br>
Note:<br>
One teacher has suggested that this assignment helps “level the playing field” in a classroom where a few students tend to dominate discussions by letting the vocal ones “burn off heat”, and giving the rest of the class an opportunity to get engaged from the start, as well as a preview on where the conversation might go. The anonymity of voting on Whysaurus allows for critique shielded from peer-pressure.<br>                    
                    
                    </p>
                    <br>
                </li>
            </ul>
            <ul class="infoToggle noLeftMargin"><p><a>4. Extend classroom discussion</a></p>
                <li class="hide">
                    <p>
Proficiency Goals:<br />
&middot; Identify and describe arguments made by others;<br />
&middot; Evaluate arguments made by others;<br />
&middot; Support a thesis with relevant historical evidence;<br />
&middot; Understand historical evidence in its context and recognize its limitations.<br />
<br />
(This assignment could be used in tandem with, or indepently from, APUSH sample #4)<br>
<br>
Select an argument that was made in today’s classroom discussion - by yourself or by one of your classmates - and diagram it using Whysaurus.<br>
<br>
1) Identify the speaker’s main argument and build it as a <em>claim</em>. Identify his or her sub-claims and add them as <em>supporting claims</em>.<br> 
<br>
2) Critique the speaker’s argument using Whysaurus’ annotation tools:<br>
<br>
<span class="assignmentBullets">
&middot; <em>Agree</em> or <em>disagree</em> with each claim and subclaim.<br>
&middot; Rate the <em>relevance</em> of each supporting and counter claim.<br> 
&middot; Think of 2 claims that the author did not raise, which would either support or counter her or his argument, and add them as <em>supporting</em> or <em>counter claims</em>.<br>
&middot; Attach a <em>comment</em> to the <em>top claim</em> addressing whether you believe the author’s argument is persuasive.</span><br>
                    
                    </p>
                    <br>
                </li>
            </ul>
            <ul class="infoToggle noLeftMargin"><p><a>5. Prepare for an organized debate</a></p>
                <li class="hide">
                    <p>
Proficiency Goals:<br />
&middot; Create a clear, comprehensive and analytical thesis; <br />
&middot; Support that thesis with relevant historical evidence;<br />
&middot; Evaluate arguments made by others;<br />
&middot; Understand historical evidence in its context and recognize its limitations.<br />
<br />                    
Given a topic for an upcoming debate, work with a small group of students to prepare your argument.<br> 
<br>
<span class="assignmentBullets">1) Draft your argument:<br>
&middot; Add the main argument your group will be making in the debate as a <em>claim</em> in Whysaurus.<br>
&middot; Brainstorm specific claims to support your argument and add them as <em>supporting claims</em>.<br>
&middot; If you can support these with further sub-claims, add those as well. <br>
&middot; Identify textual evidence to support your claims and add that evidence as <em>sources</em> to the appropriate claims.</span><br> 
<br>
2) Critique your own argument by setting the <em>relevance</em> of each of your supporting claims. This will help you identify which of your sub-claims are the strongest.<br>
<br>
3) Anticipate the counter-arguments your opponents will make: how will they attempt to refute your argument? Add these anticipated responses as <em>counter claims</em>.<br>
<br>
4) How will you respond to your opponents? Defend your larger argument by adding <em>counter claims</em> to the <em>counter claims</em>!                     
                    </p>
                    <br>
                </li>
            </ul>
        <br>


            <br>
            <br>             
        </li>
    </ul> 
    <ul class="infoToggle"><p><a><strong>UC Berkeley: College first-year reading and writing</strong></a></p>
        <li class="hide">
            <p>Assignments developed at UC Berkeley for "Reading and Composition", a non-major writing and critical thinking class, can be downloaded <a target="_blank" href="/static/media/Ys_SampleAssignments_Spring2014.pdf">here</a>.
            </p>
            <br>
        </li>
    </ul> 
    <ul class="infoToggle"><p><a><strong>Critical Reading (basic assignment templates)</strong></a></p>
        <li class="hide">
            <p>The outline below is painted in broad strokes and can be adapted for students to tackle collaboratively or as individuals. Key Whysaurus features are marked in <strong><em>italics</strong></em>.<br>
            <br>
            <br>
            Part 1. Describe the argument that an author is making in an essay, speech, opinion column, etc:<br>
            <br>
            &middot; Identify the author's main argument and express it as a <strong><em>claim</strong></em>.<br> 
            &middot; Express the author’s sub-claims, sub-sub-claims, etc, as <strong><em>supporting-claims</strong></em>.<br> 
            <br><br>
            Part 2. Critique an author's argument:<br>
            <br>            
            &middot; Use the <strong><em>relevance</strong></em> widget to flag irrelevant claims.<br> 
            &middot; Vote on which arguments are valid by clicking <strong><em>agree</strong></em> and <strong><em>disagree</strong></em>.<br> 
            &middot; Attach <strong><em>counter-claims</strong></em> to both the main claim and supporting claims.<br> 
            &middot; Support your counter-claims with their own networks of evidence.<br> 
            &middot; Discuss what is interesting about these arguments and how they could be improved by adding <strong><em>comments</strong></em>.<br>            
            </p>
            <br>
        </li>
    </ul> 
    <ul class="infoToggle"><p><a><strong>Argumentative Writing (basic assignment templates)</strong></a></p>
        <li class="hide">
            <p>The outlines below are painted in broad strokes and can be adapted for students to tackle collaboratively or as individuals. Key Whysaurus features are marked in <strong><em>italics</strong></em>.<br>
            <br>
            <br>
            Prepare for a paper or debate by outlining the argument you plan to make:<br>
            <br>            
            &middot; Identify your main claim and express it as a <em><strong>claim</strong></em> in Whysaurus.<br> 
            &middot; Express your sub-claims, sub-sub-claims, etc, as <strong><em>supporting-claims</em></strong>.<br> 
            &middot; Attach <strong><em>sources</em></strong> to claims that are drawing from documents.<br> 
            &middot; Anticipate potential counter-arguments and express them as <em><strong>counter-claims</strong></em>.<br> 
            <br>
            <br>
            Respond to a reading, news event, film, work of art, etc, by forming an opinion about some specific aspect that you find interesting, (eg “If the majority of Crimeans wish to join Russia, they should be allowed to do so”, or “In <em>Do The Right Thing</em> Spike Lee employs several attributes of classical Greek dramatic structure”, etc):<br> 
            <br>
            &middot; Express your main claim as a <em><strong>claim</strong></em>.<br>
            &middot; Express your sub- and sub-sub-claims as <em><strong>supporting-claims</strong></em>.<br>
            &middot; Express potential counter arguments as <strong><em>counter-claims</em></strong>.<br> 
            <br>
            <br>
            Critique an argument created in Whysaurus by your classmate(s):<br>
            <br>
            &middot; Use the <strong><em>relevance</strong></em> widget to flag irrelevant claims.<br> 
            &middot; Vote on which arguments are valid by clicking <strong><em>agree</strong></em> and <strong><em>disagree</strong></em>.<br> 
            &middot; Attach <strong><em>counter-claims</strong></em> to both the main claim and supporting claims.<br> 
            &middot; Support your counter-claims with their own networks of evidence.<br> 
            &middot; Discuss what is interesting about these arguments and how they could be improved by adding <strong><em>comments</strong></em>.<br>  
            </p>
            <br>
        </li>
    </ul> 

    <h2 id="edKeyFeatures" class="idLinkOffset">Key Features</h2>
    <br>
    <p>This section goes over a few of Whysaurus’ key features, with an eye towards how they can be useful in a classroom assignment.</p>
    <h4 >Claims</h4>
    <p>Claims are the building blocks of arguments on Whysaurus. Each claim can be supported or countered by other claims, so users can drill down as deeply as they want on any argument. Each claim has a character limit, which forces users to write as concisely, clearly and to-the-point as possible.</p>
    <h4 >Agree/Disagree</h4>
    <p>Users vote on the validity of a claim by clicking “agree” or “disagree”. Agree/disagree voting is anonymous, which reduces social pressure to vote in tandem with one’s peers.</p>
    <h4 >Relevance</h4>
    <p>Relevance measures the relationships between claims. “George Washington was a US President” and “2+2=4” should both get agrees, but if one were linked to the other as a supporting claim, that link’s relevance would be low. The ability to assess the relevance of one claim to another is a critical skill - this is an important feature!</p>
    <h4 >Comments</h4>
    <p>Each claim can have its own comment thread. Unlike traditional forums, comment threads on Whysaurus remain focused because each thread is attached to a single claim within a larger argument. Comments can be used for students to offer feedback to each other, and/or for instructor feedback.</p>
    <h4 >Sources</h4>
    <p>Each claim can have sources - links to books, papers, articles, etc. Whysaurus is most useful when users identify the pertinent information from their sources and express it in claims.</p>


    <h2 id="edGrading" class="idLinkOffset">Grading</h2>
    <br>
    <p>Here are a few Whysaurus features that can be particularly useful to instructors while grading.</p>
    <h4 >"Top Active" vs "All Active"</h4>
    <p>The "Top Active" column on the homepage lists only claims that are at the "top" of their tree - claims that do not support or counter any others. Meanwhile, "All Active" lists every claim in the current area (either the public area, or your classroom). "Top Active" can be useful to get an overview of the argument-networks that your class has created: if a class has 12 students each making one argument, there will be only 12 <em><strong>top claims</strong></em>. </p>
    <h4 >Profile Pages</h4>
    <p>Every Whysaurus user has a profile page that lists all claims the user has created or edited. This can be a good jumping off point from which to view the contributions of a single student.</p>
    <h4 >Roster View</h4>
    <p>Each Private Area has a Roster View, which can be accessed by clicking on your username in the top menu. Note that the Roster link is only visible when you are in your Private Area. Roster view lists all members of the Private Area, along with basic data about each user’s activity. This can be a useful way to see an overview of class participation and to quickly navigate to individual student profile pages. For example, if students have been assigned to create their first claims in Whysaurus, the Roster View will clearly show which students have created claims and which haven’t.</p>
    <h4 >claim History</h4>
    <p>Because Whysaurus is a collaborative platform, claims can be edited by multiple users. A claim’s “history” view displays a log of every version in that claim’s life and the author of each version. The history view can be a useful way to learn about the contributions of individual students to a given claim. The “View History” link is displayed when a claim becomes the “top claim” on any given page. The design of Whysaurus’ history view is still being developed, but all of the key information is present.</p>


    <h2 id="edPrivacy" class="idLinkOffset">Privacy</h2>
    <h4 >Public Area vs Private Areas</h4>
    <p>Classroom assignments can occur in the <em><strong>Public Area</strong></em> or in a <strong><em>Private Area</em></strong>.<br> 
    <br>
    In a <em><strong>Private Area</strong></em>, only designated students and instructors have access to your content. Private Areas begin as a “blank slate” - they contain only the content created by the class. Private Areas can make grading easier, and protect student privacy when that is required.<br>
    <br>
    In the <em><strong>Public Area</strong></em>, students have the opportunity to interact with the Whysaurus community, who may even join conversations with students and begin collaborations that continue beyond the last day of class. The ability to make effective contributions to public online conversation is a new and vital skill in today’s world and assignments in our Public Area offer a chance for students to hone these skills with guidance from their instructors.</p>

    <h2 id="edHelpfulHints" class="idLinkOffset">Helpful Hints</h2>
    <br>
    <p>Here are a few hints we’ve found that can help make your Whysaurus assignments most successful.</p>
    <h4 >Plan a Classroom Demo</h4>
    <p>It may be helpful to introduce students to Whysaurus with a classroom demo. Plan a simple argument ahead of time (so you don’t need to think up clever claims on the spot), and let the students jump in to suggest a few <strong><em>supporting-</em></strong> and <strong><em>counter claims</em></strong>.</p> 
    <h4 >Get Ahead of the Game</h4>
    <p>Some instructors have given students deadlines to set up their Whysaurus accounts (including joining their classroom, if applicable) in advance of the day on which they'll start using Whysaurus. This way, if they have technical issues they get addressed ahead of time, protecting valuable class and homework time. </p>    
    <h4 >Specificity is Key</h4>
    <p>Like claims in offline arguments, Whysaurus claims are most successful when they are written to be as specific as possible. Students will get the most “agrees” when they can define the scope of the claim they are making clearly. Vaguely written claims leave more room for disputes based on fringe examples, eg “College athletes should be paid a salary” could be refined to “College athletes in programs that generate significant television revenue should be paid a salary."</p> 
    <h4 >Concentrate Student Responses</h4>
    <p>When asking students to critique arguments on Whysaurus, if there is a lot of content to choose from and limited time, consider concentrating class activity on a few select claims. Deeper conversations in fewer areas may be more rewarding than many smaller interactions. The claims on which to focus could be selected by instructors or by students themselves.</p> 
    <h4 >Forming Arguments about Artistic Works</h4>
    <p>Arguments about an artistic work (a film, sculpture, book, etc) are most successful when they develop a theory about some aspect that work - rather than argue whether the work is “good” or “bad”. For example, “The film <em>Shrek</em> begins as a cross-hierarchy romance, but ends with ogres marrying each other and living in a swamp on the outskirts of civilization” will lead to a more constructive conversation than “<em>Shrek</em> is a good film” or “<em>Shrek</em> is a bad film”.</p> 
    <h4 >What Else Should Be Here?</h4>
    <p>If you have suggestions for information or ideas that would be helpful to have on this webpage, please let us know! Email education@whysaurus.com</p> 

    <h2 id="edCompatibility" class="idLinkOffset">Compatibility</h2>
    <h4 >Devices</h4>
    <p>Whysaurus is designed responsively and works on desktops, laptops, tablets and phones. On mobile devices, Whysaurus is accessed through a browser - there is no need to download an app. For students, we recommend desktops, laptops or tablets (as opposed to phones), but we'd love to hear what you think.</p> 
    <h4 >Browsers</h4>
    <p>Currently, Whysaurus only supports the Chrome browser. Other browsers might work, but have not yet been fully tested. We've selected Chrome because it is the most widely used browser in the world, with a market share approaching 50%, and in some respects requires the fewest resources to program for. We do plan to support other browsers in the future.</p> 
    
    <h2 id="edAPUSH" class="idLinkOffset">AP US History</h2>
    <br>
    <p>For information about how Whysaurus can integrate in AP US History classes, click <a target="_blank" href="/apushistory">here</a>.</p>   

    <h2 id="edCommonCore" class="idLinkOffset">Common Core</h2>
    <br>
    <p>For information about how Whysaurus can integrate with the Common Core Standards, click <a target="_blank" href="commonCore">here</a>.</p> 

    <h2 id="edCommonCore" class="idLinkOffset">Step-By-Step Walkthrough</h2>
    <br>
    <p>A step-by-step walkthrough of how an assignment could be implemented in Whysaurus can be seen <a target="_blank" href="/walkthrough">here</a>.</p> 

    <br><br><br><br><br><br><br>
    
</div>
</div>
  
 {% endblock %}
 