{% extends "base.html" %}

{% block mainPageContent %}
<div class="span2">
<div class="affix" data-spy="affix" data-offset-top="60" data-offset-bottom="200" role="complementary">
    <ul id="educationInfoNav">
        <li class>
            <a href="#edOverview">&middot; Overview</a>
        </li>
        <li class>
            <a href="#edContact">&middot; Contact</a>
        </li>
        <li class>
            <a href="#edWhyWhysaurus">&middot; Why Whysaurus</a>
        </li>
        <li class>
            <a href="#edAssignments">&middot; Assignments</a>
            <!--<ul class="list-group">
                <li class="list-group-item"><a href="#">Critical Reading</a></li>
                <li class="list-group-item"><a href="#">Argumentative Writing</a></li>
                <li class="list-group-item"><a href="#">Sample Assignments</a></li>
            </ul>-->
        </li>
        <li class>
            <a href="#edKeyFeatures">&middot; Key Features</a>
        </li>        
        <li class>
            <a href="#edGrading">&middot; Grading</a>
        </li>        
        <li class>
            <a href="#edPrivacy">&middot; Privacy</a>
        </li>       
        <li class>
            <a href="#edHelpfulHints">&middot; Helpful Hints</a>
        </li>  
        <li class>
            <a href="commonCore">&middot; Common Core</a>
        </li>         
    </ul>
</div>
</div>

<div id="content" class="fullPageText span9">

<div class="fixOffset2">

    <h2 id="edOverview" class="idLinkOffset">Whysaurus in Education</h2>
    
    <h4>What is Whysaurus?</h4>
    <p>Whysaurus is an intuitive platform for building reason-based arguments.<br>
    It is also free, collaborative and open-source.</p>
    
    <h4>How can Whysaurus be used in a classroom?</h4>
    <p>Whysaurus can be used to teach <strong>critical reading</strong>, <strong>argumentative writing</strong>, and essential <strong>argument skills</strong> at the college or high school level. Assignments can be collaborative or designed for individuals.<br>
    <br>
    Whysaurus can be used to implement the <strong>Common Core</strong> standards for reading, writing and digital literacy; it is particularly useful for unwrapping complex texts. You can find more details about that <a target="_blank" href="commonCore">here</a>. It can also be useful for debate, Model UN and mock-trial programs.<br>
    <br>    
    Student activity can take place in cordoned-off <a href="#edPrivacy">Private Areas</a> or in our Public Area.<br>
    <br>
    You can see example arguments on <a target="_blank" href="http://whysaurus.com">our homepage</a>.</p>

    <h4 >Who else has used Whysaurus?</h4>
    <p>Whysaurus has been used in programs ranging from writing classes at <a target="_blank" href="http://writing.berkeley.edu/">UC Berkeley</a> to <a target="_blank" href="https://www.goodjudgmentproject.com/">The Good Judgment Project</a>, an <a target="_blank" href="http://www.iarpa.gov/index.php/research-programs/ace">IARPA Ace Project</a>.</p>

    
    <h2 id="edContact" class="idLinkOffset">Contact</h2>
    
    <h4 >Who do I contact and how do I get started?</h4>
    <p>If you have more questions, or if you’re ready to get started, email joshua@whysaurus.com</p>

    
    <h2 id="edWhyWhysaurus" class="idLinkOffset">Why Whysaurus</h2>
    
    <h4 >Why teach argument in the classroom?</h4>
    <p>The abilities to form reasoned arguments and assess the relevance of evidence, veracity of claims and soundness of reasoning is crucial for college, workforce training and life in general. At the high school level, <a target="_blank" href="commonCore#ccSpecialPlaceOfArgument">the Common Core carves out a special place for argument in the standards</a>.</p>
 
    <h4 >Why use Whysaurus to teach argument?</h4>
    <p>For many argumentation assignments, Whysaurus saves time and reduces distractions - for both teachers and students. By focusing only on core claims and how they relate to each other, the bones of each argument (and any flaws they might contain) are laid bare for immediate examination. <!--No time is spent composing or reading flowery presentation.--><br> 
    <br>
    The act of creating an argument on Whysaurus forces students to distill their thoughts. Often, users find that they understand their topic less than they thought they did, which in turn leads them to research and reason more deeply.  <br>  
    <br>
    The online interface facilitates collaboration, allows users to incorporate evidence from across the web into their arguments, and gives students a chance to improve their digital literacy skills.<br>  
    <br>  
    Because Whysaurus requires that users form their own thoughts, there is little opportunity for plagiarism.</p>

    
    <h2 id="edAssignments" class="idLinkOffset">Assignments</h2>
    <br>
    <p>Below are a few kinds of assignments Whysaurus can be used for, painted in broad strokes. Key Whysaurus features are marked in <strong><em>italics</strong></em>.<br>
    <br>
    Each of these assignment ideas can be designed for students to tackle collaboratively or as individuals.</p>
   
    <h4 >Critical Reading</h4>
    <p>* Identify the main claim that an author is making - in an essay, speech, opinion column, etc - and express it as a <strong><em>point</strong></em> in Whysaurus. Express the author’s sub-claims, sub-sub-claims, etc, as <strong><em>supporting-points</strong></em>.<br> 
    <br>
    * Critique an argument by attaching <strong><em>counter-points</strong></em> and using the <strong><em>relevance</strong></em> widget to flag irrelevant claims. Counter-points can be supported by their own networks of evidence. Vote on which arguments are valid by clicking <strong><em>agree</strong></em> and <strong><em>disagree</strong></em>. Discuss what is interesting about these arguments and how they could be improved by adding <strong><em>comments</strong></em>.</p>

    <h4 >Argumentative Writing</h4>
    <p>* Prepare for a paper or debate by outlining the argument you plan to make. Identify your main claim and express it as a <em><strong>point</strong></em> in Whysaurus. Express your sub-claims, sub-sub-claims, etc, as <strong><em>supporting-points</em></strong>. Optionally, anticipate potential counter-arguments and express them as <em><strong>counter-points</strong></em>. If applicable, add <strong><em>sources</em></strong>.<br> 
    <br>
    * Respond to a reading, news event, film, work of art, etc, by forming an opinion about some specific aspect that you find interesting, (eg “If the majority of Crimeans wish to join Russia, they should be allowed to do so”, or “In <em>Do The Right Thing</em> Spike Lee employs several attributes of classical Greek dramatic structure”, etc). Express your main claim as a <em><strong>point</strong></em>, your sub- and sub-sub-claims as <em><strong>supporting-points</strong></em> and, optionally, potential counter arguments as <strong><em>counter-points</em></strong>.<br> 
    <br>
    * Critique an argument made by your classmate(s) using <em><strong>counter-points</strong></em>, <strong><em>relevance</em></strong>, <strong><em>agree/disagree</em></strong> and <em><strong>comments</strong></em>, as described above. <br>
    </p>

    <h4 >Sample Assignments</h4>
    <p>You can download sample assignments, used at UC Berkeley in a freshman-level writing course, from <a target="_blank" href="/static/media/Ys_SampleAssignments_Spring2014.pdf">this link</a>.</p>


    <h2 id="edKeyFeatures" class="idLinkOffset">Key Features</h2>
    <br>
    <p>This section goes over a few of Whysaurus’ key features, with an eye towards how they can be useful in a classroom assignment.</p>
    <h4 >Points</h4>
    <p>A point expresses a claim - these are the building blocks of arguments on Whysaurus. Each point can be supported or countered by other points, so users can drill down as deeply as they want on any argument. Each point has a character limit, which forces users to write as concisely, clearly and to-the-point as possible.</p>
    <h4 >Agree/Disagree</h4>
    <p>Users vote on the validity of a point by clicking “agree” or “disagree”. Agree/disagree voting is anonymous, which reduces social pressure to vote in tandem with one’s peers.</p>
    <h4 >Relevance</h4>
    <p>Relevance measures the relationships between points. “George Washington was a US President” and “2+2=4” should both get agrees, but if one were linked to the other as a supporting point, that link’s relevance would be low. The ability to assess the relevance of one claim to another is a critical skill - this is an important feature!</p>
    <h4 >Comments</h4>
    <p>Each point can have its own comment thread. Unlike traditional forums, comment threads on Whysaurus remain focused because each thread is attached to a single claim within a larger argument. Comments can be used for students to offer feedback to each other, and/or for instructor feedback.</p>
    <h4 >Sources</h4>
    <p>Each point can have sources - links to books, papers, articles, etc. Whysaurus is most useful when users identify the pertinent information from their sources and express it in points.</p>


    <h2 id="edGrading" class="idLinkOffset">Grading</h2>
    <br>
    <p>Here are a few Whysaurus features that can be particularly useful to instructors while grading.</p>
    <h4 >"Top Active" vs "All Active"</h4>
    <p>The "Top Active" column on the homepage lists only points that are at the "top" of their tree - points that do not support or counter any others. Meanwhile, "All Active" lists every point in the current area (either the public area, or your private area). "Top Active" can be useful to get an overview of the argument-networks that your class has created: if a class has 12 students each making one argument, there will be only 12 <em><strong>top points</strong></em>. </p>
    <h4 >Profile Pages</h4>
    <p>Every Whysaurus user has a profile page that lists all points the user has created or edited. This can be a good jumping off point from which to view the contributions of a single student.</p>
    <h4 >Point History</h4>
    <p>Because Whysaurus is a collaborative platform, points can be edited by multiple users. A point’s “history” view displays a log of every version in that point’s life and the author of each version. The history view can be a useful way to learn about the contributions of individual students to a given point. The “View History” link is displayed when a point becomes the “top point” on any given page. The design of Whysaurus’ history view is still being developed, but all of the key information is present.</p>


    <h2 id="edPrivacy" class="idLinkOffset">Privacy</h2>
    <h4 >Public Area vs Private Areas</h4>
    <p>Classroom assignments can occur in the <em><strong>Public Area</strong></em> or in a <strong><em>Private Area</em></strong>.<br> 
    <br>
    In a <em><strong>Private Area</strong></em>, only designated students and instructors have access to your content. Private Areas begin as a “blank slate” - they contain only the content created by the class. Private Areas can make grading easier, and protect student privacy when that is required.<br>
    <br>
    In the <em><strong>Public Area</strong></em>, students have the opportunity to interact with the Whysaurus community, who may even join conversations with students and begin collaborations that continue beyond the last day of class. The ability to make effective contributions to public online conversation is a new and vital skill in today’s world and assignments in our Public Area offer a chance for students to hone these skills with guidance from their instructors.</p>

    <h2 id="edHelpfulHints" class="idLinkOffset">Helpful Hints</h2>
    <br>
    <p>Here are a few hints we’ve found that can help make your Whysaurus assignments most successful.</p>
    <h4 >Plan a Classroom Demo</h4>
    <p>It may be helpful to introduce students to Whysaurus with a classroom demo. Plan a simple argument ahead of time (so you don’t need to think up clever points on the spot), and let the students jump in to suggest a few <strong><em>supporting-</em></strong> and <strong><em>counter points</em></strong>.</p> 
    <h4 >Concentrate Student Responses</h4>
    <p>When asking students to critique arguments on Whysaurus, if there is a lot of content to choose from and limited time, consider concentrating class activity on a few select points. Deeper conversations in fewer areas may be more rewarding than many smaller interactions. The points on which to focus could be selected by instructors or by students themselves.</p> 
    <h4 >Specificity is Key</h4>
    <p>Like claims in offline arguments, Whysaurus points are most successful when they are written to be as specific as possible. Students will get the most “agrees” when they can define the scope of the point they are making clearly. Vaguely written points leave more room for disputes based on fringe examples, eg “College athletes should be paid a salary” could be refined to “College athletes in programs that generate significant television revenue should be paid a salary."</p> 
    <h4 >Forming Arguments about Artistic Works</h4>
    <p>Arguments about an artistic work (a film, sculpture, book, etc) are most successful when they develop a theory about some aspect that work - rather than argue whether the work is “good” or “bad”. For example, “The film <em>Shrek</em> begins as a cross-hierarchy romance, but ends with ogres marrying each other and living in a swamp on the outskirts of civilization” will lead to a more constructive conversation than “<em>Shrek</em> is a good film” or “<em>Shrek</em> is a bad film”.</p> 
    <h4 >What Else Should Be Here?</h4>
    <p>If you have suggestions for information or ideas that would be helpful to have on this webpage, please let us know! Email joshua@whysaurus.com</p> 
    
    <h2 id="edCommonCore" class="idLinkOffset">Common Core</h2>
    <br>
    <p>For information about how Whysaurus can integrate with the Common Core Standards, click <a target="_blank" href="commonCore">here</a>.</p>   
    <br><br><br><br><br><br><br>



    
    
</div>
</div>
  
 {% endblock %}
 