{% extends "base.html" %}

{% block mainPageContent %}

<div id="content" class="fullPageText span8 offset2">
<div class="fixOffset2">
    <h2>Education</h2>
       
    <h4 >What is Whysaurus?</h4>
    <p>Whysaurus is an intuitive online platform for building rational arguments.<br>
    It is also free, collaborative and open-source.</p>
    
    <h4 >How can Whysaurus be used in a classroom?</h4>
    <p>Whysaurus can be used to teach <strong>critical reading</strong>, <strong>argumentative writing</strong> and <strong>digital literacy</strong> at the college or high school level. Assignments can be collaborative or designed for individuals.<br>
    <br>
    Whysaurus can be used to implement the <strong>Common Core</strong> standards for reading, writing and digital literacy.<!--; you can find more details about that here.--> It can also be useful for debate, Model UN and mock-trial programs.<br>
    <br>    
    Student activity can take place in cordoned-off “Private Areas” or in our “Public Area”.</p>

    <h4 >Who else has used Whysaurus?</h4>
    <p>Whysaurus has been used in programs ranging from writing classes at <a target="_blank" href="http://writing.berkeley.edu/">UC Berkeley</a> to the <a target="_blank" href="https://www.goodjudgmentproject.com/">Good Judgment Project</a>, an <a target="_blank" href="http://www.iarpa.gov/index.php/research-programs/ace">IARPA Ace Project</a>.</p>

    <h4 >Who do I contact, if I’m an educator?</h4>
    <p>If you have more questions, or if you’re ready to get started, email joshua@whysaurus.com</p>
 
    
</div>
</div>
  
 {% endblock %}
 