
<div class="row" id="explanationRowHomepage"> 
        <!-- Desktops: illustrations in a horizontal row: -->
        <div class="explanationsCentered hidden-phone hidden-xs">
        <div class="explanationBlock noLeftMargin">
            <div class="explanationTextCentered">
                <strong>Build a Library of the Best Arguments</strong> for any Idea
                </div>      
                <img class="explanationImageCentered" src="/static/img/homepage_illustration4_smaller.png"/></a>            
            </div>
        <div class="explanationBlock">        
            <div class="explanationTextCentered noLeftMargin">
                <strong>Make Rational Arguments</strong> Point-by-Point
            </div>
            <img class="explanationImageCentered" src="/static/img/homepage_illustration1_smaller.png"/></a>
        </div>
        <div class="explanationBlock">        
            <div class="explanationTextCentered lessWidth">
                <strong>Rate and improve</strong> Points collaboratively
            </div>
            <img class="explanationImageCentered" src="/static/img/homepage_illustration2_smaller.png"/></a>
        </div>
        <div class="explanationBlock">        
            <div class="explanationTextCentered lessWidth">
                <strong>Re-use</strong> Points to build new Arguments
            </div>      
            <img class="explanationImageCentered" src="/static/img/homepage_illustration3_smaller.png"/></a>            
        </div>
  
        </div>

        <!-- Mobile devices: illustrations in a carousel -->        
        <div id="explanationCarousel" class="carousel slide visible-phone visible-xs" data-ride="carousel">   
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="explanationTextCentered">
                        <strong>Build a Library of the Best Arguments</strong> for any Idea
                    </div>
                    <div class="">
                        <img class="explanationImageCentered" src="/static/img/homepage_illustration4_smaller.png"/>
                    </div>
                </div> 
                <div class="item">
                    <div class="explanationTextCentered">
                        <strong>Make Rational Arguments</strong> Point-by-Point
                    </div>
                    <div class="">
                        <img class="explanationImageCentered" src="/static/img/homepage_illustration1_smaller.png"/>
                    </div>
                </div>
                <div class="item">
                    <div class="explanationTextCentered lessWidth">
                        <strong>Rate and improve</strong> Points collaboratively
                    </div>
                    <div class="">
                        <img class="explanationImageCentered" src="/static/img/homepage_illustration2_smaller.png"/>
                    </div>
                </div>                            
                <div class="item">
                    <div class="explanationTextCentered lessWidth">
                        <strong>Re-use</strong> Points to build new Arguments
                    </div>
                    <div class="">
                        <img class="explanationImageCentered" src="/static/img/homepage_illustration3_smaller.png"/>
                    </div>
                </div> 

            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#explanationCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left glyphGrey"></span>
            </a>
            <a class="right carousel-control" href="#explanationCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right glyphGrey"></span>
            </a>
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#explanationCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#explanationCarousel" data-slide-to="1"></li>
                <li data-target="#explanationCarousel" data-slide-to="2"></li>
                <li data-target="#explanationCarousel" data-slide-to="3"></li>
            </ol> 
        </div>
    <script>
        $('.carousel').carousel({
            <!-- Carousel speed -->
            interval: 4200
        })
    </script>        
</div>