{% extends "base.html" %}

{% block mainPageContent %}

<div id="content">

{% include "explanationIllustrations.html" %}


<div id="helpHeading" class="fullPageText span8 offset2">
    <div class="fixOffset2">
<!--
    <h4>Table Of Contents</h4>
    <ol>
    <li><a id="basicsLink" href="#basics">What is Whysaurus?</a></li>
    <li><a id="nutsAndBoltsLink" href="#nutsAndBolts">Nuts and Bolts</a></li>
    <li><a id="bestLink" href="#best">Best Practices</a></li>
    </ol>
-->
     <h2 id="basics" class="h2">What Is Whysaurus?</h2>
<br>   
<br> 
<p><strong>Whysaurus</strong> is an intuitive platform for building evidence-based arguments.<br>
It is also free, collaborative and open-source.<br>
<br>
The problem we’re addressing is that argument doesn’t work well on the internet: the structure of forums and comment threads naturally lend themselves to vitriol and incoherence. This is bad for users and bad for society. Thoughtful, evidence-based argument is how we collectively figure out answers to difficult problems.<br>
<br>
So we are creating tools to make productive argument easier, for schools and the internet broadly, and improve the way we - the public - debate important questions facing our society.</p>

<h4>How Does it Work?</h4>                
<strong>Whysaurus is made of points</strong>
<p>Whysaurus helps you explain ideas by dividing them into bite-size points. 
Each point can be supported or countered by other points, as well as rated and commented.</p>

<strong>Points are reusable</strong>
<p>  When you create a good explanation, others can use 
it to support or counter another Whysaurus point.  
When adding a supporting or counter point, you can search the system to see what's 
already out there.</p>

<strong>Creation is collaborative</strong>
<p>Users create and refine points together, to arrive 
at the best explanation over time. Any user can edit any point, and all work is saved in 
the history, so that it is never lost and can be recovered.</p>

<strong>A repository of explanations</strong>
<p>Over time, we hope that Whysaurus will collect convincing arguments for positions and opinions on many subjects.  
Together, we can create a reference repository of the best explanations accessible to all.
</p>

<h4>What is your Mission?</h4>
<p>Whysaurus seeks to connect people who are passionate about reason, 
    to create tools for illustrating the relationships between ideas, 
    to share the world's best explanations and to help us all to organize our thoughts. 
    For more about what we believe, check out our <a href="https://www.whysaurus.com/manifesto" target="_blank">Manifesto</a>
</p>

<h4>What can I use Whysaurus for?</h4>
<strong>Collaborate</strong>
<p>When working with a team, the Whysaurus format allows for collaboration: edit as a team, 
vote on what works and what doesn't, and reuse already completed work by linking it into your tree.</p>

<strong>Make Decisions</strong>
<p>Whysaurus can be used to decide a difficult question by building one explanation 
for the pros and another for the cons.  When you present your recommendations to a 
decision-maker, they can navigate the tree and see the reasoning behind your explanation.</p>

<strong>Explain complex concepts</strong>
<p>Whether you are looking to consider great philosophical questions or the latest political conundrum, a 
Whysaurus point can help simplify, clarify and get to the heart of the matter. </p>

<strong>Publish your opinion</strong>
<p>The internet is moving away from the essay or article format.  
Why not illustrate  your thesis as a tree of Whysaurus points?  
There is no tl;dr, your readers can focus on the point in your argument that 
is most of interest, and can help improve it.</p>

<strong>Make a convincing argument</strong>
<p>Sometimes you just need to argue on the internet.  You may want to convince your
friends or a recalcitrant family member of an idea you believe in.  
With Whysaurus, your explanation remains online to be reused, and can 
be refined and added to by others.</p>

<!-- header is obscuring id links so I'm being hacky and linking to the previous id -->
<h4 id="PointStrengthLink">How can I make Whysaurus better?</h4>
<ul>
<li>Voice your opinion on points by clicking agree or disagree</li>
<!--<li>Award ribbons to points that you believe are well-made</li>-->
<li>Make your own points</li>
<li>Edit points made by others if you see ways to make them better</li>
<li>Recommend Whysaurus to your friends</li>
<li><a href="contact" target="_blank">Send us a suggestion</a> for improving the site</li>
<li>Contribute code - Whysaurus is open-source. If you're interested, let us know.</li>
</ul>

<h4 id="WhatMakesAPointStrong">What makes a point strong?</h4>
<ul>
<li>A strong point is specific, concise and connected to a set of strong 
supporting points, thus making it convincing.</li>
<li>A strong point is supported by linked sources.</li>
<li>A strong point is, if possible, a standalone statement, phrased to be understood in any context</li>
</ul>

<h4>What makes a point weak?</h4>
A point can be weak for a variety of reasons. It might be:
<ul>
<li>Vague or unclear without further explanation </li>
<li>Based on insufficient or irrelevant supporting points </li>
<li>Not supported by sources</li>
</ul>
<!--
<h4>Opinions and Subjective Points</h4>
Whysaurus can be used to illustrate opinions and subjective ideas. The key is to make sure that you create a sufficient body of supporting points to prove your idea.
-->
<h4>Who owns the content that users create?</h4>
The content that users create on Whysaurus is and always will be available to the public. It is currently distributed under the Creative Commons Attribution-ShareAlike license, the same license used for Wikipedia content. 

<h4>How is Whysaurus different than Wikipedia?</h4>
Wikipedia collects facts and Whysaurus is designed for opinions and topics of debate - grey areas where it's unclear what is true and what isn't. By breaking complex ideas down into a series of bite-size points, Whysaurus helps us navigate the murky waters of uncertainty.

<h4>What's up with with dinosaurs?</h4>
Dinosaurs are awesome. 



<h2 id="nutsAndBolts">Nuts and Bolts</h2>

<h4>How is a point's score calculated?</h4>
<p>A point's score equals the number of its agrees minus the number of its disagrees. 
In the future the scores of supporting points may have an affect on this algorithm as well.</p>

<h4>Why is there a Relevance rating in addition to the Agree/Disagree rating?</h4>
The relevance score allows us to find the most important ideas quickly and easy.
For example, if the point "The Earth's atmosphere is getting warmer" were supported by "It snows often in Finland",
we might agree with both points, but mark this particular link with a low relevance.<br/><br/>

Every link between two points has a unique relevance score.

<!--
<h4>How is the color of the score determined?</h4>
The color is based solely on the value of the score; it allows the value of a group of points to be surmised at a glance. 
The color system is based on the traffic light: green is strong and red is weak. 
The current thresholds are:The current thresholds are:<br>
<br>
3 and higher = <span class="greenScore">green</span><br>
-2 to 2 = <span class="yellowScore">yellow</span><br>
-3 and lower = <span class="redScore">red</span><br>
<br>
Whysaurus is a work-in-progress, so expect these thresholds to change as we improve the site. 
This means that the score colors of points may change occasionally as we experiment.
-->
<h4>Can a point be part of multiple explanations?</h4>
Yes! For example, a point about wind might feature in one explanation about kites, one about weather and another about sailboats. 

<h4>Why are there limits on the length of the titles of points?</h4>
Shorter point titles are easier to understand. Also, it's easier to identify strengths (and weaknesses) in an explanation that is 
divided into many bite-sized points. Short titles can also be shared on twitter without getting truncated. 
If your title doesn't fit inside the limit, consider dividing the idea into several smaller points, or just put 
some of the text you had in mind into the body of the point. 

<h4>Is it possible to unlink or disconnect a Supporting or Counter Point</h4>
Yes. There is a control do this at the bottom of the Relevance widget, which you can get to by clicking on the "Relevance" tab of
any Supporting or Counter Point.

<!--
<h4>Why do you have two rating systems - agree/disagree and the blue ribbons?</h4>
Whether or not one agrees with a point and whether or not a point is well-made are two different questions. 
A user who can disagree with a point while also awarding it a blue-ribbon embodies the spirit we hope to foster on Whysaurus. 
-->
<h2 id="best">Best Practices</a></h2>
<h4>Goals for this section</h4>
This goal of this section is to collect guidelines for how Whysaurus can be used most effectively. 
It is a work-in-progress. If you have a suggestion for how to improve this page we'd love to hear it! 
Leave us a note <a href="contact" target="_blank">here</a>.

<h4>Try to keep each point as simple as you can</h4>
A great way to explain a complex idea is to divide it into a series of easily digestible bits. If your point is complex, see if you can divide it into a group of simpler points supporting each other.

<h4>Try to write points so that they can be used in multiple explanations</h4>
One of the fun things about Whysaurus is how it allows us to see how some fundamental thoughts are part of many different big ideas. 
If your point is written so that it can "stand alone" - that is it doesn't require the context 
of other points in order to be understood - then other users will be more likely to link to it in their own explanations. 

<h4>Note your sources (and illustrate them!)</h4>
Readers are more likely to agree with your point if it has good sources. Sources can be books, papers, studies or other websites.

<h4>Be Specific</h4>
<p>Try to make your points and your comments as specific as possible. Whether you agree or disagree, always tells us WHY.</p>
<!--
For example, rather than writing<br>
<em>This point goes overboard</em><br>
instead try:<br>
<em>This point is overreaching. It might true in some cases, but there is not enough evidence in the supporting points 
to prove that the statement is true all of the time.</em>
-->
<h2 id="best">Community rules</a></h2>

<h4>Tone</h4>
Whysaurus is a civil community. Please act respectfully and do your best to make the points you encounter stronger.

<h4>Commenting: Always comment on content, not people</h4>
Critical comments should always critique a Whysaurus point but never a Whysaurus user. Comments that break this rule will be removed.

<h4>Contest semantics only when intent is truly unclear</h4>
When a grammatical error or hasty choice of words prevents a clear interpretation of a point's intent, work together with your fellow users to iron that out. But if the intent of a point can be understood, there's no need to call in the semantics police. 

<h2 id="license">License</a></h2>
<br>
<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />
<br>
This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.

<br>
<br>
<h4>What else should be on this page?</h4>
Please send us a suggestion <a href="contact" target="_blank">here</a>.
<br>
<br>
<br>
<br>
<br>
</div>
</div>
</div>
<script>

function goToAnchor(targetAnchor) {
  var offset = $("#" + targetAnchor).offset();
  var scrollto = offset.top - 60; // fixed_top_bar_height = 52px
  $('html, body').animate({scrollTop:scrollto}, 0);
};

$(document).ready(function() {

  $("#basicsLink").click(function() {
    goToAnchor("basics");
    return false;
  });
  
  $("#nutsAndBoltsLink").click(function() {
    goToAnchor("nutsAndBolts");  
    return false;
  });
  
  $("#bestLink").click(function() {
    goToAnchor("best");
    return false;
  });  
});
              


</script>

{% endblock %}


