{% extends "base.html" %}

{% block mainPageContent %}

<div id="content" class="fullPageText">

<h2 id="faqTop" class="h2">FAQ</h2>
<br>   
<br> 
<h4 id="faqWhatIsWhysaurus">What Is Whysaurus?</h4>    
<p><strong>Whysaurus</strong> is a place to enjoy a good argument, meet smart folks with new perspectives, and find the best arguments.</p>
<p>It’s designed to make online argument fun.</p>

<h4 id="faqWhyArgument">Why Argument?</h4>                
<p>Argument stinks online and it’s getting worse offline.</p>
<p>This is bad — and the stakes are high:</p>
<p>Argument, based in evidence, is how we figure out answers to hard problems. The internet is our new public square, and for democracy to function, we desperately need a platform that cultivates good argument.</p>
<p>For more, check out our <a href="/manifesto">Manifesto</a>.</p>

<h4 id="faqWhatsTheGoal">What’s the goal?</h4>                
<p>To create a brilliant community and work together to create <em>The Library of The Best Arguments for Every Idea</em>.</p>

<h4 id="faqWhatAboutTheTrolls">What about the trolls?</h4>                
<p>Whysaurus' design uses principles from "structured argument" — so <a target="_blank" href="https://www.whysaurus.com/claim/Filtering_trolling_badfaith_contributions_by_malicious_users_will_be_easier_on_Whysaurus_than_it_is_in_traditional_comment_threads?expanded=Filtering_trolling_badfaith_contributions_by_malicious_users_will_be_easier_on_Whysaurus_than_it_is_in_traditional_comment_threads">filtering trolling on Whysaurus will be easier than it is on traditional forums.</a></p>

<h4 id="faqWhatIsEvidence">What is Evidence in Whysaurus?</h4>                
<p>Evidence on Whysaurus is a chain of bite-sized claims.</p>

<h4 id="faqWhatAreClaims">What are Claims in Whysaurus?</h4>
<p>Claims can be:</p>
<ul>
  <li><span class="bullet">•</span>Supported or countered by other claims </li> 
  <li><span class="bullet">•</span>Rated with agree/disagree</li>
  <li><span class="bullet">•</span>Re-used (along with their networks of evidence!)</li>
</ul>

<h4 id="faqWhatAreSources">What are Sources in Whysaurus?</h4>
<p>Each claim can link to sources. But remember — IRL and on Whysaurus — arguments work best when you explain the best claims made by your sources. </p>
<p>“Because they said so” doesn’t work when we don’t agree on who to trust. Plus, even the best sources are wrong sometimes.</p> 
<p>The good news is that we can all get behind “show me the evidence!”</p>

<h4 id="faqFacts">I want to state a “fact” — how do I do that in Whysaurus?</h4>
<p>A fact is a claim with real strong evidence. So make your claim and back it up! No claims are sacred cows — <a target="_blank" href="https://www.whysaurus.com/claim/Whysaurus_users_must_have_the_right_to_argue_against_any_claim?expanded=Whysaurus_users_must_have_the_right_to_argue_against_any_claim">we must protect the right to argue against any claim.</a> </p>

<h4 id="faqHowAreClaimsSorted">How are Claims scored in Whysaurus?</h4>
<p>A claim’s score is based on:</p>
<ul>
<li><span class="bullet">•</span>The scores of its Evidence (multiplied by Relevance)</li>
<li><span class="bullet">•</span>Agrees and Disagrees</li>
<li><span class="bullet">•</span>Sources</li>
</ul>
<p>Supporting evidence makes scores go up; counter evidence makes scores go down. The algorithm is a work-in-progress. Currently it only “looks” one level down. In the future, it will be possible to defend a claim by attacking its counter points! <a target="_blank" href="https://www.whysaurus.com/claim/Filtering_trolling_badfaith_contributions_by_malicious_users_will_be_easier_on_Whysaurus_than_it_is_in_traditional_comment_threads?expanded=Filtering_trolling_badfaith_contributions_by_malicious_users_will_be_easier_on_Whysaurus_than_it_is_in_traditional_comment_threads">And yes, we've got plans for trolls</a>.
</p>

<h4 id="faqHowDoesRelevanceImpactScores">How does Relevance impact scores?</h4>
<p>Relevance impacts scoring dramatically. For example:</p> 
<p>a +10 Supporting claim with 20% Relevance adds only +2 to the claim above it (10 &#xd7; 20% = 2).</p> 
<p>When a piece of evidence is 0% Relevant, it has no effect on scores.</p>

<h4 id="faqWhatIsRelevance" class="offsetForJump">What is Relevance and how’s it differ from Agree/Disagree?</h4>
<p>Relevance is one of the most powerful weapons in Whysaurus.</p>
<p>The links between claim are rated with Relevance. If someone claims “Tom Brady is a cheater” and supports that with “Star Wars stole ideas from Asimov’s Foundation series”, you might click “agree” on both, but rate Relevance as 0%.
</p>
<p>Claims with low relevance are hidden by default.</p>

<h4 id="faqWhatIfTheScoreIsWrong">What if the score of a claim is wrong?</h4>
<p>Set the record straight! Add evidence or counter evidence. Vote on relevance and click agree/ disagree. Share the argument with friends and ask them to do the same!</p>

<h4 id="faqWhyShouldITrustTheCrowd">Why should I trust the crowd when it comes to truth?
</h4>
<p>So far, we’ve found that asking for evidence makes folks more likely to argue in good faith. Research by some really smart friends of ours has shown that <a target="_blank" href="https://www.whysaurus.com/claim/Asking_people_to_explain_problems_in_detail_leads_to_more_moderate_attitudes_towards_those_problems?expanded=Asking_people_to_explain_problems_in_detail_leads_to_more_moderate_attitudes_towards_those_problems">when you ask people to explain a problem, they take more moderate positions than they would otherwise.</a> 
</p>
<p>That said, if we see crowds of users clicking agree/disagree on iffy claims, we reserve the right to ask for evidence before tallying those votes. 
</p>

<h4 id="faqHowWillWePreventOverrun">How will Whysaurus prevent arguments from being overrun by trolls, bots, demons and armies of special interest lemmings?
</h4>
<p>We can compare suspicious activity to known humans acting in good faith. Our estimations will get better as we grow — so help us slay trolls by adding your voice to arguments you dig!
</p>

<h4 id="faqHowIsEvidenceSorted">How is Evidence sorted?
</h4>
<p>By Relevance. So the most relevant claims rise to the top. In the case of ties, we look at scores. 
</p>

<h4 id="faqReusableAndCollaborative">Why are claims reusable and why is Whysaurus collaborative?
</h4>
<p>So you can build good arguments faster!</p>
<p>Imagine:</p>
<ul>
  <li>1.  Gus argues “No one ever died from overdosing on marijuana” and adds evidence. </li>
  <li>2.  Later, Susannah argues “Marijuana is safer than alcohol” and links to Gus’s claim.</li>
  <li>3.  All of Gus’ supporting evidence comes in automatically.</li>
</ul>
<p>Why should we start from scratch when we can stand on the shoulders of the best work thats been done so far? </p>

<h4 id="faqHowDoesClarificationWork">How does Clarification work in Whysaurus?
</h4>
<p>Click the little speech bubble icon in the byline. That opens the Meta channel, where you can hammer out the best phrasing. 
</p>
<p>If you don’t agree with how other users are framing a discussion, start your own argument!
</p>

<br>
<br>
<br>
<h2 id="faqBestPractices">Best Practices</a></h2>
<br>  
 
<h4 id="faqCommunityRules">Community rules
</h4>
<ul>
  <li><span class="bullet">•</span>This is a civil community — be respectful.</li>
  <li><span class="bullet">•</span>No claims about other users. </li>
  <li><span class="bullet">•</span>Have fun!</li>
</ul>

<h4 id="faqDivideBigIdeas">Divide big ideas into multiple bite-sized claims</h4>
<p>Make it easy for everyone to agree with the agreeable parts of your argument, and zero in on the juicy stuff — the places where there’s conflict. Plus, your argument score will grow higher faster with many short claims than it would with a few bloated ones.
</p>
<h4 id="faqBeSpecific">Be Specific </h4>
<p>Make sure everyone knows what you mean.</p>
<h4 id="faqUseSimpleWorks">Use simple words</h4>
<p>Only use big words when shorter synonyms don’t exist. </p>
<h4 id="faqBeConcise">Be Concise
</h4>
<p>Life is short.
</p>
<h4 id="faqWriteClaimsSoTheyCanBeReused">Write claims so they can be re-used in multiple arguments (when you can)
</h4>
<p>Certain fundamental claims contribute to many big ideas. If your claim is written to "stand alone" — i.e. it doesn't require the context of other claims to be understood —  then other users can link to it in their own arguments.
</p>
<h4 id="faqContestSemanticsOnlyWhen">Contest semantics only when the author’s intent is truly unclear</h4>
<p>When a grammatical error or hasty word choice prevents a clear interpretation of a user’s intent, use the Meta section to iron it out. But if the intent of a claim can be understood by a reasonable person, there's no need to call in the semantics police.
</p>

<br>
<br>
<br>
<h2 id="faqAppendix">Appendix</a></h2>
<br>  

<h4 id="faqDinosaurs">What's up with with dinosaurs?</h4>
<p>Dinosaurs are awesome.</p> 

<h4 id="faqWhoMadeWhysaurus">Who made Whysaurus?</h4>
<p>Whysaurus was founded by Joshua Frankel, an artist and designer, and Aaron Lifshin, a software engineer.</p>

<h4 id="faqFeedback">I’ve got an idea that could make Whysaurus better, how can I share it with you?</h4>
<p><a href="contact" target="_blank">Contact us here</a>. Bonus points if you create a Whysaurus argument to back-up your suggestion!</p>

<br>
<br>
<br>
<br>
<br>
</div>

<!-- not being used at the moment -->
<script>
function goToAnchor(targetAnchor) {
  var offset = $("#" + targetAnchor).offset();
  var scrollto = offset.top - 60; // fixed_top_bar_height = 52px
  $('html, body').animate({scrollTop:scrollto}, 0);
};

$(document).ready(function() {

  $("#basicsLink").click(function() {
    goToAnchor("basics");
    return false;
  });
  
  $("#nutsAndBoltsLink").click(function() {
    goToAnchor("nutsAndBolts");  
    return false;
  });
  
  $("#bestLink").click(function() {
    goToAnchor("best");
    return false;
  });  
});           
</script>

{% endblock %}

