{% extends "twoColumnLayout.html" %}

{% block headBlock %}  

{% include "explanationIllustrations.html" %}

    <div id="oneLinePointCreate" class="row-fluid">
        <div class="newPointCall">
            <div class="newPointCallTitle">Make a Statement You Want to Prove</div>        
            <div class="newPointInputRow">   
                <div class="newPointInputRowFieldArea pull-left">
                    <input id="newPointTitle" class="mainPageInput" placeholder="Write your Point here..."/>
                    <div id="newPointTitle_charNum" class="newPointCharNum pull-right">140</div>
                </div>
                <div class="newPointInputRowButtonArea">
                    <a class="btn btn-primary" id="mainPagePublish">Publish to Library</a>
                </div>                
            </div>

        </div>
    </div>
    


{% endblock %}

{% block leftColumnContent %}  
    {% include 'mainPageLeftColumn.html' %}        
{% endblock %}

{% block rightColumnContent %}
    {% include 'mainPageRightColumn.html' %}       
{% endblock %}
