{% extends "twoColumnLayout.html" %}

{% block headBlock %}  

    <div class="row" id="explanationRowHomepage">
        <div class="explanationsCentered">
        <div class="explanationBlock noLeftMargin">
            <div class="explanationTextCentered">
                Points are supported by other points:
            </div>
            <img class="explanationImageCentered cheatImageLeft" src="/static/img/homepage_illustration1_center.png"/></a>
        </div>
        <div class="explanationBlock">        
            <div class="explanationTextCentered">
                Points can be part of multiple explanations:
            </div>
            <img class="explanationImageCentered" src="/static/img/homepage_illustration2_center.png"/></a>
        </div>
        <div class="explanationBlock">        
            <div class="explanationTextCentered">
                Making Points is collaborative:
            </div>      
            <img class="explanationImageCentered" src="/static/img/homepage_illustration3_center.png"/></a>            
        </div>
        </div>
    </div>


    

    <div id="oneLinePointCreate" class="row-fluid">
        <div class="columnHeading span12 newPointCall">
            MAKE A STATEMENT YOU WANT TO PROVE <span id="newPointTitle_charNum" class="pull-right">140</span>
        </div>
        <div class="newPointInputRow span12">
            <input id="newPointTitle" class="mainPageInput"/>
            <a class="btn btn-primary pull-right" id="mainPagePublish">Publish to Library</a>
        </div>
    </div>

{% endblock %}

{% block leftColumnContent %}  
    {% include 'mainPageLeftColumn.html' %}        
{% endblock %}

{% block rightColumnContent %}
    {% include 'mainPageRightColumn.html' %}       
{% endblock %}
