{% extends "twoColumnLayout.html" %}

{% block headBlock %}  

    <div class="row" id="explanationRowHomepage"> 
        <!--<div class="explanationTitle">Help Build a Library of the Best Arguments for Any Idea</div>   
        <div class="homepageCallsToAction">
            Make Points
        </div>-->

        <div class="explanationsCentered">
        <div class="explanationBlock">
            <div class="explanationTextCentered">
                <strong>Make Rational Arguments</strong> Point-by-Point
            </div>
            <img class="explanationImageCentered" src="/static/img/homepage_illustration1_smaller.png"/></a>
        </div>
        <div class="explanationBlock">        
            <div class="explanationTextCentered">
                <strong>Rate and improve</strong> Points collaboratively
            </div>
            <img class="explanationImageCentered" src="/static/img/homepage_illustration2_smaller.png"/></a>
        </div>
        <div class="explanationBlock">        
            <div class="explanationTextCentered">
                <strong>Re-use</strong> Points to build new Arguments
            </div>      
            <img class="explanationImageCentered" src="/static/img/homepage_illustration3_smaller.png"/></a>            
        </div>
         <div class="explanationBlock">        
            <div class="explanationTextCentered">
                Build a <strong>Library of The Best Arguments for any Idea</strong>
            </div>      
            <img class="explanationImageCentered" src="/static/img/homepage_illustration4_smaller.png"/></a>            
        </div>
        </div>
        
    </div>


    <div id="oneLinePointCreate" class="row-fluid">
        <div class="newPointCall">
            <div class="newPointCallTitle">Make a Statement You Want to Prove</div>        
            <div class="newPointInputRow">   
                <div class="newPointInputRowFieldArea pull-left">
                    <input id="newPointTitle" class="mainPageInput" placeholder="Write your Point here..."/>
                    <div id="newPointTitle_charNum" class="newPointCharNum pull-right">140</div>
                </div>
                <div class="newPointInputRowButtonArea">
                    <a class="btn btn-primary" id="mainPagePublish">Publish to Library</a>
                </div>                
            </div>

        </div>
    </div>
    


{% endblock %}

{% block leftColumnContent %}  
    {% include 'mainPageLeftColumn.html' %}        
{% endblock %}

{% block rightColumnContent %}
    {% include 'mainPageRightColumn.html' %}       
{% endblock %}
