<div class="row-fluid">
        <img class="arrowImageCurved" src="/static/img/arrow_open_blank.png"/>
        <p class="arrowText">
        {% if linkType == 'supporting' %}
            Why it's TRUE
        {% else %}   
            Why it's FALSE
        {% endif %}
        </p>        
</div>
  
<div class="{% if linkedPoints %} {% else %} hide {% endif %}" id="{{linkType}}_nonzeroPoints">
	{% if linkedPoints %}            
		{% for point in linkedPoints %}
            {% with linkType as linkType %}
                {% include 'linkPoint.html' %} 
            {% endwith %}
		{% endfor %}
	{% endif %}
</div>

<!-- footer for lists with 1 more point.  These are always present, and shown if a point is added -->    
<div id="{{linkType}}_nonzeroPointsFooter"  class="pointColumnMenuArea {% if linkedPoints %} {% else %} hide {% endif %}">
    	<div id="{{linkType}}_numberOfPoints" class="pointListTitle pointListTitleBorder">
            Got a reason why the top point is {% if linkType == 'supporting'%}true{% else %}{% if linkType == 'counter' %}false{% endif %}{% endif %}?
        </div>
		<div id="{{linkType}}_pointActions" class="row-fluid">
			<div class="dropdown">
				<button id="{{linkType}}_addPointWhenNonZero" name="{{linkType}}_addPointWhenNonZero"
					data-toggle="dropdown"
					class="btn dropdown-toggle pointActionButton">
					Add a {{linkType|title}} Point
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="{{linkType}}_addPointWhenNonZero">
					<li>
						<a tabindex="-1" aria-labelledby="{{linkType}}_addPointWhenNonZero"
							name="createLinked" data-linktype="{{linkType}}"
							alt="Make a New {{linkType}} Point"
							>Make a new point
						</a>
				  	</li>
					<li>
						<a tabindex="-1" aria-labelledby="{{linkType}}_addPointWhenNonZero" 
							name="{{linkType}}_searchForPoint" alt="Search for a {{linkType|title}} Point"
							data-linktype="{{linkType}}"                    
							>Search for an existing point
						</a>
					</li>
					{% if recentlyViewedPoints %}
						<li class="dropdown-submenu"><a tabindex="-1" >Use a Recently viewed point</a>
							<ul class="dropdown-menu">
							  {% for RVpoint in recentlyViewedPoints %}
							      <li><a tabindex="-1" aria-labelledby="add{{linkType}}PointWhenNonZero" 
							      name="selectPoint_menu_{{RVpoint.url}}" 
							      alt="Use {{ RVpoint.title|escape }}" 
							      data-pointurl="{{RVpoint.url}}"
							      data-linktype="{{linkType}}"
							      >{{RVpoint.title|escape}}</a></li>                                        
							  {% endfor %}
							</ul>
						</li>
					{% else %}
					  <li class="dropdown-submenu disabled"><a tabindex="-1" >
						  Use a Recently viewed point
					  </a>                             
					{% endif %}                              
				</ul>				
			</div>
		</div>
</div>    



<!-- zero point areas are below here.  These are always present, and shown if the last point is unlinked -->
<div id="{{linkType}}_zeroPoints" class="{% if linkedPoints %}hide{%else%}{% endif %}">
<div>
	<div id="{{linkType}}_numberOfPoints" class="pointListTitle pointListTitleZero">
		Got a reason why this is {% if linkType == 'supporting'%}true{% else %}{% if linkType == 'counter' %}false{% endif %}{% endif %}?
	</div>
	<div id="{{linkType}}_pointActionsWhenZero" class="row-fluid">
		<div class="dropdown">
		    <button name="{{linkType}}_linkPoint" class="btn dropdown-toggle pointActionButton" 
		    id="{{linkType}}_addPointWhenZero" data-toggle="dropdown">
				Add a {{linkType|title}} Point
		    </button>                    
		    <ul class="dropdown-menu" role="menu" aria-labelledby="{{linkType}}_addPointWhenZero">
		      <li><a tabindex="-1" aria-labelledby="{{linkType}}_addPointWhenZero" 
		        name="createLinked" data-linktype="{{linkType}}" alt="Make a New {{linkType|title}} Point"
		        >Make a new point</a></li>
		      <li><a tabindex="-1" aria-labelledby="{{linkType}}_addPointWhenZero" 
		        name="{{linkType}}_searchForPoint" alt="Search for a {{linkType|title}} Point"
		        data-linktype="{{linkType}}"                         
		        >Search for an existing point</a>
		      </li>
		      {% if recentlyViewedPoints %}
		        <li class="dropdown-submenu"><a tabindex="-1" >Use a Recently viewed point</a>
		          <ul class="dropdown-menu">
		            {% for RVpoint in recentlyViewedPoints %}
		                <li><a tabindex="-1" aria-labelledby="{{linkType}}_addPointWhenZero" 
		                name="selectPoint_menu_{{RVpoint.url}}" 
		                alt="Use {{ RVpoint.title|escape }}" 
		                data-pointurl="{{RVpoint.url}}"
		                data-linktype="{{linkType}}"
		                >{{RVpoint.title|escape}}</a></li>                                        
		            {% endfor %}
		          </ul>
		        </li>
		      {% else %}
		        <li class="dropdown-submenu disabled"><a tabindex="-1" >Use a Recently viewed point</a>                             
		      {% endif %}                              
		    </ul>			
		</div>
	</div>

</div>
</div>