<div class="row">
    <div class="span3 explanationColumn">
        <div class="valueProp">Prove Your Point</div>
        <div class="valueProp">Collaborate with Thinkers</div>
        <div class="valueProp pushDown18px">Build a Library of Ideas</div>
        
        <div class="explanationText ">
            Points are supported <br>by other points.
        </div>
        <img class="explanationImage" src="/static/img/homepage_illustration1.png"/></a>
        <div class="explanationText">
            Points can be part of <br>multiple explanations.
        </div>
        <img class="explanationImage" src="/static/img/homepage_illustration2.png"/></a>                
        <div class="explanationText">
            Making Points is <br>collaborative.
        </div>
        
        <img class="explanationImage" src="/static/img/homepage_illustration3.png"/></a>            
        <div class="explanationText">
            Reason has returned <br>to the internet.
        </div>
    </div>
    
	<div class="span5">
		{% if featuredPoint %}
			<div class="columnHeading">
				FEATURED POINT
			</div>
			{% with featuredPoint as point %}
				{% include 'pointBox.html' %}            
			{% endwith %}
		{% endif %}
		<div id='mainPageMainArea' class="columnHeading ">
		      <button class="tab selectedTab" id="recentActivity">
		          RECENT ACTIVITY
		      </button>
		      <button class="tab" id="editorsPicks">
		          EDITORS PICKS
		      </button>
		      <button class="tab" id="mostAgrees">
		          MOST AGREES
		      </button>
		      <button class="tab" id="mostViews">
		          MOST VIEWS
		      </button>
		</div>
		<div id="recentActivityArea" class="tabbedArea">
			{% for point in recentlyActive %}
			   {% include 'pointBox.html' %}            
			{% endfor %}               
		</div>
		<div id="editorsPicksArea" class="tabbedArea"></div>
		<div id="mostAgreesArea" class="tabbedArea"></div>
		<div id="mostViewsArea" class="tabbedArea"></div>
	</div>
</div>