
<div class="row">        
	<div class="span5">
		{% if featuredPoint %}
			<div class="columnHeading">
				FEATURED POINT
			</div>
			{% with featuredPoint as point %}
				{% include 'pointBox.html' %}            
			{% endwith %}
		{% endif %}
		<div id='mainPageMainArea' class="columnHeading ">
		      <button class="tab selectedTab" id="recentActivity">
		          RECENT ACTIVITY
		      </button>
		      <button class="tab" id="editorsPicks">
		          EDITORS PICKS
		      </button>
		      <button class="tab" id="mostAgrees">
		          MOST AGREES
		      </button>
		      <button class="tab" id="mostViews">
		          MOST VIEWS
		      </button>
		</div>
		<div id="recentActivityArea" class="tabbedArea">
			{% for point in recentlyActive %}
			   {% include 'pointBox.html' %}            
			{% endfor %}               
		</div>
		<div id="editorsPicksArea" class="tabbedArea"></div>
		<div id="mostAgreesArea" class="tabbedArea"></div>
		<div id="mostViewsArea" class="tabbedArea"></div>
	</div>
</div>