
<div class="row">        
	<!--<div class="span8 offset2">-->
    <!--<div id="homepageCallsToActionMain" class="span2 homepageCallsToAction">
        Find Points
    </div>-->
    <div class="span12">
	<div class="mainPageMainStream">
        <!--<div class="sectionTitle">Find Points:</div>  -->
        {% if featuredPoint %}
			<div class="columnHeadingFeatured">
				FEATURED POINT
			</div>
			{% with featuredPoint as point %}
				{% include 'pointBox.html' %}            
			{% endwith %}
		{% endif %}
		<div id='mainPageMainArea' class="columnHeading ">
		      <button class="tab selectedTab" id="recentActivity">
		          RECENTLY ACTIVE
		      </button>
		      <button class="tab" id="editorsPicks">
		          EDITORS PICKS
		      </button>
		      <button class="tab" id="mostAgrees">
		          MOST AGREES
		      </button>
		      <button class="tab" id="mostViews">
		          MOST VIEWS
		      </button>
              {% if user %}
                <button class="tab" id="recentlyViewedTab">
		          RECENTLY VIEWED
                </button>
              {% endif %}              
		</div>
		<div id="recentActivityArea" class="tabbedArea">
			{% for point in recentlyActive %}
			   {% include 'pointBox.html' %}            
			{% endfor %}               
		</div>
        <div id="recentlyViewedArea" class="tabbedArea">
			{% for point in recentlyViewed %}
			   {% include 'pointBox.html' %}            
			{% endfor %}               
		</div>
		<div id="editorsPicksArea" class="tabbedArea"></div>
		<div id="mostAgreesArea" class="tabbedArea"></div>
		<div id="mostViewsArea" class="tabbedArea"></div>
	</div>
	</div>
</div>