<h2 class="manifestoTextTopHeader">Manifesto for<br>Online Argument</h2>
<br>
<p class="">
<h4>Discourse is dying</h4>
<p>Demagoguery and manipulation fill our public forums. Good arguments exist online but are drowned in noise, buried by time, and difficult to find. 
</p>
<p>This is bad for users and bad for society. Thoughtful evidence-based argument is how we - the public - collectively figure out answers to difficult problems. 
</p>
<p>The internet is our new public square and it desperately needs a platform where argument works.
</p>

<h4>Together, we can create a new kind of public forum</h4>
<p>What if there were a place where:</p>
<ul>
  <li><span class="bullet">•</span>Our best arguments are easily accessible to be improved and built upon;</li>
  <li><span class="bullet">•</span>Ideas are discussed based only on their merits;</li>
  <li><span class="bullet">•</span>We cannot easily be divided by cheap rhetoric.</li>
</ul>
<p>Join us in creating <strong>Whysaurus</strong>: a new visually intuitive format for online discussion that generates a Library of Arguments and the evidence behind them. 
</p>
<h4>Our principles</h4>
<h6>Arguments should be Re-Usable</h6>
<p>Each claim is stored as a re-usable node in the Library. Unlike traditional forums, where great comments are lost into oblivion as every post fades into history, in Whysaurus the energy, thought and passion of users are preserved as building blocks for the creation of new ideas.
</p>
<h6>Links should Include Meaning</h6>
<p>When one idea links to another, we record whether they support or contradict each other. Users can navigate along these links, drilling down to see the proof behind the proof on any idea. In the future, other kinds of relationships can be added to the Library.
</p>
<h6>Knowledge should be Collaborative</h6>
<p>A single argument must be able to be improved and developed by multiple contributors.
</p>
<h6>Arguments should be Evaluated</h6>
<p>Each claim is rated, so if there is a flaw in a complex argument, we can identify precisely which claim is problematic. In order to create better arguments, we need to keep score.
</p>
<h4>The best argument for any idea, at your fingertips</h4>
<p>Today, when we build an argument we are starting from the ground, when we should be standing on the shoulders of our fellow thinkers. 
</p>
<p>Following these principles will create a repository of the best arguments for any idea, where emotional manipulation and flowery rhetoric are removed, leaving <em><strong>only the core claims, arranged in a network</em></strong>. So the next time a discussion touches a difficult issue we, denizens of the internet, have a repository of the best structured argument to draw upon to support our position. 
</p>
<br><br>
<p>For controversial ideas, search has not lived up to its promise: it gives us vitriol, ads, spam and celebrity. There is a better way to organize the information we care about. 
</p>
<h4>Become an Editor</h4>
<p>We need the help of smart, level-headed editors, who are willing to collaborate in recording educated positions on issues. Your opinions no longer need to be islands: they can be connected into something bigger.
</p>
<p><strong>Join us</strong> by contributing the arguments for ideas you are passionate about, or just curious about. Or jump in and help build on arguments that others have started. 
</p>
<h4>Security</h4>
<p>We will vigorously protect any personal data that enters our ecosystem, especially the identities of contributors who use pseudonyms for political reasons.
</p>
<h4>Content</h4>
<p>Whysaurus Arguments are by and for humanity and should always be available to the public. Our content is distributed under the Creative Commons NonCommercial license. 
</p>
<h4>Code</h4>
<p>We believe in the value of open source software. We are deeply grateful for the open source tools - and the developers who labored to create them - without which Whysaurus would be an impossible dream. We don’t yet have the resources to responsibly manage an open source community for this project, so Whysaurus is closed-source, for now. We are excited about opening up some or all of the Whysaurus code in the future and are seeking team members interested in moving us closer to this goal - if that might be you, <a target="_blank" href="/contact">please let us know!</a>
</p>
<h4>Conclusion</h4>
<p>Our impassioned arguments must no longer be lost in time, like tears in rain. We must create a space where evidence-based deliberation can flourish. Help us build it, and please share this Manifesto with others who are passionate about reason.<br>
</p>
<a href="https://twitter.com/share" target="_blank" class="twitter-share-button" data-url="https://whysaurus.com/" data-text="Check out the @Whysaurus Manifesto for Online Argument" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-- TODO: style on this is broken; replace with the sharing feature being used on claims
<div class="fb-share-button" data-href="https://www.whysaurus.com/" data-width="140px" data-type="button"></div> -->

<br>
</p>