<h2 class="manifestoTextTopHeader">Manifesto to Bring Reason to Online Argument</h2>
<p>
<h4>Discourse is dying</h4>
Demagoguery and manipulation fill our public forums. Well-reasoned arguments exist online but are drowned in noise, buried by time, and difficult to find. 
<br><br>
This is bad for users and bad for society. Reasoned, thoughtful argument is how we - the public - collectively figure out answers to difficult problems. 
<br><br>
The internet is our new public square and it desperately needs a platform where argument works.


<h4>Together, we can create a new kind of public forum</h4>
What if there were a place where:<br>
<ul class="textPageBulletList">
  <li>Our best arguments are easily accessible to be improved and built upon;</li>
  <li>Ideas are discussed based only on their merits;</li>
  <li>We cannot easily be divided by cheap rhetoric.</li>
</ul>
  <br>
Join us in creating <strong>Whysaurus</strong>: a new visually intuitive format for online discussion that generates a Library of Arguments and the reasoning behind them. 
<h4>Our principles</h4>
<strong><em>Arguments should be Re-Usable</em></strong><br>
Each claim is stored as a re-usable node in the Library. Unlike traditional forums, where great comments are lost into oblivion as every post fades into history, in Whysaurus the energy, thought and passion of users are preserved as building blocks for the creation of new ideas.
<br><br>
<strong><em>Links should Include Meaning</em></strong><br>
When one idea links to another, we record whether they support or contradict each other. Users can navigate along these links, drilling down to see the proof behind the proof on any idea. In the future, other kinds of relationships can be added to the Library.
<br><br>
<strong><em>Knowledge should be Collaborative</em></strong><br>
A single argument must be able to be improved and developed by multiple contributors.
<br><br>
<strong><em>Arguments should be Evaluated</em></strong><br>
Each point is rated, so if there is a flaw in a complex argument, we can identify precisely which point is problematic.
<h4>The best argument for any idea, at your fingertips</h4>
Today, when we build an argument we are starting from the ground, when we should be standing on the shoulders of our fellow thinkers. 
<br><br>
Following these principles will create a repository of the best arguments for any idea, where emotional manipulation and flowery rhetoric are removed, leaving <em><strong>only the core claims, arranged in a network</em></strong>. So the next time a discussion touches a difficult issue we, denizens of the internet, have a repository of the best structured argument to draw upon to support our position. 
<br><br>
For controversial ideas, search has not lived up to its promise: it gives us vitriol, ads, spam and celebrity. There is a better way to organize the information we care about. 
<h4>Become an Editor</h4>
We need the help of smart, level-headed editors, who are willing to collaborate in recording educated positions on issues. Your opinions no longer need to be islands: they can be connected into something bigger.
<br><br>
<strong>Join us</strong> by contributing the arguments for ideas you are passionate about, or just curious about. Or jump in and help build on arguments that others have made. 
<h4>Contribute Code</h4>
If you are programmer, come help us with the Whysaurus open source project. This is a work-in-progress: there is much more to do - new features need to be designed and we need more ideas for how to make this project work. If you’re interested in helping code the Library of Arguments, please email us.
<h4>Our Commitments To You</h4>
Whysaurus is and always will be open source. 
<br>
<br>
The content that users create on Whysaurus is and always will be available to the public. It is currently distributed under the Creative Commons Attribution-ShareAlike license, the same license used for Wikipedia content.
<br>
<h4>Conclusion</h4>
Our impassioned arguments must no longer be lost in time, like tears in rain. We must create a space where reason and rational deliberation can flourish. Help us build it, and please share this Manifesto with others who are passionate about reason.<br>
<a href="https://twitter.com/share" target="_blank" class="twitter-share-button" data-url="https://whysaurus.com/" data-text="Check out the @Whysaurus Manifesto to bring reason to the web and create rational online debate" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div class="fb-share-button" data-href="https://www.whysaurus.com/" data-width="140px" data-type="button"></div>
<br>
</p>