{% extends "base.html" %}

{% block mainPageContent %}
<script type="text/javascript" src="/static/js/assignment.js"></script>

<div class="container">  
     <form id='frm_newAssignment' class="form-horizontal" action="javascript:;" method="POST">          
        <div class="form-header">Create New Assignment</div>
        <div class="row-fluid" id="alertArea"></div>            
        <div class="control-group">
            <label class="control-label">Title</label>
            <div class="controls">            
                <input id="title" name="title"  type="text"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" >Summary</label>
            <div class="controls">            
                <textarea id="summary" name="summary" rows="3" type="text"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" >Directions</label>
            <div class="controls">            
                <textarea id="directions" name="directions" rows="5" type="text"></textarea>
            </div>
        </div>
        <div id="doc-header">Documents</div>
        <div class="row" name="documentControls" data-documentNumber="1">
            <div class="span1" name="documentNumber">
                1
            </div>
            <div class="span11" >
                <div class="control-group">
                    <label class="doc-control-label" >Title</label>
                    <div class="controls">            
                        <input name="documentTitle" type="text"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="doc-control-label" >Content</label>
                    <div class="controls">            
                        <textarea name="documentContent" rows="5" type="text"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button id="addAnotherDocument">+ Add Another Document</button>
        </div>
        <div class="row">
            <button id="deleteAssignment">Delete Assigment</button>
            <button id="createAssignment">Create Assignment</button>
        </div>
      </form>
</div> <!--class="container"-->          

{% endblock %}
