{% extends "base.html" %}

{% block mainPageContent %}
<script type="text/javascript" src="/static/js/assignment.js"></script>

<div class="container">  
     <form id='frm_newAssignment' class="form-horizontal" action="javascript:;" method="POST">          
        <div class="row-fluid" id="alertArea"></div>
        <div class="row">
            <div class="form-header span12">Create New Assignment</div>
        </div>
        <div class="row">
            <div class="span12">
                <div class="control-group">
                    <label class="control-label">Title</label>
                    <div class="controls">            
                        <input class="input-xxlarge" id="title" name="title"  type="text"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >Summary</label>
                    <div class="controls">            
                        <textarea class="input-xxlarge" id="summary" name="summary" rows="3" type="text"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >Directions</label>
                    <div class="controls">            
                        <textarea class="input-xxlarge" id="directions" name="directions" rows="5" type="text"></textarea>
                    </div>
                </div>
            </div>
        </div>
		<div class="row">
        	<div class="span12" id="doc-header">Documents</div>
		</div>
        <div class="row" name="documentControls" data-documentNumber="1">
            <div class="span12">
                <div class="control-group">
                    <label class="doc-control-label" ><span id="doc-number" name="documentNumber">1</span> Title</label>
                    <div class="controls">            
                        <input class="input-xxlarge" name="documentTitle" type="text"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="doc-control-label" >Content</label>
                    <div class="controls">            
                        <textarea class="input-xxlarge" name="documentContent" rows="5" type="text"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="span12">
				<label class="doc-control-label"></label>
            	<div class="control-group">
					<button id="addAnotherDocument">+ Add Another Document</button>
				</div>
			</div>
        </div>
        <div class="row">
			<div class="span12" id="submitButtons">
				<label class="doc-control-label"></label>
				<div class="control-group">
            		<button id="deleteAssignment">Delete Assigment</button>
            		<button id="createAssignment">Create Assignment</button>
				</div>
			</div>
        </div>
      </form>
</div> <!--class="container"-->          

{% endblock %}
