<!DOCTYPE html>
<html>
	<body>
	  <div class="boxedElement" id="point_{{point.url}}">
  		<div class="pointSummaryTitle">{{  point.voteTotal }} <a href="/claim/{{ point.url }}">{{ point.title|escape }}</a></div>


  			<!--<div class="pointSummaryText">{{ point.content|safe }}
  			{% if point.imageURL and point.imageURL.strip %}
						<img class="listDisplay" src={{ point.imageURL }} />
						{% endif %}
  		</div>-->

  	<button id="editPoint_{{point.url}}" onClick="javascript:editPoint('{{point.url}}');">WHY</button>

    </div>
	</body>
</html>
