<!DOCTYPE xml>
		<div class="boxedElement centered" id="point_{{supportingPoint.url}}">
				<div class="pointSummaryTitle">{{ supportingPoint.voteTotal }} - <a href="/claim/{{ supportingPoint.url }}">{{ supportingPoint.title|escape }}</a></div>
				<div class="pointSummaryText">{{ supportingPoint.content|safe }}</div>
				<div class="mainPointInfo">
				<div class="mainPointAuthor">{{ supportingPoint.authorName }}</div>
				</div>
				<a href="/claim/{{supportingPoint.url}}" class="button">WHY</a>
    {% if user %}
				<a href='javascript:;' onclick='javascript:supportingPointUnlink("{{ supportingPoint.url }}")' class="button">UNLINK</a>
    {% endif %}

		</div>
