<li>
    <div class="notificationMenuItem row-fluid Submenu_text_main {%if notification.cleared %}notificationCleared{% endif %}" 
    data-refpoint="/point/{{notification.referencePoint.url}}"
    data-pointurl="{{notification.referencePoint.url}}"
    data-reason="{{notification.notificationReasonCode}}">
        <div class="span1">
            {% if notification.notificationReasonCode == 1 or notification.notificationReasonCode == 2 %}
                <img class="notificationAvatar" src="/static/img/icon_triceratops_black_47px.png"/>            
            {% else %}            
                {% if notification.sourceUserFull.avatar_url %}
                    <img class="notificationAvatar" src="{{notification.sourceUserFull.avatar_url}}"/>
                {% else %}            
                    <img class="notificationAvatar" src="/static/img/icon_triceratops_black_47px.png"/>                               
                {% endif %}                
            {% endif %}
            
        </div>
        <div class="span11 notificationText">
          <div>
          {% if notification.notificationReasonCode == 1 or notification.notificationReasonCode == 2 %}
              {% if notification.additionalUserCount > 0 %} {{notification.additionalUserCount|add:1}} users {% else %} Someone {% endif %} 
              {{notification.notificationReasonText}} a point you {{notification.followReason}}:
              <em>{{notification.referencePoint.title}}</em>
          {% else %}
              {% if notification.additionalUserCount > 0 %} 
                  {{notification.sourceUserFull.name}} and {{notification.additionalUserCount}} other{% if notification.additionalUserCount > 1 %}s{% endif %} {{notification.notificationReasonText}}
              {% else %}
                  {{notification.sourceUserFull.name}} {{notification.notificationReasonText}} 
              {% endif %} 
              a point you {{notification.followReason}}:
            <em>{{notification.referencePoint.title}}</em>
            <!-- Removing comments because they can get quite long, and to keep notifications consistent -->
            <!-- {% if notification.additionalText and notification.additionalText != None %}
            <div class="notificationCommentText"> {{ notification.additionalText|safe }} </div>
            {% endif %}-->
          {% endif %}
          </div>
          <div class="Submenu_SmallText notificationTimeStamp">
              {{notification.timeText}}
          </div>
        </div>                                   
    </div>
</li>