Hi {{user.name}},<br>
Your arguments have stimulated activity:<br>

<!-- other ideas, could be fun to randomize this 
There's been activity in your arguments you've shown interest in:<br>
People are contributing to your arguments:<br>
Your arguments are on fire, (in a good way):<br>
Users have been jumping into your arguments:<br>
The community has been jumping into your arguments:<br>
-->

<br>
{% for notification in user.notifications %}
    
        <div>
        <!-- ReasonCode 1 = agree, ReasonCode 2 = ribbon --> 
        {% if notification.notificationReasonCode == 1 or notification.notificationReasonCode == 2 %}
            {% if notification.additionalUserCount > 0 %} {{notification.additionalUserCount|add:1}} Users {% else %} Someone {% endif %} 
            {{notification.notificationReasonText}}           
            <a href="http://www.whysaurus.com/point/{{notification.referencePoint.url}}">{{notification.referencePoint.title}}</a><br>
            (a claim you {{notification.followReason}}).            
        {% else %}
            {% if notification.additionalUserCount > 0 %} 
                {{notification.sourceUserFull.name}} and {{notification.additionalUserCount}} other{% if notification.additionalUserCount > 1 %}s{% endif %} {{notification.notificationReasonText}}
            {% else %}
                {{notification.sourceUserFull.name}} {{notification.notificationReasonText}} 
            {% endif %}           
            <a href="http://www.whysaurus.com/point/{{notification.referencePoint.url}}">{{notification.referencePoint.title}}</a><br>
            <span style="font-weight:400;	font-size:0.75em;	color:#5d5d5d;	line-height:120%;">
              a claim you {{notification.followReason}}.
            </span>
        {% endif %}
        </div>
        <div style="font-weight:400;	font-size:0.75em;	color:#bdbdbd;	line-height:120%; margin-top: 4px; margin-bottom: 10px;">
            {{notification.timeText}}
        </div>

{% endfor %}
<br>
Your accomplishments on Whysaurus, so far:
{{user.createdCount }} Claims created
{{user.editedCount }} Claims contributed to
<br>
Whysaurus is a work-in-progress. If you have suggestions, we'd love to hear them.<br>
<br>
<br>
Warmly,<br>
Whysaurus<br>
<br>
<span style="font-weight:400;	font-size:0.75em;	color:#6D6E70;	line-height:120%;">
You can adjust the frequency of these emails by clicking "Edit Email Settings" on <a target="_blank" href="http://www.whysaurus.com/user/{{user.url}}">your profile page.</a><br>
Follow Whysaurus on <a target="_blank" href="https://twitter.com/Whysaurus">Twitter</a> and <a target="_blank" href="https://www.facebook.com/Whysaurus">Facebook</a>
</span>
<br>
<br>
