<div id="rightColumnContent" class="row-fluid commentsColumn">
    <div class="row-fluid">
        <div class="commentInstruction">
            <!-- header is obscuring id links so I'm being hacky and linking to the previous id -->
            Discuss how to make this point <a href="/WhatIsWhysaurus#PointStrengthLink" target="_blank">stronger</a> by adding a <a id="showAddComment">Comment.</a> 
        </div> 
        
        <!--<button id="showAddComment" class="borderButton commentsButton">New Comment<img class="commentIcon" src="/static/img/speech_bubble_icon_grey.png"/></button>  -->    


        <!-- old comments heading:
        <div class="span6 columnHeading" id="commentCount">
            {{Comments|length}} Comment{% if comments|length != 1 %}s{%endif%}
        </div>
        <div class="span6">
            <button id="showAddComment" class="borderButton pull-right">New Comment </button>                
        </div> -->
    </div>
  
    <div class="row-fluid">              
        <div id="addComment" class="hide">
              <textarea id="commentText" width="100%"
               class="mceEditor textEdit" rows="3"                       
               placeholder="Type your comment here..."></textarea>
              <input id="rootUrlSafe" type="hidden" name="p" value="{{pointRoot.key.urlsafe}}" />            
            <div class="">
              <button id='saveCommentSubmit' class="pull-right">Save Comment</button>
            </div>
        </div>
    </div>
    <div id="comments" class="commentArea">     
        {% for comment in comments %}
            <div class="row-fluid cmmnt level{{comment.level}}">
                <div class="cmmnt-content span11">
                  {{comment.text|safe}}
                  <a href="/user/{{comment.userUrl}}" class="userlink">{{comment.userName}}</a> 
                    - <span class="pubdate">{{comment.PSTdateText}}</span>
                </div>
                <div class="span1">
                    <a name="commentReply" data-parentkey="{{comment.key.urlsafe}}">Reply</a>
                    {% if user and user.admin and comment.level == 0 %}
                        <a name="commentArchive" data-commentkey="{{comment.key.urlsafe}}">Archive</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>   
        {% if pointRoot.numArchivedComments > 0 %}
        <div id="archivedComments" class="commentArea">   
            This point has <span id="numArchivedComments">{{pointRoot.numArchivedComments}}</span> archived comment{%if pointRoot.numArchivedComments > 1%}s{% endif%}.                     
            <a id="commentViewArchived" alt="Show Archived Comments">Show</a>
        </div>
        {% endif %}
</div>      


