
	<div class="pointCard" data-pointurl='{{point.url}}' data-pointrootus='{{point.rootURLsafe}}'>
	   <div class="row-fluid">
	       <div class="span{% if point.imageURL and point.imageURL.strip %}10{% else %}12{% endif %}">
	          <div class="pointTitle">
	            <a href="/point/{{ point.url }}" style="text-decoration:none">{{ point.title|escape }}</a>
	          </div>
	      </div>     
        {% if point.imageURL and point.imageURL.strip %}                        
	      <div class="span2">
	            <img class="listDisplay" src="{{ point.summaryBigImage }}" />
	      </div>
        {% endif %}            
          
	    </div>    
      
        <div class="pointBoxActionLine">  
          <a class="pointBoxActions">Agree</a>&#183;<!-- &#183; = small dot -->
          <a class="pointBoxActions">Disagree</a>&#183;<!-- &#183 = small dot -->
          {% if point.numSupporting > 0 or point.numCounter > 0 or point.getSources > 0 %}
            <a class="pointBoxActions">See Evidence<!--({{ point.numSupporting }}-{{ point.numCounter }})--></a>
          {% else %} 
            <a class="pointBoxActions needsEvidence">Needs Evidence</a>
          {% endif %} 
          <span class="pointBoxStatsRow">
			  {% if point.voteTotal != 0 %}
				  <span class="stat"><img class="iconAgreesSmall" src="/static/img/agreesIconSmall.png"/>&nbsp{{ point.voteTotal }}</span>
			  {% endif %}            
			  <!--{% if point.ribbonTotal != 0 %}			
	          	<span class="stat"><img src="/static/img/awardsIconSmall.png"/>{{ point.ribbonTotal }}</span>
  			  {% endif %} -->            
			  {% if point.sources|length != 0 %}							
			  	<span class="stat"><img class="iconSourcesSmall" src="/static/img/sourcesIconSmall.png"/>&nbsp{{ point.sources|length }}</span>
			  {% endif %}
			  <!--{% if point.numSupporting > 0 %}							
			  	<span class="stat"><img class="iconSourcesSmall" src="/static/img/link_icon_16px.png"/>&nbsp{{ point.numSupporting }}-{{ point.numCounter }}</span>
			  {% endif %}   -->            
           </span> 
        </div>
          
          <!--
		  {% if point.numSupporting > 0 or point.numCounter > 0 %}
		      <div class="row-fluid no-space gauge">
		          <span class="linkStat 
		                    {% if point.onlyCounter %} counterColor 
		                    {% else %} supportColor 
		                    {% endif %}
		                pull-left" 
		                style="width:{% widthratio point.linksRatio 100 100 %}%">
	            
		          </span>
		          <span class="linkStat                     
		                    {% if point.onlySupport  %} supportColor 
		                    {% else %} counterColor 
		                    {% endif %} pull-right" 
		                style="width:{% widthratio point.reverseLinksRatio 100 100 %}%">
	             
		          </span>
		          <div class="gaugeText gaugeSupporting">
					  {{ point.numSupporting }} SUPPORTING
		          </div>
		          <div class="gaugeText gaugeCounter">
					  {{ point.numCounter }} COUNTER
		          </div>			  
		      </div>  
		  {% endif %} 
          -->          
	</div>

