<div class="pointCard toggleChildVisOnHover {% if point.belowRelevanceThreshold %} belowThreshold{% endif %}" data-pointurl='{{point.url}}'>

    <div class="pointCardChild {% if point.numSupportingPlusCounter > 2 %}pointCardDrawn{% else %}pointCardHidden{% endif %} 
                               {% if point.linksRatio <= 75 %}pointCardRed{% else %}pointCardGrey{% endif %}">
        <div class="pointCardChild {% if point.numSupportingPlusCounter > 1 %}pointCardDrawn{% else %}pointCardHidden{% endif %} 
                                   {% if point.linksRatio <= 50 %}pointCardRed{% else %}pointCardGrey{% endif %}">                        
            <div class="pointCardChild {% if point.numSupportingPlusCounter > 0 %}pointCardDrawn{% else %}pointCardHidden{% endif %} 
                                       {% if point.linksRatio <= 20 %}pointCardRed{% else %}pointCardGrey{% endif %}">             
                <div class="pointCardTop pointCardChild pointCardDrawn pointCardGrey">  
                    <div class="row-fluid">
                        <div class="span{% if point.imageURL and point.imageURL.strip %}10{% else %}12{% endif %} {% if point.imageURL and point.imageURL.strip %}responsivePointBoxTitleWithImage{% endif %}">
                            <div class="pointTitle">
                                <a href="/point/{{ point.url }}" style="text-decoration:none">                  
                                    <span>{{ point.title|escape }}</span>
                                </a>
                                <!--<span class="ux2ScoreInLine {% if point.voteTotal == 0 %}hidden{% endif %}">-->

                                <!-- create space for font-size animation with scoreAnimContainers -->
                                <span class="scoreAnimContainerMax">
                                    <span class="scoreAnimContainerReset">
                                        <span class="ux2ScoreInLine hidden">
                                            <span id="ux2ScoreInLinePlus" class="{% if point.voteTotal < 1 %}hidden{% endif %}">+</span><span name="voteTotalArea" class="{% if point.voteTotal < 0 %}redScore{% endif %}"><span name="voteTotal" data-myvote="{{point.vote}}">{{ point.voteTotal }}</span></span>
                                        </span>
                                        <span class="ux2ScoreInLine">
                                            {% if point.pointValue > 0 %}
                                            <span name="pointValueArea" class="positiveScore" data-myvalue="{{point.pointValue}}">+{{ point.pointValue }}</span>
                                            {% endif %}
                                            {% if point.pointValue < 0 %}
                                            <span name="pointValueArea" class="redScore" data-myvalue="{{point.pointValue}}">{{ point.pointValue }}</span>
                                            {% endif %}
                                            {% if point.pointValue == 0 %}
                                            <span name="pointValueArea" class="noScore" data-myvalue="{{point.pointValue}}">+{{ point.pointValue }}</span>
                                            {% endif %}
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>     
                        {% if point.imageURL and point.imageURL.strip %}                        
                            <div class="span2 responsivePointBoxImage">
                                <img class="listDisplay" src="{{ point.summaryBigImage }}" />
                            </div>
                        {% endif %}                      
                    </div>
                    <div class="pointBoxBelowTitle">
                        {% if point.getSources > 0 %}                    
                            <div class="pointBoxSourcesArea">
                                {% for source in point.getSources %}
                                <div name="mainPointSource" class="mainPointSourceEntry">                     
                                    <img class="iconSourcesSmall" src="/static/img/sourcesIconSmall_grey.png"/><a data-sourceKey={{source.key.urlsafe}}  href="{{source.url}}" target="_blank">{{source.name}}</a> 
                                </div>                   
                                {% endfor %}
                            </div>                                                        
                            <!--
                            <div class="row-fluid sourceLine">
                                <span class="stat showStatOnHover">
                                    <img class="iconSourcesSmall" src="/static/img/sourcesIconSmall_grey.png"/>{{ point.sources|length }}
                                </span>
                            </div>
                            -->                                                                       
                        {% endif %}
                        <div class="pointBoxActions pointBoxStatLine row-fluid" name="pointBoxActionLine">	
                        <span class="stat">
                            {% if point.numSupporting > 0 or point.numCounter > 0 or point.getSources > 0 %}
                                <span><a class="pointBoxActions seeEvidence" href="/point/{{ point.url }}">See Evidence</a></span>
                                
                                <!-- arrow icons
                                {% if point.numSupporting > 0 %}
                                    <img class="arrowIcon" src="/static/img/arrowBent_small_black.png"/>
                                {% endif %}
                                {% if point.numCounter > 0 %}
                                    <img class="arrowIcon" src="/static/img/arrowBent_small_red.png"/>
                                {% endif %}
                                -->                                                
                            {% else %} 
                                <!--<span ><a class="pointBoxActions needsEvidence " href="/point/{{ point.url }}">No Evidence, add some</a></span>-->
                                <span ><a class="pointBoxActions needsEvidence" href="/point/{{ point.url }}"><span class="shownStatTillHidden">No </span><span class="hiddenStatTillRevealed">Add </span>Evidence</a></span>                                
                            {% endif %}
                        </span>
                        <span class="">
                            <!--<span> &#183;  </span> --><!-- that's a small dot -->
                            <div name="UpVote" class="pointBoxActions {% if point.vote %}{% if point.vote == 1 %} greenVote {% else %} inactiveVote {% endif %}{% endif %} noRightMargin agreeInlineMargin"><span class="scaleDownOnClick">Agree</span></div>
                            <div name="DownVote" class="pointBoxActions noRightMargin {% if point.vote %}{% if point.vote == -1 %} redVote {% else %} inactiveVote {% endif %}{% endif %}"> <span class="scaleDownOnClick">Disagree</span></div>
                        </span>  

                        <!-- arrow icons old	
                        <span class="stat showStatOnHover">
                            <img class="arrowIcon" src="/static/img/arrowBent_small_black.png"/><span>{{ point.numSupporting }}</span><span class="hiddenStatTillRevealed"> Supporting Point{% if point.numSupporting != 1 %}s{% endif %}</span>
                        </span>		
                              
                        <span class="stat showStatOnHover">
                            <img class="arrowIcon" src="/static/img/arrowBent_small_red.png"/><span>{{ point.numCounter }}</span><span class="hiddenStatTillRevealed"> Counter Point{% if point.numCounter != 1 %}s{% endif %}</span>
                        </span>
                        --> 
                        
                        <!-- Old: handshake icon with score
                        <span name="voteTotalArea" class="stat showStatOnHover {% if point.voteTotal == 0 %}hiddenForNow{% endif %} {% if point.voteTotal < 0 %}redScore{% endif %}  ">
                            <img class="iconAgreesSmall" src="/static/img/agreesIconSmall_{% if point.voteTotal >= 0 %}grey{% else %}red{% endif %}.png"/><span name="voteTotal" data-myvote="{{point.vote}}">{{ point.voteTotal }}<span class="hiddenStatTillRevealed" name="netagreestext"> Net Agrees</span></span>
                        </span>
                        -->
		
                    </div>           
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
