{% extends "twoColumnLayout.html" %}

{% block headBlock %}  
  <script type="text/javascript" src="/static/js/point.js"></script>  
  <script type="text/javascript" src="/static/js/jquery.screwdefaultbuttonsV2.min.js"></script>
{% endblock %}

{% block leftColumnContent %}    
    {% include 'pointContent.html' %}
{% endblock %}

{% block rightColumnContent %}
    {% if currentAssignment %}
        {% include 'assignment.html' %}      
    {% else %}
        {% include 'pointComments.html' %}      
    {% endif %}
{% endblock %}

