{% extends "base.html" %}

{% block mainPageContent %}
  <script type="text/javascript" src="/static/js/profile.js"></script>

  <div class="row {% if user and user.privateArea %}privateAreaContentOffset{% endif %}">
    <div id="userInfoArea" class="span3 profileAreaColumn" >
       
        {% if profileUser.avatar_url %}   
             <img class="profilePic" src='{{profileUser.avatar_url}}'/>                            
        {% else %}
            <img class="profilePic" src='/static/img/avatar_profilePage_default.png'/>
        {% endif %} 
        <div class="row-fluid">
          <div id="display_userName" class="columnHeading columnHeadingBig" style="line-height:25px">
              {{profileUser.name}}
          </div>  
        </div> 
        <div class="profileStatsArea profileBodyText userInfoAreaTempWidth">        
            <!--<p class="profileInfoHeading">Stats</p>-->
            <div>{{profileUser.createdCount }} Claims created</div>
            <div>{{profileUser.editedCount }} Contributed to</div>
        </div>
        <div id="display_userBio" class="profileBodyText userInfoAreaTempWidth" >
          {% if profileUser.bio %}
              <div class="profileItem">{{profileUser.bio}}</div>
          {% endif %} 
          {% if profileUser.websiteURL %}
              <div class="profileItem"><a href="{{profileUser.websiteURL}}" target="_blank">{{profileUser.websiteURL}}</a></div>           
          {% endif %}
          {% if viewingOwnPage %}                     
              <a  name="profileEdit" class="profileItem editProfileLink">Edit Settings</a>
          {% endif %}                
        </div> 


        <!--
        <div id="display_userAreas" class="profileBodyText userInfoAreaTempWidth" >
          {% if profileUser.areasOfExpertise %}
              Areas of Expertise: {{profileUser.areasOfExpertise}}
          {% endif %}
        </div>        
        <div id="display_userProfession" class="profileBodyText userInfoAreaTempWidth" >
          {% if profileUser.currentProfession %}
              Current Profession: {{profileUser.currentProfession}}            
          {% endif %}
        </div>
        -->            
    </div>
    {% if viewingOwnPage %}              
      <div class="modal hide fade" data-keyboard="true" id="profileDialog" role="dialog" aria-hidden="true">
         <form id='frm_profileDialog' class="" action="./{{user.url}}" method="POST">          
            <div class="modal-header"><h3>Edit Settings</h3></div>    
            <div class="row-fluid" id="alertArea"></div>    
            <div class="modal-body">       
              <!-- <div class="control-group">
                <label class="control-label" for="userName">Name</label>
                <div class="controls">            
                    <input id="userName" name="userName"  type="text" value="{{profileUser.name}}"></input>
                </div>
              </div>  -->     
                <div class="control-group"> 
                    <label class="control-label" for="userEmail">Email</label>
                    <div class="controls">            
                        <input id="userEmail" class="fieldEdit" name="userEmail" type="text" value="{% if profileUser.email %}{{profileUser.email}}{% endif %}"></input>
                    </div>
                </div>    
              <div class="control-group">            
                <label class="control-label" for="userWebsite">Website URL</label>
                <div class="controls">            
                    <input id="userWebsite" class="fieldEdit" name="userWebsite" type="text" value="{% if profileUser.websiteURL %}{{profileUser.websiteURL}}{% endif %}"></input>
                </div>
              </div>
              <!--<div class="control-group">
                <label class="control-label" for="userAreas">Areas of Expertise</label>                            
                <div class="controls">            
                    <input id="userAreas" name="userAreas" type="text" value="{% if profileUser.areasOfExpertise %}{{profileUser.areasOfExpertise}}{% endif %}"></input>
                </div>
              </div>
              <div class="control-group">
                <label  class="control-label" for="userProfession">Current Profession</label>                                      
                <div class="controls">            
                    <input id="userProfession" name="userProfession" type="text" value="{% if profileUser.currentProfession %}{{profileUser.currentProfession}}{% endif %}"></input>
                </div>
              </div>-->
              <div class="control-group">
                <label  class="control-label" for="userBio">Short Bio </label>                                                
                <div class="controls">            
                    <textarea id="userBio" class="fieldEdit" name="userBio" type="text" rows="3">{% if profileUser.bio %}{{profileUser.bio}}{% endif %}</textarea>   
                </div>
              </div> 
                <div id="notificationFrequencyGroup" class="control-group">    
                    <label id="notificationFrequencyGroupLabel" class="control-label" for="notificationFrequency">Email Notifications</label>   
                    <div class="radioButtonGrpDefault" data-toggle="buttons">
                        <label class="radioButtonLabelDefault">
                            <input type="radio" name="userNotificationFrequency" value='Daily'
                            {% if profileUser.notificationFrequencyText == 'Daily' %}checked {% endif %}>Daily
                        </label>
                        <label class="radioButtonLabelDefault">
                            <input type="radio" name="userNotificationFrequency" value='Weekly'
                            {% if profileUser.notificationFrequencyText == 'Weekly' %}checked {% endif %}>Weekly
                        </label>
                        <label class="radioButtonLabelDefault">
                            <input type="radio" name="userNotificationFrequency" value='Never'
                            {% if profileUser.notificationFrequencyText == 'Never' %}checked {% endif %}>Never
                        </label>
                    </div>                    
                </div>              
            </div>    
            <div class="modal-footer">
                <a  id="submit_profileDialog" class="btn btn-primary">Save changes</a>            
                <a  class="btn btn-cancel" data-dismiss="modal">Cancel</a>
            </div> 
          </form>
      </div>
    {% endif %}          
   
    <div id="profileTabbedArea" class="span6 profileAreaColumn">                    
        <div id="profileDisclaimer">
            Remember, Whysaurus users don't always agree with claims they create!
        </div>
        <div class="columnHeading">                                         
                <button class="tab" id="createdPoints">
                    CREATED
                </button>
                <button class="tab" id="editedPoints">
                    CONTRIBUTED TO
                </button>
                {% if viewingOwnPage %}                    
                    <button class="tab selectedTab" id="notificationView" >
                        NOTIFICATIONS
                    </button>
                {% endif %}                 
        </div>                                       
        <div id="createdPointsArea" class="tabbedArea">
          {% for point in createdPoints %}
             {% include 'pointBox.html' %}            
          {% endfor %}               
        </div>        
        <div id="editedPointsArea" class="tabbedArea">
          {% for point in editedPoints %}
             {% include 'pointBox.html' %}            
          {% endfor %}               
        </div>
        {% if viewingOwnPage %}                            
            <script>var viewingOwnPage = true;</script>
            <div id="notificationsArea" class="tabbedArea">
                {% for notification in notifications %}
                    {% include 'notificationMenu.html' %}            
                {% endfor %}
            </div>
        {% else %}
            <script>var viewingOwnPage = false;</script>      
        {% endif %}            
    </div> 
  </div>
    
  
{% endblock %}
