{% extends "base.html" %}

{% block mainPageContent %}
<div class="row">
<div class="span2">
  <div class="affix" data-spy="affix" data-offset-top="60" data-offset-bottom="200" role="complementary">
      <ul id="educationInfoNav">
        <li><a href="/apushistory">&middot; AP US History</a></li>
        <li><a href="/education">&middot; Education</a></li>
      </ul>
  </div>
</div>

<div id="content" class="span9 walkthrough">
    <h2 id="ccOverview" class="idLinkOffset">Sample AP US History Assignment in Whysaurus</h2>
    
    <p>This page will illustrate how students and teachers can use Whysaurus to complete the following AP US History sample assignment:</p>
    
    <ul class="infoToggle">
      <p>
        <a>Construct a persuasive historical argument</a>
      </p>
      <li class="hide">
        <p>
          Given historical evidence - documents, essays, articles, etc.
          <br/>
          <br/>
          1) Select a historical argument to make from one of the provided options, eg:<br/>
          <br/> 
          <span class="assignmentBullets">
            &middot; “All of the causes of the Civil War arose because of slavery.”<br/>
            &middot; “The geographical differences between the Northern and Southern States were key factors in the development of their cultural differences.”<br/>
            &middot; An argument of your choosing.
          </span>
          <br/> 
          <br/>
          Then, [in groups or as individuals], build your main argument as a <em>point</em> in Whysaurus:<br/>
          <br/>
          <span class="assignmentBullets">
            &middot; Identify evidence in the provided documents: add each specific item of evidence as a <em>supporting point</em>.<br/>
            &middot; Attach <em>sources</em> linking to the document, [optionally, include a full bibliographic entry in the source's text field].<br/> 
            &middot; Identify potential counter-arguments and add them as <em>counter points</em>.
          </span>
          <br/> 
          <br/>
          This phase will be due [date].<br/>
          <br>
          <br>
          2) Use Whysaurus’s annotation tools to critique the argument made by [your assigned classmate]:<br/>
          <br/>
          <span class="assignmentBullets">
              &middot; <em>Agree</em> or <em>disagree</em> with each claim and subclaim.<br/>
              &middot; Rate the <em>relevance</em> of each supporting and counter point.<br/> 
              &middot; Think of 2 points that the author did not raise, which would either support or counter her or his argument, and add them as <em>supporting</em> or <em>counter points.</em><br>
              &middot; Attach a <em>comment</em> to the <em>top point</em> addressing whether you believe the author’s argument is persuasive
          </span>.<br/> 
          <br/>
          This phase will be due [date].<br/> 
          <br/>
          <br/>
          A step-by-step illustration of how this lesson plan could be implemented in Whysaurus is <a target="_blank" href="../walkthrough">here</a>.<br/>                                       
        </p>
        <br/>
      </li>
    </ul>
            
    <h4>Step 1: Student adds Argument as a “Point”</h4>

    <p>Once the student has signed in and navigated to the class’s Private Area, the student can add his or her argument as a point by clicking on <strong>MAKE A POINT</strong> in the top menu.</p>
    <img src="/static/img/walkthrough/Screenshot01.png" />


    <p>The student can then enter the text of his or her argument into the text box (limit 140 characters).</p>
    <img src="/static/img/walkthrough/Screenshot02.png" />


    <p>The student can then click on the <strong>Publish to Library</strong> button to publish his or her argument as a point to the class’s Private Area.</p>
    <img src="/static/img/walkthrough/Screenshot03.png" />

    <h4>Step 2: Student adds Evidence as Supporting Points, Sources and Counter Points</h4>

    <p>Once the point has been published to the library, the student can add evidence in favor of the point by clicking on the <strong>Add a Supporting Point</strong> button.</p>

    <img src="/static/img/walkthrough/Screenshot04.png" />

    <p>Since the student is creating the supporting point from scratch, he or she should click <strong>Make a new point</strong> from the dropdown.</p>
    
    <img src="/static/img/walkthrough/Screenshot05.png" />

    <p>The student can now add text making a claim that supports his or her argument.</p>

    <img src="/static/img/walkthrough/Screenshot06.png" />

    <p>The student can then add a link to the document that is the source of their evidence by clicking on <strong>Add Sources</strong>.</p>
    <img src="/static/img/walkthrough/Screenshot07.png" />

    <p>Once the student has published evidence as a supporting point, it will appear under the “Why it’s TRUE” arrow of the student’s original argument.</p>

    <p>The student can then click on the <strong>Add a Counter Point</strong> button to add any potential counter-arguments to his or her argument.</p>

    <img src="/static/img/walkthrough/Screenshot08.png" />

    <p>Note:
    Each of these Supporting and Counter Points can then be supported or countered by additional points, so students can drill as far down into the argument as they want.</p>

    <h4>Step 3: Student’s Classmate rates on Relevance and votes on Agreement</h4>

    <p>This student’s classmates can now rate the relevance of each supporting point and counter point to the argument above by clicking on the <strong>Relevance</strong> link.</p>

    <img src="/static/img/walkthrough/Screenshot09.png" />

    <p>The classmate can then select a percentage that reflects how relevant this evidence is to the argument. In this example, the student is selecting <strong>66%</strong> relevance, because evidence from 1860 is being used to support an argument about 1848.</p>

    <img src="/static/img/walkthrough/Screenshot10.png" />

    <p>The student’s classmate can then vote on whether or not he or she agrees with the main argument by clicking on either the <strong>Agree</strong> or <strong>Disagree</strong> link.</p>

    <img src="/static/img/walkthrough/Screenshot11.png" />


    <p>Once the classmate has voted, his or her choice will appear as highlighted so the classmate can remember how he or she voted. The classmate’s vote will also be added to the vote total next to the handshake icon.</p>

    <img src="/static/img/walkthrough/Screenshot12.png" />

    <p>The classmate can also vote on whether or not he or she agrees with any of the supporting points or counter points by hovering the mouse over the point and clicking on either the Agree or Disagree link that appears.</p>

    <img src="/static/img/walkthrough/Screenshot13.png" />

    <p>As before, the classmate’s vote will be recorded and added to the vote total.</p>

    <img src="/static/img/walkthrough/Screenshot14.png" />

    <p>Note:
    In Whysaurus, votes on relevance and agreement are kept anonymous, so voting cannot be affected by peer-pressure. </p>

    <h4>Step 4: Student’s Classmate comments on the Argument</h4>

    <p>The student’s classmate can add a comment to a point by clicking on the <strong>Add a Comment</strong> link on the right hand menu.</p>

    <img src="/static/img/walkthrough/Screenshot15.png" />

    The comment can be saved with the <strong>Save Comment</strong> button.
    <img src="/static/img/walkthrough/Screenshot16.png" />

    <p>Once the comment has been saved, others can see the comment text and the time and date of the comment’s submission. Others can also reply to a specific comment by using its <strong>Reply</strong> link.</p>

    <img src="/static/img/walkthrough/Screenshot17.png" />

    <h4>Step 5: Student’s Classmate adds additional Supporting Points or Counter Points</h4>

    <p>The student’s classmate can add additional supporting points or counter points using the <strong>Add a Supporting Point</strong> and <strong>Add a Counter Point</strong> buttons.</p>
    <img src="/static/img/walkthrough/Screenshot18.png" />

    <p>The student’s classmate may want to directly counter one of the supporting or counter points of the argument. To do so, the classmate can click on the text of the point he or she wants to counter. This will move the selected point to the top and reveal its supporting and counter points, if any. </p>

    <img src="/static/img/walkthrough/Screenshot19.png" />

    <p>From here, the classmate can choose to <strong>Add a Supporting Point</strong> or <strong>Add a Counter Point</strong>.</p>

    <img src="/static/img/walkthrough/Screenshot20.png" />
    <img src="/static/img/walkthrough/Screenshot21.png" />

    <p>Once this point has been published, students can navigate back up the argument chain to the original point via the <strong>Supporting 1 Point</strong> link.</p>
    
    <img src="/static/img/walkthrough/Screenshot22.png" />
    
    <p>The new counter point will now be indicated in the summary of the point that it is countering.</p>
    <img src="/static/img/walkthrough/Screenshot23.png" />

  </div>

</div>
{% endblock %}
 